[2014-10-17 16:34] baileych opened #1 "Please add identity mappings for standard concepts"
Standard concepts should have a row in the concept_relationship table with a 'Maps to' relationship to themselves.  This is required for table-driven ETL.  Thanks.

[2014-11-10 23:22] ericaVoss opened #2 "VOCAB_ID="Condition Type" - Odd Character â€“"
[code]
Noticed this odd character popping up in CONCEPT table.

[2015-01-05 18:08] fdefalco opened #5 "MedDRA Concepts missing Class"
Instead of Preferred Term , Lowest Level Term, etc.. the CONCEPT_CLASS_ID is just MedDRA

[2015-01-05 18:47] cgreich commented on #5
Will be fixed in the upcoming release.

From: Frank DeFalco [mailto:notifications@github.com]
Sent: Monday, January 05, 2015 1:08 PM
To: OHDSI/Vocabulary-v5.0
Subject: [Vocabulary-v5.0] MedDRA Concepts missing Class (#5)

Instead of Preferred Term , Lowest Level Term, etc.. the CONCEPT_CLASS_ID is just MedDRA

—
Reply to this email directly or view it on GitHub <https://github.com/OHDSI/Vocabulary

[2015-01-05 20:08] fdefalco opened #6 "concepts with no names"
approximately 9k concepts have no names

[2015-01-05 21:38] cgreich commented on #6
Frank:

Will be fixed for all but the GPI ones. Those are restricted. So, for your public tools it shouldn’t matter. For you private tools – give me the money. J

C

From: Frank DeFalco [mailto:notifications@github.com]
Sent: Monday, January 05, 2015 3:09 PM
To: OHDSI/Vocabulary-v5.0
Subject: [Vocabulary-v5.0] concepts with no names (#6)

approximately 9k concepts have no names

—
Reply to this em

[2015-01-09 15:14] pbr6cornell opened #7 "Symptom of potential issue with consistency of mappings from ICD9->SNOMED from VocabV4->VocabV5"
In Vocab V4, the ICD-9 code for Rhabdomyolysis (728.88) is mapped to SNOMED concept 137967 ("Muscle, ligament and fascia disorders"), even though there is a SNOMED concept 4345578 (“Rhabdomyolysis”). (and there are 58 other codes that map into 137967)

In Vocab V5, the same ICD-9 code is not mapped to any SNOMED code.

I would like for us to have a more systematic approach of evaluating them. In t

[2015-01-09 16:13] pbr6cornell opened #8 "Consistency in classifying domains for measurements and observations"
Why is concept ‘Yes’ (4188539) a Measurement Value, and concept ‘No’ (4188539) an observation?

Same for ‘Normal’ (4069590) and ‘Abnormal’ (4135493), and for ‘+’ (4123508) and ‘++’ (4126673).

I would have expected these concepts to fall within the same domain (presumably Measurement)

[2015-01-09 16:17] pbr6cornell opened #9 "Add UCUM concept of "per day""

[2015-01-09 16:18] pbr6cornell opened #10 "Maintaining full LOINC description (long_common_name) in CONCEPT_NAME field"
There are LOINC concepts whose name are the LOINC short-form, making them ambiguous. It would be better to use the LOINC long_common_name as concept name instead.

For example:

Both concepts 3035064 and 43055681 have concept_name "Creatinine", whereas the corresponding LOINC long_common_names are 'Deprecated Creatinine' and 'Creatinine [Mass/time] in unspecified time Urine by calculation' resp.

[2015-01-09 16:21] pbr6cornell opened #11 "Fix ctl files to hande commas in the source vocabulary descriptions"
For some of the import scripts, including LOINC, comma-containing descriptions are enclosed in ", but the sqlldr doesn't see it. As a result, the descriptions are truncated, in the worst case to "1".

[2015-01-09 16:24] pbr6cornell opened #12 "Add DrugBank with mapping to RxNorm"
Use these scripts and adapt: https://code.google.com/p/swat-4-med-safety/source/browse/trunk/linkedSPLs/ChEBI-DrugBank-bio2rdf-mapping/README

Rich Boyce provided two tab delimited files containing mappings from FDA UNII to DrugBank and RxNorm. The readme and script that generates the mapping is attached FYI. The code is being streamlined and merged into the bio2rdf linkedSPLs project for now but,

[2015-01-09 16:51] cgreich commented on #7
Patrick:

Weird. Vocab 5 has that mapping. Your very own query gives me:

Rhabdomyolysis         Muscle, ligament and fascia disorders            Maps to

Rhabdomyolysis         Myositis          ICD9CM - FDB Ind

Rhabdomyolysis         Rhabdomyolysis         ICD9CM – MedDRA

Obviously, we are fixing this particular mapping.

But there is no, as I was afraid, systematic loss of mappings.

The ques

[2015-01-09 17:09] cgreich commented on #8
Patrick:

Your first question: Because of a glitch in the propagation of domains. Yes is a child of “Presence findings”, and No is a child of “Absence findings”. In the upcoming release it is all sorted. Both are domain “Meas Value”.

Your second question: Abnormal: Because the domain “Meas Value” is assigned to all children of 4135493 “Findings values”. While Normal is a child of 417476 “Normalit

[2015-01-09 20:16] pbr6cornell opened #13 "Ancestry shows drugs as descendent of conditions"
Code used to identify an unusual finding:

select     a.*,

                                                                b.concept_name as descendant_name,

                                                                c.concept_name as ancestor_name

from

         REF_OMOP_VOCAB..CONCEPT_ancestor a

         left outer join

         REF_OMOP_VOCAB..concept b

    on a.descendant_concept_id

[2015-01-09 20:22] pbr6cornell commented on #7
I see those mappings now.  So I guess for this issue, I only submit that I'd prefer to see the ICD-9 code for rhabdomyolysis mapped to the SNOMED concept of rhabdomyolysis (4345578).   And I wonder whether these general rules could be applies as quality checking heuristics:

1.  Mapping to a concept that has zero term similarity with the source term, even though there is a code with 100% similarit

[2015-01-09 20:30] pbr6cornell opened #14 "Fix ICD-9 to SNOMED duplicate mappings"
There are duplicate mappings in ICD-9 to SNOMED:
201.20 Hodgkin's sarcoma, unspecified site, extranodal and solid organ sites - being cut into
437817 Hodgkin's sarcoma of extranodal AND/OR solid organ site
4038840 Hodgkin's sarcoma

[2015-01-09 21:05] cgreich commented on #7
Good point. Should make both of these separate issues.

From: Patrick Ryan [mailto:notifications@github.com]
Sent: Friday, January 09, 2015 3:23 PM
To: OHDSI/Vocabulary-v5.0
Cc: Christian Reich
Subject: Re: [Vocabulary-v5.0] Symptom of potential issue with consistency of mappings from ICD9->SNOMED from VocabV4->VocabV5 (#7)

I see those mappings now. So I guess for this issue, I only submit that I

[2015-01-10 00:59] pbr6cornell opened #15 "Multiple mappings of NDC codes to RxNorm"
There appear to be some NDC codes that map to multiple RxNorm concepts.  I would have expected a 1-to-1 relationship, unless it was a combination drug that could only be mapped to the component ingredients, but this query shows other examples.

select c1.concept_code, count(8) from concept_relationship r, concept c1, concept c2 where 1=1

and relationship_id='Maps to' and r.invalid_reason is null

[2015-01-10 01:02] pbr6cornell opened #16 "MedDRA concept class should differentiate PT/HLT/HLGT/SOC"
In VocabV4, MedDRA concepts could be classified by the concept_class as PT/HLT/HLGT/SOC, but that classification no longer exists in Vocabv5.  This information is necessary for enabling proper filtering and hierarchical representation of MedDRA.

[2015-01-21 13:27] cgreich opened #17 "From Cristyn: Records are missing from concept_ancestor"
Hi Christian, fyi, I'm finding that records are missing from concept_ancestor. For example:
$ grep "^3800361[4-6]," CONCEPT.csv
38003614,European,Race,Race,Race,S,5.01.,19700101,20991231,
38003615,Middle Eastern or North African,Race,Race,Race,S,5.02.,19700101,20991231,
38003616,Arab,Race,Race,Race,S,5.03.,19700101,20991231,
$ grep ",3800361[4-6]," CONCEPT_RELATIONSHIP.csv | grep Sub
8527,38003614

[2015-01-23 16:07] fdefalco opened #18 "include icd9 hierarchy"

[2015-01-28 21:20] ericaVoss commented on #17
Let me add to this:

[code]

[2015-01-28 21:43] ericaVoss commented on #17
Took a larger approach to this:

Of the 160,313 valid RxNorm concepts, only 25% of them have a CONCEPT_ANCESTOR mapping and of those only 3% get mapped to an ingredient.

[code]

[2015-01-30 18:58] pbr6cornell opened #19 "Standard concept for race of 'Black'"
There are two standard concepts for 'Black',  one is 'Black' the other is 'Black or African American'.  I recommend we choose one to be standard and set the other as non-standard, mapping to the first as standard.  Since 'Black of African American' appears to be the broader of the two concepts, I recommend it to be the standard, but I'm open to choosing the other.  Otherwise, if we don't pick one,

[2015-01-30 19:55] cgreich commented on #19
Well, The problem is that one is the higher level in the hierarchy, and the other one is the lower. Just like "Asian" and "Chinese". Of course, the races are massively wishy washy. What we could do is only allow the highest 5 races, and the other ones get mapped into this. So, all "Chinese" in the source data woudl turn into "Asian". Should we?

[2015-01-30 21:31] pbr6cornell commented on #19
I agree with that proposal:   "Chinese" could be stored in the SOURCE_CONCEPT_ID field if that was truly the source value, but it seems it'd be better to unify on a more restricted, consistent set of concepts to impose as standard.

[2015-01-31 14:49] cgreich commented on #19
Patrick:

You got it.

Speaking off: Look at the last statement here: http://forums.ohdsi.org/t/laertes-pre-load-queries-hoi-from-x-to-snomed-rxnorm-bd-to-cd/180/7. Need your input here. We have Clinical/Branded Drugs, and then the equivalent of them as packs and quantified drugs. Should we only make one of them standard, and officially map the others to it?

From: Patrick Ryan [mailto:notificatio

[2015-02-03 16:10] ericaVoss opened #20 "Vocabulary Identification in VOCAB table"
Before in the VOCABULARY table there used to be

[code]

I do not believe this concept still exists in the VOCAB v5 version however it is extremely useful.  You could still have a VOCAB_ID = 0 with the VOCABULARY_NAME equal to the version ID.

[2015-02-03 17:28] cgreich commented on #20
Still there.

select vocabulary_version from vocabulary where vocabulary_id='None';

results in “v5.0 2014-10-15”.

C

From: ericaVoss [mailto:notifications@github.com]
Sent: Tuesday, February 03, 2015 11:10 AM
To: OHDSI/Vocabulary-v5.0
Subject: [Vocabulary-v5.0] Vocabulary Identification in VOCAB table (#20)

Before in the VOCABULARY table there used to be

VOCABULARY_ID - VOCABULARY_NAME
0 - OMO

[2015-02-03 17:36] ericaVoss commented on #20
I see it now, thank you.

[2015-02-03 17:36] #20 closed

[2015-02-03 22:51] ericaVoss opened #21 "Duplicated CONCEPT_CODEs in MESH"
for v5.0 2014-10-15

[code]

[code]

These Mesh CONCEPT_CODES get duplicated because they have this multi-domain (like "Drug/Measurement") but then they further break down later into their separate CONCEPT_CLASS_IDs.  It just feels odd and there are only 3 of them.

[2015-02-03 22:57] ericaVoss opened #22 "J-Code HCPCs that Don't End Up at RxNorm"
Some HCPC J-Codes do not end up at RxNorm.

[code]

For example

[code]

This could end up at a clinical drug or ingredient.

[2015-02-04 18:14] cgreich commented on #22
Will be covered. And there are a lot of G and C codes of the same kind.

From: ericaVoss [mailto:notifications@github.com]
Sent: Tuesday, February 03, 2015 5:57 PM
To: OHDSI/Vocabulary-v5.0
Subject: [Vocabulary-v5.0] J-Code HCPCs that Don't End Up at RxNorm (#22)

Some HCPC J-Codes do not end up at RxNorm.

/*WHICH HCPC J-CODES DON'T END UP AT RxNORM*/
SELECT *
FROM CONCEPT c
    LEFT OUTER JOIN (

[2015-02-09 18:26] cgreich opened #23 "DRG codes missing (Rimma Belenkaya)"
We also noticed that some of the DRG codes are missing:

009 BONE MARROW TRANSPLANT
018 CRANIAL & PERIPHERAL NERVE DISORDERS W CC
045 NEUROLOGICAL EYE DISORDERS
046 OTHER DISORDERS OF THE EYE AGE >17 W CC
050 SIALOADENECTOMY
105 CARDIAC VALVE & OTH MAJOR CARDIOTHORACIC PROC W/O CARD CATH
107 CORONARY BYPASS W CARDIAC CATH
108 OTHER CARDIOTHORACIC PROCEDURES
109 CORONARY BYPASS W/O PTCA OR CARDIAC

[2015-02-24 09:21] schuemie opened #24 "Some ICD10 codes come both with and without period"
E.g. 45548110 (J30.4) and 45596277  (J304). This is only true for a few codes.

[2015-02-25 02:00] schuemie opened #25 "Not all concept names are also concept synonyms"
Not sure if this is by design. For example, none of the UCUM concepts appear in the synonym table.

[2015-02-25 15:22] cgreich commented on #25
Because we only introduced that now. The next release will have it.

Speaking off, Martijn: I will remove the synonyms you built for SNOMED. Becasue it is the UMLS way to cross many concepts. We don't support "downwards" equivalents from SNOMED. But you will get the true SNOMED synonyms. You may want to adjust Usagi.

[2015-02-26 09:25] schuemie commented on #25
No worries, I will use whatever you choose to put in the concept_synonym table

[2015-02-26 11:57] cgreich commented on #24
Known bug. Fixed in upcoming version. Thanks.

[2015-03-12 21:38] ericaVoss opened #26 "DRG Dates"
DRGs are a date related VOCAB, but all the dates seem to be the same in the VOCAB. How do I associate the proper DRG to the time period of interest?

You can also know differences by the version of the DRG vocab, but not sure if that is easy to integrate.

[2015-03-13 11:12] cgreich commented on #26
Erica:

1. I fixed the concept classes. There is now DRG and MS-DRG. You need that because the codes overlap but are completely different.
2. There are relationships between them, btw.
3. Within DRG and MS-DRG you need to go by valid_start_date and valid_end_date. For each code, there are multiple concepts (violating the rules).

For example, for DRG code 001 (Craniotomy) you got a concept from 01

[2015-03-13 14:32] vojtechhuser opened #27 "vocabulary issues around Notes table"
LOINC has a set of terms for representing documents.

Here
Document ontology
http://www.ohdsi.org/web/hermes/index.html#/concept/40791774

They are now part of domain measurement.
Our EHR data have notes and I am working on a CDMv5 note table.
http://www.ohdsi.org/web/wiki/doku.php?id=documentation:cdm:note

especially the 'note_type_concept_id'

Do want a domain Note (or document) and assign a di

[2015-03-13 18:58] cgreich commented on #27
@vojtechhuser :+1:
Don't understand: We already have Note Types:
- Discharge summary
- Admission note
- Inpatient note
- Outpatient note
- Radiology report
- Pathology report
- Ancillary report
- Nursing report
- Note
- Emergency department note
What else do you need?

[2015-03-23 12:55] ericaVoss opened #28 "Loading New Vocab v5.0 21-Mar-2015"
One concept (45877004) has a tab symbol in concept name, so it couldn't be loaded automatically.  We had to add it manually.

[2015-03-26 20:15] ericaVoss opened #29 "INVALID = D and VALID_END_DATE = '12/31/2099'"
**VERSION v5.0 21-Mar-2015**

I noticed 874 CONCEPT_RELATIONSHIPs that are invalid but have a 31-DEC-99 end date.

[code]

[2015-03-26 20:32] ericaVoss opened #30 "INVALID_REASON = NULL but VALID_END_DATE != '12/31/2099'"
**VERSION v5.0 21-Mar-2015**

I've found 26 CONCEPTs that have a NULL INVALID_REASON but a VALID_END_DATE in the past.

[code]

[code]

[2015-03-26 20:35] ericaVoss commented on #2
I retested this, the "?" should be "-"

[code]

[code]

[2015-03-26 20:44] ericaVoss commented on #21
Did we every decide if this is okay or not?

[2015-03-26 20:59] ericaVoss commented on #22
**VERSION v5.0 21-Mar-2015**

I think I'm still seeing this for 75 codes.  Some of the ones left might be too generic like:

[code]

But there are some specific ones:

[code]

Couldn't this go to one of these:

[code]

Updated this slightly.

[code]

[2015-03-27 02:04] ericaVoss opened #31 "Invalid NDCs"
**VERSION v5.0 21-Mar-2015**

Found 14 invalid NDCs, if you look at the source codes you'll see they contain letters.

[code]

[code]

[2015-03-27 02:18] ericaVoss opened #32 "Odd LOINCs"
**VERSION v5.0 21-Mar-2015**

I'm finding some odd things that are labels as LOINCs.  Here are some examples:

[code]

[code]

[2015-03-27 02:20] ericaVoss opened #33 "Odd LOINCs"
**VERSION v5.0 21-Mar-2015**

I'm finding some odd things that are labels as LOINCs.  Here are some examples:

[code]

[code]

[2015-03-27 02:20] ericaVoss commented on #33
Accidental duplicate

[2015-03-27 02:20] #33 closed

[2015-03-27 02:39] ericaVoss opened #34 "Missing CONCEPT_IDs"
**VERSION v5.0 21-Mar-2015**

There are some "traditional" CONCEPT_IDs missing from the new release:

[code]

What these were in prior releases:
[code]

[2015-03-27 02:49] ericaVoss opened #35 "CONCEPT_NAME with \t in it"
**VERSION v5.0 21-Mar-2015**

The following concept has a tab in the name.  Between "task 	due"

[code]

[2015-03-27 12:20] leeevans commented on #34
This issue has been fixed in the latest file available on the vocabulary download web site.

[2015-03-27 12:20] #34 closed

[2015-03-27 12:21] leeevans commented on #35
This issue has been fixed in the latest file available on the vocabulary download web site.

[2015-03-27 12:21] #35 closed

[2015-03-27 12:22] leeevans commented on #28
This issue has been fixed in the latest file available on the vocabulary download web site.

[2015-03-27 12:22] #28 closed

[2015-03-27 18:15] cgreich commented on #31
Erica:

Thanks. Correct. There are a whole lot of other problems with teh NDC. We are planning on cleaning it all up in the not so distant future.

[2015-03-27 18:26] cgreich commented on #32
Erica:

If you are referring to concept classes like 'PUBLICHEALTH' then they are correct. We added these classes, and they have those codes:

select * from concept where concept_class_id='LOINC Class';

[2015-03-27 19:05] ericaVoss commented on #32
No, "PUBLICHEALTH" was a CONCEPT_CODE - meaning it was supposed to be a LOINC code.

[2015-03-28 03:16] ericaVoss commented on #32
I understand, there are multiple classes under VOCABULARY_ID = "LOINC" and I have to look at the right ones to apply them to my data.  I updated my test script and no longer find errors.

[2015-03-28 03:16] #32 closed

[2015-03-28 03:24] cgreich commented on #2
Done

[2015-03-28 03:24] #2 closed

[2015-03-28 16:36] cgreich commented on #30
Fixed. The problem was that these concepts were manually entered with 31-Dec-1999, instead of 31-Dec-2099, as valid_end_date. Missed 100 years.

[2015-03-28 16:36] #30 closed

[2015-03-28 16:42] cgreich commented on #21
Going to fix it

[2015-03-31 15:31] cgreich opened #36 "Add APR-DRGs"

[2015-03-31 19:02] rmakadia opened #37 "Missing ETC classifications in new version"
The new published vocabulary is missing ETC classifications.

select * from concept
where concept_id=21500803

This should return the ETC classification "Anticoagulants" but it does not. However, the classification is present and the query returns a valid row in the DEV environment

[2015-03-31 19:22] cgreich commented on #37
This is due to the licensing restriction. We currently have no distribution license. Working on it.

[2015-03-31 19:22] #37 closed

[2015-04-01 11:32] cgreich commented on #18
Isa and Subsumes relationships added. Now grand-father relationships.

[2015-04-01 18:58] ericaVoss opened #38 "Duplicated Source Codes - SPLs"
**VERSION v5.0 21-Mar-2015**

There are duplicated SPLs.  I know you mentioned that SPLs needed some TLC though.

[code]

[code]

[2015-04-01 19:24] ericaVoss commented on #5
This is fixed in **VERSION v5.0 21-Mar-2015** and should be closed.

[2015-04-01 19:47] ericaVoss commented on #1
I believe this was addressed in **VERSION v5.0 21-Mar-2015**.

[2015-04-02 00:17] cgreich commented on #5
Fixed

[2015-04-02 00:17] #5 closed

[2015-04-02 00:18] cgreich commented on #1
fixed.

[2015-04-02 00:18] #1 closed

[2015-04-02 00:19] cgreich commented on #6
Now only GPI codes left. Talking to Medi-Span about a new license.

[2015-04-02 00:23] cgreich commented on #7
Fixed.

[2015-04-02 00:23] #7 closed

[2015-04-02 00:25] cgreich commented on #8
Fixed

[2015-04-02 00:25] #8 closed

[2015-04-02 00:25] cgreich commented on #9
Fixed.

[2015-04-02 00:25] #9 closed

[2015-04-02 00:26] cgreich commented on #10
Fixed

[2015-04-02 00:26] #10 closed

[2015-04-02 00:26] cgreich commented on #11
Fixed

[2015-04-02 00:26] #11 closed

[2015-04-02 00:28] cgreich commented on #13
Fixed

[2015-04-02 00:28] #13 closed

[2015-04-02 00:29] cgreich commented on #14
Fixed

[2015-04-02 00:29] #14 closed

[2015-04-02 00:29] cgreich commented on #16
Fixed

[2015-04-02 00:29] #16 closed

[2015-04-02 00:30] cgreich commented on #24
Fixed

[2015-04-02 00:30] #24 closed

[2015-04-02 00:42] cgreich commented on #17
Fixed

[2015-04-02 00:42] #17 closed

[2015-04-02 02:25] pbr6cornell opened #40 "Review ICD9 codes that map to multiple SNOMED concepts"
We accept that some ICD9 codes that have composite meanings must be decomposed into 2 or more SNOMED concepts.

However, upon review of the ICD9 codes that map to multiple SNOMED concepts, some seem unnecessarily redundant.

As a general principle, I would recommend that if the ICD9 code has a map with a verbatim string match in SNOMED, I think we should have had additional mappings.

Examples of

[2015-04-02 02:56] cgreich commented on #40
Patrick:

Most of them are cleaned up exactly as you say: Just look at the cr1.relationship_id:

select t1.*, cr1.invalid_reason as ir, c2.concept_id, c2.concept_name
from
(
select c1.concept_id, c1.concept_name, c1.concept_code, count(c2.concept_id) as num_maps
from
(
select *
from concept
where vocabulary_id = 'ICD9CM'
) c1
inner join concept_relationship cr1
on c1.concept_id = cr1.concept_id_1

[2015-04-02 02:57] cgreich commented on #40
We could delete deprecated relationship, but so far we have used the deprecatin life cycle.

[2015-04-02 09:06] pbr6cornell commented on #40
Ah, ok, sorry, forgot to look at invalid reason for relationship.
On Apr 1, 2015 10:57 PM, "Christian Reich" <notifications@github.com> wrote:

[2015-04-02 14:10] hripcsa commented on #40
Are these new relationships that are not in the demo version of HERMES yet (http://www.ohdsi.org/web/hermes/index.html#/concept/133123)?

And does HERMES know to skip deprecated relationships?

George

From: Patrick Ryan [mailto:notifications@github.com]
Sent: Thursday, April 02, 2015 5:07 AM
To: OHDSI/Vocabulary-v5.0
Subject: Re: [Vocabulary-v5.0] Review ICD9 codes that map to multiple SNOMED con

[2015-04-02 18:28] rmakadia opened #41 "ICD10 codes missing"
Missing a large number of ICD10 codes. It looks like any codes with 2 or more digits after the period are missing in this new release. The parent codes are there, but no codes below them.

select * from concept
where concept_code='A02.20'
returns no rows.

I compared the codes from the current version of the vocabulary we have running now:

with cte_old_vocab as (
select distinct source_code, SOUR

[2015-04-02 21:12] cgreich commented on #41
Rupa:

Two answers:

1. A02.20 is in there ("Localized salmonella infection, unspecified"). When you downloaded, did you click on ICD10?
2. Don't compare to the old vocabulary_id 34. That was an ungodly mixture of ICD10 (WHO version) and ICD10CM (American expanded version). They are not identical, even where the codes are the same. We created a new vocabulary for ICD10CM, but it isn't populated ye

[2015-04-03 12:25] rmakadia commented on #41
Hi Christian,

  I will check with Erica and make sure we have the ICD10 vocabulary loaded correctly. It seems like we got some codes but not all. We are not using ICD10 currently, I was just trying to be complete in my checks, which one of them being to check the source codes and make sure we didn’t lose any codes.

I’ll check with Erica and team and make sure the vocabulary was loaded correctly

[2015-04-03 12:26] pbr6cornell commented on #41
Note there are two different icd10....icd10 and icd10cm
On Apr 3, 2015 8:25 AM, "rmakadia" <notifications@github.com> wrote:

[2015-04-03 12:30] rmakadia commented on #41
Yes I was looking at ICD10 only, that’s the only one in the vocab currently.

From: Patrick Ryan [mailto:notifications@github.com]
Sent: Friday, April 03, 2015 8:27 AM
To: OHDSI/Vocabulary-v5.0
Cc: Makadia, Rupa [JRDUS]
Subject: Re: [Vocabulary-v5.0] ICD10 codes missing (#41)

Note there are two different icd10....icd10 and icd10cm
On Apr 3, 2015 8:25 AM, "rmakadia" <notifications@github.com<mailt

[2015-04-03 12:39] cgreich commented on #41
Rupa: ICD10 today is WHO ICD10. vocab 34 in the old one was an awful mix of ICD10 and ICD10CM. So, a lot of stuff will be missing when compared to 34.

[2015-04-03 12:40] ericaVoss commented on #41
I checked our raw files and "A02.20" doesn't exist, but I could not tell you if I checked the ICD10 or not.  Maybe I missed one.  :(

Rupa, I would say we could close this issue, looks like we wouldn't be able to test it now anyway.  But keep your script, we need to make sure it is in our next release.

[2015-04-03 12:45] cgreich commented on #41
Makes sense. Believe me, we spent a not of sweat on getting ICD10 in. It is there now. You won't believe it, but you actually cannot download a complete good set from the WHO. And UMLS has their own one cobbled together, and so are numerous sources on the web. I can show you the hilarious email exchange with the WHO. Almost as good as the AMA (ask Patrick about that one).

[2015-04-03 12:45] #41 closed

[2015-04-06 13:20] ericaVoss commented on #22
FYI, here are some of the relationships we are interested in:

[code]

[2015-04-06 14:09] cgreich commented on #22
Adding these now.

[2015-04-06 17:23] cgreich commented on #26
Fixed.

[2015-04-06 17:23] #26 closed

[2015-04-06 21:22] vojtechhuser opened #42 "drug mapping contradiction"
I am working on mapping NCD shaped data using OHDSI Vocabulary v5.
While doing that, I found a contradition in the vocabulary.

A concept 1321636 (bosentan) is related to concept 19098352  (branded drug form of bosentan)
They are both standard concepts

but yet - they are connected via relationship of
'Standard to Non-standard map (OMOP)'

That is a contradiction. (Because they are both standard c

[2015-04-07 06:04] cgreich commented on #42
@vojtechhuser:

We should, except I cannot reproduce it. I got both concepts, but no relationship between them. Even if I had a wrong one before, it would still be there, just deprecated. What version are you in? And what's your query?

[2015-04-07 06:05] cgreich commented on #40
@hripcsa:

Not yet. Lee will upload them this week.

[2015-04-07 06:05] #40 closed

[2015-04-07 06:05] cgreich commented on #29
31-Dec-1999 snuck in there somehow. Fixed.

[2015-04-07 06:05] #29 closed

[2015-04-07 06:08] cgreich commented on #25
Closed

[2015-04-07 06:08] #25 closed

[2015-04-07 06:09] cgreich opened #43 "Add mapping to dose"

[2015-04-07 06:10] cgreich commented on #18
Done.

[2015-04-07 06:10] #18 closed

[2015-04-07 12:47] ericaVoss commented on #21
Just making a note that this still exists in **v5.0 3-Apr-2015** - it is not high priority.

[2015-04-07 12:47] ericaVoss commented on #38
Just making a note that this still exists in **v5.0 3-Apr-2015** - it is not high priority.

[2015-04-07 12:50] ericaVoss commented on #29
Please close this issue, it is fixed in **v5.0 3-Apr-2015**

[2015-04-07 12:54] cgreich commented on #21
Understood. Mesh will be refactored entirely. Stand by please.

[2015-04-07 12:54] ericaVoss opened #44 "VALID_END_DATE = 1999-12-31 & INVALID_REASON = NULL"
**v5.0 3-Apr-2015**

If VALID_END_DATE not between GETDATE() and 2099-12-31 THEN INVALID_REASON (D,U).  This concept fails this logic.

[code]

[code]

[2015-04-07 12:55] ericaVoss commented on #31
I know this is known, but making note this is still in **v5.0 3-Apr-2015**

[2015-04-07 13:03] cgreich commented on #44
Rrrrrrrrrrrrr.
Fixed. Next release.

[2015-04-07 13:03] #44 closed

[2015-04-07 15:50] vojtechhuser commented on #42
I am using Hermes on ohdsi.org. version is
You start at this URL
http://www.ohdsi.org/web/hermes/#/concept/1321636
using advanced filter - filter to RxNorm relation
make the table display all fields.

and then you should be able to see it.
![2015-04-07 11_49_25-hermes](https://cloud.githubusercontent.com/assets/7526119/7027190/37c7d01e-dd1c-11e4-9f4f-c1b51062f62e.png)

[2015-04-07 17:00] leeevans commented on #40
@hripcsa On Monday I completed the upload of the March 21st 2015 Vocabulary V5 data to the ohdsi web, so you should now see newer vocabulary data in HERMES.  If you need the very latest vocab data with April changes from Christian then let me know and I can load it.

[2015-04-13 03:39] schuemie opened #45 "What happened to buformin?"
Buformin is a first-line oral antidiabetic that is related to metformin, and is used more often than metformin in Japan. It is in RxNorm (1803) as well as ATC (A10BA03).

In Vocab V4 it was in ATC, but not in RxNorm. In Vocab V5 it is completely missing.

[2015-04-13 12:57] cgreich commented on #45
@schuemie:

It is still in ATC:
select * from concept where concept_code='A10BA03';

It is still not in RxNorm. Neither:
select * from concept where concept_code='1803'; -- at least no RxNorm pops up.
select * from rxnconso where rxcui='1803';

And it shouldn't, since the dope is not pushed in the United States. However, what we didn't do is to promote this to a standard concept. This will be in t

[2015-04-15 02:36] ericaVoss opened #46 "Missing Requested CONCEPT_IDs"
**OMOP Vocabulary v4.5 3-Apr-2015**
**v5.0 3-Apr-2015**

Back on 4/18/2014 I asked Mark Kayter for the following CONCEPT_IDs and was told they would make it into the VOCABULARY.  They were requested to help the NHANES CDM.

[code]

However the CONCEPT_IDs have since been reassigned to other things.

Could I request new CONCEPT_IDs?  We are looking to build NHANES soon so I need to update my BUILDE

[2015-04-15 10:58] cgreich commented on #46
No idea what you agreed with Mark a year ago. But I'll add, albeit with a new concept_id. BTW: it's called "Condition Type".

[2015-04-15 10:58] #46 closed

[2015-04-15 12:18] ericaVoss commented on #46
No worries, I understand.

If you know the CONCEPT_IDs that would be appreciated too.

[2015-04-15 13:32] cgreich commented on #46
You can never have enough!!! J

45905770        Patient Self-Reported Condition        Condition Type           Condition Type           Condition Type

45905771        Observation Recorded from a Survey            Observation Type        Observation Type            Observation Type

C

From: ericaVoss [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 8:18 AM
To: OHDSI/Vocabulary-v

[2015-04-15 13:34] ericaVoss commented on #46
SORRY CHRISTIAN.  But thank you for being so quick!  :blush:

[2015-04-20 19:01] ericaVoss opened #47 "ICD10s with Dashes"
Came across this, some ICD10 SOURCE_CODES have dashes in them.  Is this a proper representation of ICD10?

[code]

[code]

-----

[code]

[code]

[2015-04-21 12:21] cgreich commented on #47
Don't use ICD10CM, yet. It is not tidied up. Sorry, I forgot to take out out of your specialty distribution. Athena wouldn't have given it to you.
In general, the WHO ICD10 has no dashes. But the country-specific versions have. Amongst them ICD10CM, the German ICD10, etc.

[2015-04-21 12:53] #47 closed

[2015-04-24 03:14] schuemie commented on #45
Just for my understanding: drugs in RxNorm that are not used in the US are deleted from the vocab? Can you remind me why?

[2015-04-24 10:59] cgreich commented on #45
They are not in RxNorm. RxNorm only has US drugs. And they are not deleted, they are just not standard concepts. Will all be fixed in the next release. We are working on the mixed vocabularies that allow queries to work in exactly the same way for non-US drugs as in RxNorm.

BTW: Did you want to give me the Korean drug source, so we can plug it in?

[2015-05-06 14:21] pbr6cornell opened #48 "Device UDI released. Let's incorporate into the vocabulary"
NLM has made the UDI vocabulary available here : http://accessgudid.nlm.nih.gov/.   We should incorporate this source into the OHDSI vocabulary to support the device research use cases.

[2015-05-06 19:28] cgreich commented on #48
On the list now.

[2015-05-13 07:46] schuemie commented on #23
I see these DRG codes are now in the vocab, but they don't map to standard concepts. For example, this returns 0 rows:
[code]

[2015-05-24 11:37] pbr6cornell opened #49 "Issue in DRUG_STRENGTH table: same drug/ingredient pair occurs multiple times"
On the latest release of VocabV5, I could not run add constraints to the data tables, becuase of the following issue:

ALTER TABLE drug_strength ADD CONSTRAINT xpk_drug_strength PRIMARY KEY NONCLUSTERED (drug_concept_id, ingredient_concept_id);

--3 drug/ingredient combinations that appear more than 1 time in drug_strength table:
19123874	1728416
19123873	1728416
529373	529411

the issue makes sen

[2015-05-24 20:20] cgreich commented on #49
Wait. Didn't we say we remove that constraint?

[2015-05-24 20:27] pbr6cornell commented on #49
No, this is different, it's for having multiple of same ingredient in one
drug, which doesn't make sense and should be avoided.
On May 24, 2015 4:20 PM, "Christian Reich" <notifications@github.com> wrote:

[2015-05-24 22:14] cgreich commented on #49
That is the same. The reason is that they report the same ingredient with different units.

From: Patrick Ryan [mailto:notifications@github.com]
Sent: Sunday, May 24, 2015 4:28 PM
To: OHDSI/Vocabulary-v5.0
Cc: Christian Reich
Subject: Re: [Vocabulary-v5.0] Issue in DRUG_STRENGTH table: same drug/ingredient pair occurs multiple times (#49)

No, this is different, it's for having multiple of same in

[2015-05-24 23:21] pbr6cornell commented on #49
If that's the case, should constraint be on the drug/ingredient/unit tuple?
On May 24, 2015 6:14 PM, "Christian Reich" <notifications@github.com> wrote:

[2015-05-25 04:44] cgreich commented on #49
Could try that.

C

From: Patrick Ryan [mailto:notifications@github.com]
Sent: Sunday, May 24, 2015 7:21 PM
To: OHDSI/Vocabulary-v5.0
Cc: Christian Reich
Subject: Re: [Vocabulary-v5.0] Issue in DRUG_STRENGTH table: same drug/ingredient pair occurs multiple times (#49)

If that's the case, should constraint be on the drug/ingredient/unit tuple?
On May 24, 2015 6:14 PM, "Christian Reich" <notificati

[2015-05-30 11:30] schuemie opened #50 "Some ICD-10 codes have suboptimal mapping"
In general, the mapping for ICD-10 codes looks good. But I stumbled on some codes that had suboptimal mappings (IMHO). See below the current mapping and my suggested mapping.

With some string normalization (ignoring word order, case, and words like 'unspecified') the names of the ICD-10 and SNOMED concept would actually be the same. Perhaps we could formulate a simple algorithm to detect things l

[2015-05-30 20:36] cgreich commented on #50
@schuemie:

You got it. Next release (next week).

Except that the first line concept_id_2 should be 4002357, and the 8th line the ICD10 code should be 85.9.

I am not the most pedantic and anal person, so don't expect me to find these little bugs. :)

[2015-05-30 20:36] #50 closed

[2015-06-04 06:06] surangak opened #51 "cpt4.jar stores cpt4 concept id's as strings, not integers"
I recently downloaded the OHDSI vocab, and executed the cpt4.jar to download and add the cpt4 codes. The download process worked fine.
Next, I began executing the scripts given in: https://github.com/OHDSI/CommonDataModel/tree/master/PostgreSQL/VocabImport

However, the import of the concept table data into the database failed with an error. Looking at the csv file for the conept table, I saw that

[2015-06-04 12:29] cgreich commented on #51
@surangak:

When did you do that? We removed the quotes recently. Let me know.

[2015-06-04 14:45] surangak commented on #51
@cgreich , I'm afraid that I tried this last night. I wonder if the right jar file is in the download that comes with the vocab?

[2015-06-05 06:50] cgreich commented on #51
@surangak:

Let me check it out.

[2015-06-05 11:28] cgreich commented on #51
@surangak:

Can you check again. The jar should not create quotes any more.

[2015-06-06 06:24] surangak commented on #51
@cgreich , thank you, the second download seems to work fine, and all is well :-)
I have the right CPT mappings in my vocab now.

[2015-07-01 22:05] murphyke opened #52 "Redundant concepts?"
Concepts 44818792 and 44818890 seem to have the same meaning, at least as far as the concept table goes.

[code]

[2015-07-02 17:12] cgreich commented on #52
Yes, they are the symmetrical opposites of each other. The name doesn't do justice. You can see it here:
select * from relationship where relationship_concept_id in (44818792, 44818890);
I'll rename.

[2015-07-02 18:02] murphyke commented on #52
Thanks.  So they are "**X** *associated with, flavor 1* **(finding) Y**" and "**(Finding) Y** *associated with, flavor 2* **X**".  Presumably if you were asserting an "associated with" relationship between two findings, you could use either one ....

[2015-07-03 02:44] cgreich commented on #52
No, you can't. Because all relationships have a direction. I will rename them to "Has association finding" and "Finding associated with" or something. The problem is that SNOMED actually defines these names, and we are not supposed to change them. Let me take a look what they have, and maybe there are synonyms.

[2015-07-08 02:47] ericaVoss opened #53 "45611881-Liver Cirrhosis a Drug?"
Randomly saw 45611881-Liver Cirrhosis a MeSH term was listed as a CONCEPT_CLASS_ID of DRUG.  Is this correct?

[2015-07-08 11:14] cgreich commented on #53
It's the old MeSH. New release on Monday, with all fixed.

[2015-07-17 15:54] cgreich commented on #53
all set.

[2015-07-17 15:54] #53 closed

[2015-07-22 01:48] ericaVoss opened #54 "MedDRA Rhabdomyolysis Mapping into SNOMED"
[code]

I'm finding the closest maps of MedDRA code for Rhabdomyolysis are:
- `137967  Muscle, ligament and fascia disorders`
- `4345578 Rhabdomyolysis`

The first seems like a very high level map and the second is the most appropriate.  Why does the "Muscle, ligament and fascia disorders" come in as a close map?

I'm using this map in LAERTES to get Product Labels codified in MedDRA to their SNOM

[2015-07-22 04:43] cgreich commented on #54
Yeah. Hard to say. It doesn't win, it is equally far away from the MedDRA term as the Rhabdomyelosis. And it was added in 2013, when we got a whole lot of mappings form the MSSO. The quality is not bad, but not that great, either. On the good side, it doesn't do much harm, because it has no children. Which means it will soon be deprecated anyway.

If you want I just kill that relationship.

[2015-07-22 12:51] ericaVoss commented on #54
Could I use the no sibling approach here?

[2015-07-22 19:29] ericaVoss opened #55 "HCPC-->RxNorm Injectable Mapping"
Checked in VERSION v5.0 3-Apr-2015

Some of these drugs don't get to a clinical drug.  I would expect proposals like this to make sense.

**Example 1**
HCPC - `J2426-Injection, paliperidone palmitate extended release, 1 mg`
CURRENT MAP - `703244 - paliperidone`
PROPOSED ADDITION - `40166614-paliperidone Injectable Suspension `

**Example 2**
HCPC - `J2794-Injection, risperidone, long acting, 0.5 m

[2015-07-23 00:05] cgreich commented on #55
Not quite. 40166614 "Paliperidone Injectable Suspension" is a Clinical Drug Form.containing "Paliperidone". But there is another Drug Forms for injectables: 40165674 "Paliperidone Prefilled Syringe". You can't map to one and not to the other, and you can't map to both, because that would be an AND between these two drugs, (meaning, the patient got both the syringe and hte injectable solution). So,

[2015-07-23 00:10] pbr6cornell commented on #55
Why can't a source code map to a clinical drug form, now that they are
standard?  why can't we select one as a primary mapping?
On Jul 22, 2015 8:05 PM, "Christian Reich" <notifications@github.com> wrote:

[2015-07-23 00:15] cgreich commented on #55
Hey!! This was closed already! :)

The rule is to map to the most precise possible RxNorm Concept:

Branded Drug or Clinical Drug
Branded Drug Form or Component
Clinical Drug Form or Component
Ingredient.

the first 4 need to be unambiguous, i.e. only if there is a single Concept of a concept_class_id we map. If not, we try the next. For the ingredients, they can be multiple. That's the default. W

[2015-08-03 13:58] ericaVoss opened #56 "UCUM Duplication"
For `OMOP Vocabulary v4.5 17-JUL-15`

The following CONCEPT_CODE is duplicated in UCUM:

[code]

[code]

[2015-08-03 14:06] cgreich commented on #56
Thanks. Fixed in next release.

[2015-08-03 14:22] ericaVoss opened #57 "SOURCE_TO_CONCEPT_MAPs Missing in"
This is for `v5.0 17-JUL-15`.

I check for certain maps to exist within the VOCABULARY.  I'm finding that some do not exist anymore.  The first I would expect, but not sure how important the second two are.

[code]

I used a query like this to find if the maps were there or not.

[code]

[2015-08-03 14:57] ericaVoss opened #58 "Missing CONCEPT_IDs?"
Comparing `OMOP Vocabulary v4.5 17-JUL-15` vs `OMOP Vocabulary v4.5 3-Apr-2015` I'm finding 84,405 missing CONCEPT_IDs.  Here are some examples:

[code]

[2015-08-03 15:02] ericaVoss opened #59 "ETC/Indication?"
In ATHENA, we were not allowed to select ETC/Indication.  Is this due to licensing issues?

[2015-08-03 15:05] ericaVoss opened #60 "Multilex?"
Are we retiring Multilex all together?

[2015-08-03 18:18] dimshitc commented on #56
We have incorrect translations from unit_source_value to UCUM concepts in a CDMs. Look:
unit_concept_id      units_source_value    concept_name
9108	               KIU/ML       	       Kelvin International Units per milliliter
8903	               K/CU MM	               Kelvin per cubic millimeter
8792	               K/UL	                       Kelvin per microliter
8792	               K/MCL

[2015-08-04 11:58] cgreich commented on #58
These are concept from restricted vocabularies: FDB Indication and Multilex. We don't currently have a distribution license, but if you want I could give you the old thing back.

[2015-08-04 11:59] cgreich commented on #59
Yes. I am working on the distribution license.

[2015-08-04 12:00] cgreich commented on #60
We are letting it fade, because CPRD/THIN no longer use it. So, no use case, no work. :)

[2015-08-04 12:04] #60 closed

[2015-08-04 12:05] ericaVoss commented on #58
I don't think we need them, was just spot checking the Vocab

[2015-08-04 12:05] #58 closed

[2015-08-04 12:07] cgreich commented on #56
@dimshitc:

Not sure where you are getting these from. Must be based an old vocabulary version. Now they are:

8792	K/uL	Kelvin per microliter	U
8903	K/mm3	Kelvin per cubic millimeter	U
9108	K[iU]/mL	Kelvin International Units per milliliter	U

As you can see they are all invalid_reason='U' and replaced by the proper versions:

C1_ID	C1_NAME	REL	R_IR	C2_ID	C2_NAME	C2_VOCAB
8792	Kelvin per microlit

[2015-08-04 12:25] cgreich commented on #57
@ericaVoss:

Not quite sure what's going on here:

1. ICD-9-CM to MedDRA is alive and kicking (even though we don't particularly like it):
`select c1.concept_id as c1_id, c1.concept_name as c1_name, r.relationship_id as rel, r.invalid_reason as r_ir,
  c2.concept_id as c2_id, c2.concept_name as c2_name, c2.vocabulary_id as c2_vocab
from concept c1
join concept_relationship r on r.concept_id_1=c1.c

[2015-08-04 12:27] cgreich commented on #57
Stupid auto-numbering gives me twice number one. Assume the second one is 2, the 2 after that is 3.

[2015-08-05 20:42] ericaVoss commented on #57
@cgreich

1) **ICD9CM <> MedDRA** I see why, I said to only use REALTIONSHIP_ID of 'Maps To'  but this uses 'ICD9CM-MedDRA'.  Why does it fall under this certain type of RELATIONSHIP_ID?

2)  **ICD9Proc <> RxNorm** I thought we did, but I'm not worried about this one.

3)  **ICD10PCS <> SNOMED** Okay.

[2015-08-06 12:16] cgreich commented on #57
1) Because "Maps to" maps from a Source to a Standard Concept. MedDRA are all Classification Concepts. That's why I don't want them there at all.
2) I think there are no procedure drugs in there.
3) Working on it right now. Got another input from the NLM on Tuesday.

[2015-08-06 12:53] ericaVoss commented on #57
1) Got it!  I was using our SOURCE_CODE --> STANDARD CONCEPT query to test these maps.  That was my fault.

2)  -

3)  Thank you!

I'm going to close this, thank you!

[2015-08-06 12:53] #57 closed

[2015-08-08 17:45] pbr6cornell commented on #55
Using the lgoic you've provided, shouldn't the source code:

HCPC - J2426-Injection, paliperidone palmitate extended release, 1 mg

get mapped to the RxNorm Clinical Drug Form concept of:

40166614 - paliperidone Injectable Suspension

Similarly for the other example, source code:

HCPC - J2794-Injection, risperidone, long acting, 0.5 mg
would map to:
40080292-Risperidone Injectable Suspension

Th

[2015-08-08 20:21] cgreich commented on #55
@pbr6cornell:

Almost. For paliperidone it won't work, because there is the injectable suspension, but also the prefilled syringe, unfortunately. Either one could be used in J2426.

For Risperidone you are right. It needs fixing.

We just did exactly this job for CPT4. All of them are mapped to the lowest possible RxNorm that's still unambiguous. Will review this for HCPCS as well. I'll also bring

[2015-08-09 17:21] pbr6cornell commented on #55
The injectable suspension vs. prefilled syringe is a RxNorm messiness.  Can't we select one as a convention, if there is no information otherwise?  To meet our analytical use case, we have to be able to separate out forms, because the drugs are fundamentally different, so a mapping only to the ingredient level will not work.

[2015-08-09 20:52] cgreich commented on #55
I hear you, and I know why you would want it. But there are three forms for parenteral administration of drug: "Injectable Solution", "injectable Suspension" and "Prefilled Syringe" (which can contain either a solution or a suspension). If we abolish the syringe we would need:

  - Remap all mappings from the sources to the injectable solution or injectable suspension, and we wouldn't know to whic

[2015-08-09 21:01] pbr6cornell commented on #55
If we were to just treat this J code as a 'source code', (meaning solve it
as a custom oneoff, not trying to provide a generic solution) then I would
just arbitrarily choose to map to one of the three 'candidate' clinical
drug form concepts.  I don't think we want to do massive surgery on the
vocab and certainly don't want to be reorganizing rxnorm.  But we will need
an approach for manually 'over

[2015-08-09 23:56] cgreich commented on #55
Hm. We should think of how to formalize it. Right now, we have a mapping that tries to be contradiction-free, driven by the general anxiety of "loss" during the mapping. We could change that to make it a more pragmatic mapping. Or create a solution of alternative mappings. Not sure how we would that transparent. CDM 6.0.

[2015-08-13 13:09] pbr6cornell opened #61 "ICD9CM->SNOMED mapping is not reciprocal in 'Maps To' and 'Mapped From' relations"
It should be the case that every 'Maps To' relation between concepts has a corresponding 'Mapped From' relation in the opposite direction.  For the ICD9CM -> SNOMED mapping, there is currently a bug, as there are more 'Mapped From' relations than "Maps To' relations.

Here's a query that shows the counts don't match up.  If you look at the concept 201820, you'll see how it makes a material differe

[2015-08-14 00:50] cgreich commented on #61
@pbr6cornell:

Found the problem. The script that ensures that all relatioships are symmetrical don't correctly check the invalid condition. So, it creates all the reciprocal ones, but if an existing gets deprecated it doesn't correctly deprecate the twin. Will fix next release (next week).

[2015-08-26 14:20] ericaVoss opened #62 "MedDRAs that should belong to non-CONDITION domain?"
@cgreich,

Was reviewing MedDRA PT CONDITIONs that don't have a map into SNOMED.  I noticed some of them looked like PROCEDRES/OBSERVATIONS/MEASUREMENTS.  Posting some examples for you if it is of interest.

[code]

[2015-10-28 02:59] ericaVoss opened #63 "Ingredient --> Source Code Relationships - Injectable Examples"
Version:  v5.0 17-JUL-15

Had a researcher doing some analysis on certolizumab pegol, anakinra, adalimumab, and golimumab and noticed the exposure counts had gone down from a previous run (from 2012).  I noticed there were some NDC/HCPCs that could have mapped into these ingredients via relationships but did not.

[code]

I get 48 hits

[code]

[2015-10-28 10:06] cgreich commented on #63
This is a bug in NDC to RxNorm mappings. Some of them are currently wrongly recorded as “Quantified form of” instead of “Maps to”. Fixing that now and doing a re-release.

[2015-10-29 02:30] ericaVoss commented on #63
Will this be something that comes out with a larger release or will this be something I can grab soon?

[2015-10-29 09:52] cgreich commented on #63
Very soon. This week.

[2015-12-02 04:09] schuemie opened #64 "Duplicate provider specialties"
I'm mapping provider specialties, and was wondering why there are so many **standard** concepts (from different vocabularies) for the same thing?

For example:
- Dermatology (38004452 & 44777722)
- Cardiology (38004451 & 44777721)
- Urology (43125861, 38004474 & 44777747)

[2015-12-02 04:13] schuemie commented on #64
Oh, and while I'm bugging you: what would be the procedure for adding 'Chinese Traditional Medicine' as a specialty?

[2015-12-02 12:29] cgreich commented on #64
You just did.

Well, the larger problem is that the specialty list we use from CMS stinks. One of the things to redo. I'll put it on the list for the CDM group.

[2015-12-21 04:10] cgreich commented on #63
The list is down to 8 now. They are HCPCS (we are redoing the mapping completely) and some 9-digit NDC (we are fixing those mappings over time). There are a gigantic amount of unmapped NDC.

[2015-12-21 04:11] cgreich commented on #62
What is the problem?

[2015-12-21 04:11] cgreich commented on #61
All fixed.

[2015-12-21 04:11] #61 closed

[2015-12-21 04:12] cgreich commented on #59
Done. There is still some issue with the correct hierarchy. We are working on it.

[2015-12-21 04:12] #59 closed

[2015-12-21 04:14] cgreich commented on #56
I think this is closed. Those "Kelvins" are all kilos now.

[2015-12-21 04:14] #56 closed

[2015-12-23 15:40] DinaSarsam opened #65 "Concept has an invalid reason, yet it is a standard concept"
With the latest vocabulary 5 data downloaded, concept ID 8528 has an invalid reason of 'U' and Valid To Date of 01-APRIL-2015, yet is set as a standard concept (STANDARD_CONCEPT = 'S')

[2016-01-12 11:46] julianust opened #66 "ICD10 -> SNOMED Mapping"
Looking at the ICD10 to Snomed Mapping, there are many examples of multiple quite disparate ICD10 codes being mapped to a single SNOMED code.

An example is concept id 435134 (Motor vehicle accident).

There are 295 ICD10 Codes with detailed descriptions mapped to this code
(e.g. Occupant of three-wheeled motor vehicle injured in collision with car, pick-up truck or van, driver, traffic accident).

[2016-01-12 17:37] cgreich commented on #66
Julianust:

Yeah. Those [x] concepts are copy and paste jobs from other vocabularies. They usually have a bad "social life" (siblings, children and parents in the hierarchy) and will be deduplicated and merged with existing concepts over time.

There are all sorts of traffic accidents. It may be important for billing and occupational safety and insuring workers how they are caused, but that is not

[2016-01-13 12:45] DinaSarsam opened #67 "CPT4, concepts missing from Nov 2015 release?"
I have downloaded both V5 and V4.5 of the latest vocabulary and the concept table is missing Vocabulary_Id 4 (or CPT4 in V5).  Any reason why? Is that a licence issue? Please advise!

[2016-01-13 16:17] cgreich commented on #67
Dina:

Did you run the CPT4 "reconstitution" tool?

[2016-01-13 16:52] julianust commented on #66
Hi Christian,
Many thanks for your prompt reply.
I work for IMS health in the UK. As you may know we are trying to incorporate various datasets (Pharmetrics, Ambulatory and DA Germany) into our E360 analytics tool following their conversion to OMOP format.

The example I sent you is one of many covering ICD10, ICD9CM and NDC mappings. It results the following Issues:

A significant loss of specifi

[2016-01-14 00:25] cgreich commented on #66
@julianust:

You bumped into a special mapping of medical histories. Here is how it works: Events in OMOP are supposed to happen when recorded. A history-of a certain disease didn't happen that day, it happened in the past. Therefore, all those history-of codes are are mapped as follows:
1. They have a record with relationship_id='Maps to' to the infamous 4214956. Note that this is an Observation

[2016-01-25 00:53] ericaVoss commented on #63
I can see this problem has gone from 48 --> 6.  The 6 left are newer NDCs, they probably will pick up mappings over time.  Closing the issue.

[2016-01-25 00:53] #63 closed

[2016-01-25 00:56] ericaVoss commented on #62
They look to be in the wrong domain.  I just noticed it but don't know if it really matters in the Classification terminology.

[2016-01-25 01:03] ericaVoss commented on #55
This mapping is looking good to me now for my two examples (HCPC --> Clinical Drug).  Don't know if you manually fixed or the drug overhaul fixed it.  Should I close?

**Example 1**
HCPC - `J2426-Injection, paliperidone palmitate extended release, 1 mg`
OLD MAP - `703244 - paliperidone`
CURRENT MAP - `40165674-paliperidone Prefilled Syringe`

**Example 2**
HCPC - `J2794-Injection, risperidone, lon

[2016-01-25 01:05] ericaVoss commented on #54
*v5.0 21-JAN-16*

This still exists, just making note.

[2016-01-25 01:10] ericaVoss commented on #38
*v5.0 21-JAN-16*

There are now 393 CONCEPT_CODES that duplicate (in SPL and GPI).

Here are the worst ones:
[code]

So if I was mapping to that last GPI I would end up with 19 matches.

[2016-01-25 01:13] ericaVoss commented on #31
*v5.0 21-JAN-16*

There are now 28 of these.  Here are a few examples

[code]

[2016-01-25 03:17] ericaVoss commented on #22
**v5.0 21-JAN-16**

Double checked this, there are 57 now but here are 35 that people might care about:

[code]

[2016-01-25 03:18] ericaVoss commented on #21
This is additionally discussed in this issue so we may want to just close this one:
https://github.com/OHDSI/Vocabulary-v5.0/issues/38

[2016-01-25 03:21] ericaVoss commented on #51
I believe this issue is closed?  @surangak?

[2016-01-25 13:53] cgreich commented on #55
We automated it. We have a script to map any drug list. Will use it on NDC.

[2016-01-25 13:53] #55 closed

[2016-01-25 14:07] cgreich commented on #38
No such thing in SPL: select concept_code, count(8) from concept where vocabulary_id='SPL' group by concept_code having count(8)>1;
Investigating GPI now.

[2016-01-25 14:46] ericaVoss commented on #38
Your query returns 31 rows for me.

Here are some examples:
[code]

[2016-01-25 15:16] cgreich commented on #38
Refresh the vocab.

[2016-01-25 15:18] ericaVoss commented on #38
We downloaded the copy Friday (v5.0 21-JAN-16) . . . did you release another copy since then?

[2016-01-25 15:19] #51 closed

[2016-01-25 15:26] surangak commented on #51
Indeed it is, thank you :)

[2016-01-25 15:41] cgreich commented on #38
A!!!!! SQL Server and it's wonderful ignorance of upper and lower case.

You are right. There are duplicates with different cases. We'll fix.

[2016-01-25 17:48] ericaVoss opened #68 "[UCUM] INVALID_REASON IS NULL and VALID_END_DATE != 2099-12-31"
Just found one UCUM concept with an issue.

I think you meant to have 2099 not 1999 in the VALID_END_DATE or the concept is actually invalid.

[code]

[code]

[2016-01-25 18:29] ericaVoss opened #69 "[UCUM] Duplicate Code 10*6.[U]"
The following looks like a duplicate to me:

[code]

[code]

[2016-01-25 18:34] cgreich commented on #68
Thx. Will fix. My mistake. I put that in manually.

[2016-01-26 03:38] ericaVoss opened #70 "[RELATIONSHIP] Missing 'Has morphology'"
The 'Has morphology' RELATIONSHIP_ID is missing from RELATIONSHIP table.

[code]

[2016-01-26 03:56] ericaVoss opened #71 "HCPC 'J7322' has a Standard Map to two places"
When I look ups HCPC 'J7322' and ask what it should map to in the VOCAB, I get two hits

[code]

Shouldn't it have just hit the clinical drug form?

This is how I'm asking the VOCAB for a SOURCE_CODE --> Source Terminology lookup.

[code]

[2016-01-26 04:19] cgreich commented on #70
Hm. Not really. I get back:

Has morphology	Has Morphology (SNOMED)	0	0	Morphology of	45754806

Also, the constraint forbids it.

[2016-01-26 04:31] cgreich commented on #71
Yep. Bug. :( The Clinical Drug Form is the correct and new mapping, and the old one should have been deprecated. Will fix.

[2016-01-26 11:48] cgreich commented on #21
Fixed.

[2016-01-26 11:48] #21 closed

[2016-01-27 16:56] ericaVoss commented on #71
@cgreich - Other than this the Vocab looks good to me.

I think there are 118 HCPCs that duplicate when mapping to RxNom.

Could I pick your brain on this?  Take a look at these duplicates.  I could go through and basically deprecate manually the relationships that don't map to the clinical drug form (in like 95% of the cases)?  There is one I noticed that mapped to two clinical drug forms 'J0530'

[2016-01-27 17:07] cgreich commented on #71
Erica:
Let's do this: We fix the bug (already did, but need to release) and then you look. Because the way it works now is that the mapping is done automatically, not manually. Last time it was done manually, and then it goes stale after a while.

[2016-01-27 17:28] ericaVoss commented on #71
@cgreich - Better than my plan.  Let us know when we can grab it.

[2016-01-29 11:23] cgreich commented on #31
Erica:

Looks like the N-containing NDCs are radiopharmaceuticals for diagnostic imaging. The A-containing ones are for preparation of transfusions. Neither are drugs. We'll give them the rigth domain. The NDC code is what it is. Dailymed has them that way. There is nothing we can do about.

[2016-01-29 11:23] #31 closed

[2016-01-29 18:28] anthonysena commented on #71
@cgreich Sorry to pile on here but just looking to see if you have a target for the release date?

[2016-01-29 19:43] cgreich commented on #71
Anthony:

Yeah. My positive predictive value is as good as your standard crappy ICD9 code. :(

Was today. But we are still grinding through tests etc. We learned from Olivier Bodenreider how to deal correctly with RxNorm deprecations. Now we have to make sure it all still works.

I assume Monday should be all sorted.

[2016-02-01 16:14] anthonysena commented on #71
Thanks so much Christian - I'll wait to hear from you and we'll re-download and test on our side.

[2016-02-05 13:52] cgreich commented on #71
Update. Found a bug in the concept_ancestor table for ETC. Should be done today.

[2016-02-14 14:41] ericaVoss commented on #71
@cgreich - Just ran the query again in **v5.0 12-FEB-16** and I still see 'J7322' hitting an ingredient and clinical drug form.  This source code is invalid but we still need to be able to map it to a CONCEPT_ID.  Am I just missing something?

[code]

[2016-02-14 14:43] ericaVoss commented on #70
In in **v5.0 12-FEB-16** I see it is now `Has asso morph`.

[2016-02-14 14:43] #70 closed

[2016-02-14 14:44] ericaVoss commented on #69
Fixed in **v5.0 12-FEB-16**

[2016-02-14 14:44] #69 closed

[2016-02-14 14:44] ericaVoss commented on #68
Fixed in **v5.0 12-FEB-16**

[2016-02-14 14:44] #68 closed

[2016-02-14 14:45] ericaVoss commented on #67
@DinaSarsam did the CPT4 "reconstitution" tool work for you?

[2016-02-14 14:49] ericaVoss commented on #65
@cgreich, in **v5.0 12-FEB-16** this still exists.

[code]

[2016-02-14 14:55] ericaVoss commented on #22
Still exists in **v5.0 12-FEB-16**

[2016-02-14 14:57] ericaVoss commented on #6
For **v5.0 12-FEB-16**, this still exists.

[code]

[code]

[2016-02-15 11:38] cgreich commented on #22
Yikes. They popped up while we were building the automatic processor and didn't get in. Will fix now.

[2016-02-15 11:40] cgreich commented on #6
Will be fixed:

GPI: Will add the source.
ICD10CM: Isn't released yet. Will have them all then.

[2016-02-15 13:54] DinaSarsam commented on #67
Yes it Dina, many thanks. You can close this case!

[2016-02-16 03:36] cgreich commented on #70
So, are we good? I am confused.

[2016-03-14 17:56] ericaVoss commented on #67
@cgreich you can close this issue.

[2016-03-14 18:00] #67 closed

[2016-03-14 19:09] ericaVoss opened #72 "Missing VOCAB_ID - ABMS"
Noticed that there are codes for VOCAB_ID `ABMS` but no reference for it in the VOCABULARY table.  I'm assuming you just need to add a row to the VOCABULARY table.

This is for **Vocabulary v5.0 11-MAR-16**

[2016-03-14 23:51] cgreich commented on #72
Not sure. select * from vocabulary where vocabulary_id='ABMS'; gives me ABMS	Provider Specialty (American Board of Medical Specialties)	http://www.abms.org/member-boards/specialty-subspecialty-certificates		45756746. Where am I missing it here?

[2016-03-15 01:26] ericaVoss commented on #72
I see it in the raw CSV file but not in our load.  Issue in the load from our side.

[2016-03-15 01:26] #72 closed

[2016-03-15 01:47] ericaVoss commented on #71
@cgreich, I'm still seeing this in the updated version **v5.0 11-MAR-16**.

[2016-03-15 02:12] ericaVoss commented on #65
This is fixed in **v5.0 11-MAR-16**

[2016-03-15 02:27] ericaVoss commented on #52
This is an old/small issue but still exists in **v5.0 11-MAR-16**.

[2016-03-15 02:34] ericaVoss commented on #38
Fixed in **v5.0 11-MAR-16**.

[2016-03-15 02:34] #38 closed

[2016-03-15 02:40] ericaVoss commented on #6
Still exists in **v5.0 11-MAR-16**

[2016-03-15 02:42] ericaVoss commented on #15
@cgreich or @pbr6cornell  - this doesn't seem to be a bug any more, please close the issue.

[2016-03-15 02:45] ericaVoss commented on #22
@cgreich - I know you already told me the HCPC fixes aren't in, but this is still an open issue in **v5.0 11-MAR-16**

[2016-03-15 06:44] cgreich commented on #71
Yup. Coming.

[2016-03-15 06:45] #65 closed

[2016-03-15 06:49] cgreich commented on #52
Fixed now

[2016-03-15 06:50] cgreich commented on #6
Yup. Coming up.

[2016-03-15 06:55] cgreich commented on #15
It's fixed.

[2016-03-15 06:55] #15 closed

[2016-03-15 20:55] ericaVoss commented on #71
We need to move forward with **v5.0 11-MAR-16** but run the following hard fix.

[code]

[2016-03-15 21:03] ericaVoss commented on #72
FYI, all our files loaded missing the first row.  This was because the CSVs came with an extra blank space in the header.  Our bulk insert command treats it not as a separate line, but prepends new line symbol to the second row’s first column value (probably because line endings are in unix format).  The easiest solution would be to either have proper header or no header at all; not an empty line

[2016-03-25 17:10] murphyke opened #73 "Misspelling of palliative in ABMS specialty concept_name"
In CONCEPT.csv, I see:

[code]

[2016-03-25 18:43] cgreich commented on #73
Fixed. Thanks Kevin.

[2016-03-25 18:43] #73 closed

[2016-04-13 18:03] murphyke opened #74 "SNOMED concept name truncated in OMOP"
I'm seeing some SNOMED concepts that have different preferred concept names but get assigned the same `concept_name` in the OMOP vocabulary:

[code]

`49346003` should be "Closed fracture of orbital floor (blow-out)".

I haven't done a systematic search, but other concept names having the same problem are "Ingrowing toenail", "Moderate cigarette smoker", and "Malignant neoplasm of cerebrum".

Is t

[2016-04-13 21:36] deppensa opened #75 "HCPC and ICD10 codes without mapping in current vocabulary"
Attached is a spreadsheet with HCPC, CPT and ICD-10 codes that are missing in current vocabulary.  Some of these codes are no longer in use (HCPC, CPT) or need to be looked at due to no corresponding map, ICD10. List is top 1000 codes from VINCI OMOP project and contain no PHI
[OMOPv5 tracking counts.xlsx](https://github.com/OHDSI/Vocabulary-v5.0/files/218014/OMOPv5.tracking.counts.xlsx)

[2016-04-14 01:16] cgreich commented on #75
@deppensa:

These are codes deprecated long ago. For example, G0001 died in 2004, D7110 in 2002. We are happy to add them, but we'd need you to find us the description for them (you can google them one by one) and the date of deprecation.

Best,
C

[2016-04-14 01:28] cgreich commented on #74
@murphyke:

Two things:

1, The parenthesis gets taken away because it is usually used for indicating the concept class (Clinical finding in this case). We can look into doing a cleaner parsing job. In the mean time, use the concept_synonym table, there you got them with the parentheses.

2. We have brought up with SNOMED that there are these duplicates or almost duplicates. Will push it again.

[2016-04-16 14:12] cgreich commented on #71
Done

[2016-04-16 14:12] #71 closed

[2016-04-16 14:15] #52 closed

[2016-04-18 04:14] cgreich commented on #49
Fixed. We no longer have those ingredient duplicates.

[2016-04-18 04:14] #49 closed

[2016-04-25 09:22] schuemie opened #76 "ICD-9 v15.82 has no valid 'Maps to' relationship"
V15.82 (Personal history of tobacco use) has no valid 'Maps to' relationship, only a 'Maps to value' relationship. I would expect a 'Maps to' relationship with 'History of clinical finding in subject' (4214956).

[2016-04-25 09:22] schuemie opened #77 "ICD-9 571.5 does not map to a standard concept"
Why does 571.5 (Cirrhosis of liver without mention of alcohol) not map to a standard concept? (e.g. Cirrhosis of liver (4064161) )

[2016-05-05 03:21] pbr6cornell opened #78 "Mantle cell lymphoma - what is the logic for how the ICD9 codes (200.4*) got mapped into SNOMED"
All ICD-9-CM codes in the 200.4 series are 'mantle cell lymphoma', and then provide further specification of the lymph nodes for which they refer to.  However, in the mapping of these ICD9 codes into SNOMED, only a few of these codes map into the SNOMED concept of 'mantle cell lymphoma' and the other codes map to other non-specific malignant lymphoma concepts.  Here's a listing from the vocab v5.0

[2016-05-05 19:43] alondhe opened #79 "Rilpivirine - 2 Multilex codes not captured by RxNorm"
Hi,

In Vocab v5.0 as of March 11, 2016, along with the latest we were able to pull up as of May 5, 2016:

The HIV drug Rilpivirine has 16 standard drug concept matches, with 4 being from Multilex. However, when selecting the Ingredient matches (43534954, 43534953, and 40238930), their descendants do not include 2 of those Multilex matches: 43535173 and 43535169. Can these 2 Multilex codes be mapp

[2016-05-05 20:08] cgreich commented on #79
Ajit:

Multilex is about to die. CPRD and THIN are no longer using them. We are finalizing Gemscript, which is the successor, as we speak. So, no effort put into Multilex.

Does that work?

[2016-05-06 00:10] cgreich commented on #78
Yeah. It's the mismatch between the hierarchies:

Mantle cell lymphoma (200.4) is combined with the affected anatomical sites to make 200.40-200.48. SNOMED doesn't have those pre-coordinations, except spleen (200.47), which is mapped properly. The others are mapped a little unfortunate, I agree. They should just become the same Mantle Cell Lymphoma as the ancestor.

This problem happens all the ti

[2016-05-13 22:00] alondhe commented on #79
Yep, that works. Thanks!

[2016-05-13 22:00] #79 closed

[2016-05-17 10:27] dimshitc commented on #78
Actually, "440350	Malignant lymphoma - lymphocytic, intermediate differentiation" is a synonym of 	"40481901	Mantle cell lymphoma", so we can map to any, but I agree that it's better to have a consistency and keep one of them,  let it be "40481901	Mantle cell lymphoma".
So there is another SNOMED problem - when they make different concepts from disease synonyms.
Proper way is to have  "40481901	Ma

[2016-06-03 21:15] cgreich commented on #22
All fixed except:
2718920	Injection, porfimer sodium, 75 mg
2718702	Carbidopa 5 mg/levodopa 20 mg enteral suspension
915807	Netupitant 300 mg and palonosetron 0.5 mg

[2016-06-07 12:40] schuemie opened #80 "ICD10 code R82.4 maps to two concepts in Measurement domain"
ICD-10 code R82.4 (Acetonuria) maps to two standard concepts in the `measurement` domain. I think one might actually need to be in the `procedure` domain instead.

This SQL:

[code]

finds these valid standard concepts: 4042243 (Urine ketone test) and 441968 (Acetonuria).

[2016-06-07 13:21] cgreich commented on #80
@schuemie:

Yeah. That's a problem we don't quite know how to fix, yet. The problem is the following: Acetonuria, just like Anuria, Oliguria, Proteinuria are used both as Conditions as well as findings of a Measurement. SNOMED sometimes has them both, and sometimes only one of them. I already submitted that to them, and they accepted the change, but in the mean time we will have for some of them a

[2016-06-13 15:45] vojtechhuser commented on #45
The term is found via the API
https://rxnav.nlm.nih.gov/REST/approximateTerm?term=buformin

The status of the term is however Alien
https://rxnav.nlm.nih.gov/REST/rxcui/1803/status

![image](https://cloud.githubusercontent.com/assets/7526119/16013615/292c6b60-315c-11e6-8f36-b4a996f12ff9.png)

[2016-06-14 01:14] ericaVoss opened #81 "NDC - 00069551066-Zyrtec VALID_START_DATE"
Looking NDC `00069551066-cetirizine hydrochloride 10 MG Oral Tablet [Zyrtec]` in the 20160311 VOCAB we have:

- VALID_START_DATE 2010-11-01
- VALID_END_DATE 2012-12-01

Looking in raw claims data, it looks like this NDC was used earlier.  Here is the row counts by year in one of our large claims datasets:

[code]

Addition, the net refers to this NDC earlier than 2010 - here is an example that cal

[2016-06-14 09:28] cgreich commented on #81
@ericaVoss:

Yes, these valid dates are what we receive from our sources (mostly RxNorm API). You need them only if there are two identical codes with different validity times (reused codes). Otherwise, ignore them. I don't think there is a way to get them precise.

[2016-06-15 01:52] ericaVoss commented on #81
I tried to implement this logic on top of the Vocab but figured out that there isn't one NDC in the OMOP Vocab (20160311) that is duplicated.

[code]

I feel between a rock and hard place here . . .

- If we use the date - we are losing some potential good mappings (i.e.  `00069551066-cetirizine hydrochloride 10 MG Oral Tablet [Zyrtec]`).  My last CCAE not using the dates had 6% unmapped NDCs and

[2016-06-15 01:57] pbr6cornell commented on #81
Could you write a query against the vocabulary to use all source-to-concept
mappings without dates in the instances where the source code does not have
multiple valid timestamps, and then use the timestamps in those instances
where a code has multiple mappings with different valid periods?

On Tue, Jun 14, 2016 at 9:52 PM, ericaVoss <notifications@github.com> wrote:

[2016-06-15 02:05] ericaVoss commented on #81
@pbr6cornell - unless I'm not clear what you are describing - this is what I wanted to do but when I went to write the query I figured out there isn't one NDC code in the OMOP Vocabulary with multiple valid periods.

[2016-06-15 04:10] cgreich commented on #81
Friends:

1. Please provide the unmapped NDC codes.
2. Yes, we kicked them out. Please provide the "poor maps", and we try to fix them.

[2016-06-15 04:14] cgreich commented on #45
@vojtechhuser:

It's just an import from ATC. ATC 5th level, however, is not a good substitute for ingredients, because there are duplicates and there are combinations. So, we don't use them.

However, in the upcoming release we will have all these guys in as RxNorm Extension. Please stand by.

[2016-06-15 13:40] ericaVoss commented on #81
I asked our largest claims database, what NDCs:

- got mapped to a DRUG_CONCEPT_ID = 0
- had more than 4 years getting mapped to 0
- had at least 100 rows in one of those years mapped to 0

An additional requirement we could add is that the years need to cross into the valid years given by the CONCEPT table.  For example `00002312542-Vancomycin 125 MG Oral Capsule [Vancocin]` in my large claims da

[2016-07-01 15:30] ericaVoss opened #82 "CONCEPT_RELATIONSHIP INVALID_REASON"
**v5.0 20-JUN-16**

I've found 110 relationships where the VALID_END_DATE is not in the future and INVALID_REASON IS NULL.

[code]

Example records

[code]

[2016-07-01 15:55] ericaVoss opened #83 "DPD CONCEPT_CODES Repeat"
**v5.0 20-JUN-16**

Finding examples where the DPD CONCEPT_CODES repeat.

[code]

Results (although this looks like a med for pets):

[code]

To find all 27 codes that break the rule:

[code]

Additionally, one of the CONCEPT_CODES repeated 32 times = `Not Applicable/non applicable`

[2016-07-01 16:56] ericaVoss opened #84 "Retired Multilex?"
**v5.0 20-JUN-16**

Have we retired Multilex?  When comparing 20160311 to 20160620 I see 77K Multilex CONCEPT_IDs that no longer exist.

[code]

Example missing CONCEPT_IDs:

[code]

[2016-07-01 16:58] ericaVoss opened #85 "CONCEPT_ID = 40 Missing"
This CONCEPT_ID no longer exists:

[code]

[2016-07-01 17:04] ericaVoss commented on #81
@cgreich or @pbr6cornell wondering if you had any thoughts on this approach.

[2016-07-01 17:06] cgreich commented on #84
It's all there. You need to click it when you download (and whoever does it have the permission).

But it will be retired in a couple days.

[2016-07-01 17:08] ericaVoss commented on #84
@cgreich weird, I usually double check I have all boxes checked off.

[2016-07-01 17:09] cgreich commented on #84
We are adding a "click all" button for you as we speak. :)

[2016-07-01 17:12] pbr6cornell commented on #81
@ericaVoss, I think your proposal sounds very reasonable, extending the
valid period for drugs which seem in use continuously before or after the
valid period to subsume the entire period of continuous use.  It seems you
could set the VALID_START_DATE to the minimum date of your period of
continuous use (which could be first of year if you did your analysis at
the year level) and VALID_END_DATE co

[2016-07-01 17:17] ericaVoss commented on #81
@cgreich I assume this would get implemented on your side and we would consume this update through the Vocab.  Maybe there is a way to make this repeatable?

[2016-07-01 17:18] ericaVoss commented on #84
@cgreich - Just requested only the Multilex Vocab.  No good.  It isn't exporting with the Vocab from Athena.

[2016-07-01 17:22] cgreich commented on #84
Because you are not listed as the license owner. The email you got should have told you that. Did it not? Can you forward? And who are "you"? ericaStanoch@gmail.com or Evoss3@its.jnj.com?

[2016-07-01 17:23] ericaVoss commented on #77
**20160620**

This is still an issue:

[code]

Returns 0 rows.

[2016-07-01 17:24] ericaVoss commented on #76
**20160620**

Still an issue

[code]

[2016-07-01 17:26] cgreich commented on #77
I know. On the backlog.

[2016-07-01 17:26] ericaVoss commented on #27
@vojtechhuser is this still an issue or can we close this one?

[2016-07-01 17:28] ericaVoss commented on #84
I use ericaStanoch@gmail.com because the JNJ spam filter eats the Athena emails.

[2016-07-01 17:36] cgreich commented on #84
Try now.

[2016-07-03 05:20] cgreich commented on #81
Absolutely. You'd have to give us the list (or the code, so I could have it run at IMS as well).

[2016-07-06 15:07] ericaVoss commented on #81
Sure, here is what I ran on my side.

[code]

Attached are the examples of what was updated.
[Updated VALID dates in Vocab NDCs.xlsx](https://github.com/OHDSI/Vocabulary-v5.0/files/350163/Updated.VALID.dates.in.Vocab.NDCs.xlsx)

[2016-07-21 09:16] schuemie opened #86 "Filtering of synonyms too strict?"
I'm not getting much value out of the concept_sysnonym table for mapping drugs. One important example: The synonym 'Paracetamol' is not linked to the standard ingredient 'Acetaminophen'. I know this information is in UMLS. Would it be possible to revise the synonym selection logic?

[2016-07-24 17:37] pbr6cornell opened #87 "Ciprofloxacin opthalmic ointment (RxNorm) mapped to 'Direct acting vasodilator' in ETC"
I presume this is a bug in the mapping, though perhaps there's something unusual clinically that I'm not aware of.  The consequence for this inadvertent mapping is:  if you define 'hypertensive agents' using the high-level class in ETC, you get 'ciprofloxacin' as one of the ingredients.

[2016-07-25 14:20] cgreich commented on #86
Hm. "Paracetamol" is neither a synonym in RxNorm, nor in UMLS. It's the name of a mapped concept (from ATC, for example). Not sure what you want us to do.

With the upcoming RxNorm Extension we will add synonym from equivalent source concepts from international drug vocabs. That will help this.

[2016-07-28 13:21] schuemie commented on #86
"RxNorm Extension"? What's that?

Remind me why you don't like UMLS equivalency? Both ATC and RxNorm map to the same CUI (C0000970). I would consider those synonyms,

[2016-07-28 14:26] cgreich commented on #86
It's upcoming. :)

We found that the concepts from the various international drug references (JMDB for example) are so junky that we cannot use them as standard. So, we bit the bullet (big yucky bullet) and now built a process for creating real RxNorm concepts from those international drugs. You won't be able to tell the difference, except that vocabulary_id='RxNorm Extension'. We will have it cov

[2016-07-28 14:27] cgreich commented on #86
UMLS: They are equivalent, but not synonyms. In many cases it's just fine, in others it isn't. We have all those UMLS ones, but they are mapping or other relationships. So, if you want to use them just create another join bringing them in.

[2016-07-28 15:05] schuemie commented on #86
Ah, got it, that might actually be a good idea for Usagi (where if a synonym is wrong it should be ok because a human should review it anyway).

[2016-07-28 15:06] #86 closed

[2016-07-28 16:16] cgreich commented on #86
Totally agree.

[2016-08-03 14:24] dimshitc commented on #87
Yeah, it's a bug. We'll work on it.

[2016-08-23 17:22] ericaVoss opened #88 "Missing ICD9CM/ICD10/ICD10CM Maps to SNOMED"
Between the Vocabulary 20150403 and 20160620 we have lost some important ICD --> SNOMED Mappings.

Attached is an XLS.  The first tab shows ICD9CM/ICD10/ICD10CMs that lack a mapping to SNOMED in 3 different DBs with row counts of how often the code was found.  The second tab lets you know for each code in how many of the 3 DBs was is used.

[MISSING_ICD_TO_SNOMED_MAPS_V01.xlsx](https://github.com/

[2016-08-26 11:45] dimshitc commented on #88
Hi, Erica, thanks for this issue reporting,
I checked several concepts from MISSING_ICD_TO_SNOMED_MAPS_V01.xlsx randomly:

select c.concept_code, c.concept_name, c.vocabulary_id, r.relationship_id, r.invalid_reason, c2.concept_id, c2.concept_name, c2.invalid_reason from devv5.concept_relationship r left join devv5.concept  c on c.concept_id = concept_id_1 and r.invalid_reason is null
left join dev

[2016-08-26 12:18] ericaVoss commented on #88
What is the version you are currently on?  Additionally, can you tell me how many of the codes in my excel now have maps now so I can make a better decision on moving to the next one or not.

Here are the ICD9s (5,297):
[code]

Here are the ICD10s (6,864):
[code]

[2016-08-29 11:52] dimshitc commented on #88
I use current vocabulary version you can download here http://athena.ohdsi.org/, CDM Version V5

and there only 85 ICD9CM concepts and 92 ICD10CM don't have mapping. Or if you use CDM Version V4.5, it contains the same information but different format (source_to_concept map instead of concept_relationship_table).
here is the query to get these missing mapping concepts
select c.concept_code, c.conc

[2016-08-29 12:32] ericaVoss commented on #88
Thank you, this is helpful.

The version can be found by running this query.  Please let me know the version.

[code]

@cgreich  - does this make sense that a lot of the ICD9/ICD10 missings now have maps?

[2016-08-29 12:37] cgreich commented on #88
Actually, Dima is the man to ask. :)

[2016-08-29 16:09] dimshitc commented on #88
v5.0 17-AUG-16

[2016-08-31 00:18] ericaVoss opened #89 "Duplicate CONCEPT_CODES in VOCABULAR_ID = 'DPD'"
This is for 20160817.

There is some duplication going on in the DPD Vocabulary.

[code]

For example, the CONCEPT_CODE `274577` in the VOCABULARY_ID `DPD` comes up with the following CONCEPTs:

[code]

[2016-08-31 00:51] ericaVoss commented on #84
I just downloaded 20160817 and I'm missing 'Multilex'.

[code]

I get 0 rows.  Do you think this is ATHENA messing up my gmail account again?

[2016-08-31 01:16] ericaVoss commented on #87
Looks like this is gone in 20160817?

[code]

[2016-08-31 01:16] ericaVoss commented on #85
Was this retired?  Still missing in 20160817.

[2016-08-31 01:17] ericaVoss commented on #89
Duplicate of #83

[2016-08-31 01:18] ericaVoss commented on #82
This is fixed in 20160817

[2016-08-31 01:23] ericaVoss commented on #81
@cgreich was anything like this incorporated into 20160817 or do I need to do these updates again on my side?

[2016-08-31 01:31] ericaVoss commented on #77
Also discussed in Issue #88.  This is still a problem in 20160817.

[2016-08-31 01:32] ericaVoss commented on #76
Still in 20160817

[2016-08-31 01:36] ericaVoss commented on #62
20160817

Some of these are coming across now.  I'm assuming this just has to do with how we get the maps.  Let's just close this issue.

[code]

[2016-08-31 01:36] ericaVoss commented on #54
20160817

Boo, "Muscle, ligament and fascia disorders" just doesn't want to go away.

[2016-08-31 01:40] ericaVoss commented on #6
Still exists in 20160817

[code]

[2016-08-31 06:01] cgreich commented on #81
Haven't gotten to it, yet.

[2016-09-05 03:25] cgreich commented on #6
Correct. But they are all deprecated. I have no way to get those concept_names. Because they are missing from current releases, and the old ones are not available.

If you have records from the data that provide those names, please give us.

[2016-09-29 21:21] alondhe opened #90 "Problems with Progressive multifocal leukoencephalopathy mapping"
Hello,

Just adding this forum post as a GitHub issue.
http://forums.ohdsi.org/t/problems-with-progressive-multifocal-leukoencephalopathy-mapping/1682

Thanks,
Ajit

[2016-09-30 22:56] alondhe opened #91 "V58.11 mapping - 20160817 Vocab"
Hi,

I've been finding that the mapping of ICD9CM Procedure of V58.11 to SNOMED standard concept id 4289151 is now invalidated in Vocabulary version 20160817. However, this is a fairly prominent unmapped concept in our Optum data. Could this map be re-enabled?

Thanks,
Ajit

@dimshitc @ericavoss

[2016-10-03 16:48] dimshitc commented on #91
We disable this mapping because it should be mapped to Drug domain.  Now we are working on it allowing to map to drug ATC classes.
http://www.ohdsi.org/web/wiki/doku.php?id=documentation:next_cdm:drug_classes

[2016-10-17 03:05] ericaVoss commented on #81
Writing a note for myself - these are some top NDCs that didn't get mapped, I might need to revisit my date pushing out logic to see if I was too strict:
[code]

[2016-11-10 16:40] #27 closed

[2016-11-18 22:20] kwang2016 opened #92 "Numeric values in DRUG_STRENGTH have more than 3 significant digits"
Hi,
The following columns in DRUG_STRENGTH are supposed to only hold values with no more than 3 significant digits. However, there are many instances where that's not true. You may check out the examples below.

**Column Name / Example DRUG_CONCEPT_ID**
AMOUNT_VALUE **/** 43162476
NUMERATOR_VALUE **/** 43143624
DENOMINATOR_VALUE **/** 43143624

Could you please take a look?

Thank you.

Ke

[2016-12-12 13:59] ericaVoss opened #93 "ICD10 Hepatitis C linked to Hepatitis B"
**Vocab Version 20160817**

There is an ICD10CM `B17.11-	Acute hepatitis C with hepatic coma` linked to the following standard concept `4314443-Hepatic coma due to acute hepatitis B`.  Does this make sense?

[code]

[2016-12-12 14:09] dimshitc commented on #93
Thanks Erica,
Yeah, mapping is wrong.
Currently my team is working on this ICD10 (CM) mappings so it'll be fixed in about 1 month

[2016-12-15 14:03] ericaVoss opened #94 "RxNorm to MeSH"
Found in *20160817* but checked and believe also in *20161107*.

Checking for RxNorm concepts used in 2015 in one of our large claims databases we found about 300 that contain no MeSH mapping (see Appendix 1 below).  The excel will show you which are popular in the databases and the SQL shows how I was looking for the MeSH map.

I think some of these items may have maps now, here is a review of so

[2016-12-21 14:58] ericaVoss opened #95 "Missing CONCEPT_IDs from VOCAB_ID = 'DPD'"
I noticed the following CONCEPT_IDs missing from 20161107 as compared to 20160817.

[code]

[code]

[2016-12-21 14:59] ericaVoss commented on #93
I wouldn't expect it to be in this version already, but since I'm testing I'll make a note of it:

This issue exists in 20161117.

[2016-12-21 15:06] ericaVoss commented on #92
Where is this a rule?  How does this bother working with the data?

[2016-12-21 15:10] ericaVoss commented on #91
Not that I would expect it to already be in this version but testing 20161107.

This still gets mapped no where in the Vocabulary.

[code]

[2016-12-21 15:14] ericaVoss commented on #90
This is still an open issue in 20161107.

[code]

[code]

[2016-12-21 15:17] ericaVoss commented on #89
This problem is fixed in 20161107.

Tied to this open issue:
https://github.com/OHDSI/Vocabulary-v5.0/issues/95

However these missing concepts may be due to fixing this duplicate issue.

[2016-12-21 15:17] #89 closed

[2016-12-21 15:17] ericaVoss commented on #95
I'm assuming the reason these concepts are gone are due to this issue:
https://github.com/OHDSI/Vocabulary-v5.0/issues/89

[2016-12-21 15:35] ericaVoss commented on #91
This issue is related to this issue:
https://github.com/OHDSI/Vocabulary-v5.0/issues/88

[2016-12-21 16:26] ericaVoss opened #96 "Smoking"
I'm just adding this post here:
http://forums.ohdsi.org/t/smoker-in-the-snomed-vocabulary-condition-occurence/1078/10

There is definitely a mix on what domain this belongs too (at least in 20161107)

[code]

[2016-12-21 18:21] aostropolets commented on #96
Yes, you are right. These are non-drugs.

[2016-12-21 18:22] aostropolets commented on #95
Yes, you are right. These are non-drugs.

[2016-12-21 18:34] ericaVoss commented on #88
In 20161107 the missing ICD9CMs without maps went from 5,297 to 42 (see below).  The top three hitters in a large claims database are:

1. V58.11-Encounter for antineoplastic chemotherapy
2. V15.82-Personal history of tobacco use
3. 585.9-Chronic kidney disease, unspecified

For ICD10CMs, the codes missing a map from the list above went from 6,864 to 36.  The top three hitters in a large claims da

[2016-12-21 22:22] ericaVoss commented on #6
I will send you the READ codes that I have.  Only got 45/158.

[2016-12-21 22:25] ericaVoss commented on #87
@pbr6cornell  and @cgreich - this is no longer an issue correct?

[2016-12-21 22:27] ericaVoss commented on #85
I'm assuming this is gone - should we just close this issue?

[2016-12-21 22:41] ericaVoss commented on #84
I still am not getting it (on my most recent request for 20161107)

[2016-12-21 22:41] ericaVoss commented on #83
This problem is fixed in 20161107

[2016-12-21 22:41] #83 closed

[2016-12-21 22:42] ericaVoss commented on #82
This is fixed in 20161107

[2016-12-21 22:42] #82 closed

[2016-12-21 22:47] ericaVoss commented on #80
Still looking like this is the same in 20161107.

[2016-12-21 22:48] ericaVoss commented on #77
In 20161107.

[2016-12-21 22:53] #62 closed

[2016-12-21 22:54] ericaVoss commented on #54
BOOOOOOOOOOOOOOOOOOOOOOOOO!  @cgreich  this is still in 20161107.

[2016-12-22 01:08] cgreich commented on #84
Done.

[2016-12-22 01:08] #84 closed

[2016-12-22 01:31] cgreich commented on #85
to be honest, I forgot what happened. In general, concept_ids should never disappear, even when they are retired. But there is concept_id=7:

7	Metadata	Metadata	Domain	Domain		OMOP generated	01-JAN-70	31-DEC-99

Is that what you need?

[2016-12-22 01:41] cgreich commented on #87
Can't reproduce it. Concepts with lower(concept_name) like '%hypertensive agents%' are all Plumonary Antihypertensive Agents, and none of them has a relationship to Cipro. If you use the concept_ancestor table, as you should, you get:

select a.min_levels_of_separation as a_min,
  an.concept_id as an_id, an.concept_name as an_name, an.vocabulary_id as an_vocab, an.domain_id as an_domain, an.concep

[2016-12-22 13:49] ericaVoss commented on #87
@cgreich  then let's close this issue.  I cannot because I didn't open it.

[2016-12-22 13:50] #85 closed

[2016-12-22 14:53] ericaVoss commented on #84
Confirm it works.  Thank you!

[2016-12-22 16:45] ericaVoss commented on #96
Still see the same mixture in 20161218.

Examples:
[code]

[2016-12-22 16:46] ericaVoss commented on #95
@aostropolets so we should close this issue then, right?

[2016-12-22 16:48] ericaVoss commented on #93
This issue exists in 20161218

[2016-12-22 16:49] ericaVoss commented on #91
Still an issue in 20161218

[2016-12-22 16:50] ericaVoss commented on #90
Still an issue in 20161218

[2016-12-22 16:51] ericaVoss commented on #80
Still an issue in 20161218

[2016-12-22 16:52] ericaVoss commented on #77
In 20161218

[2016-12-22 16:54] ericaVoss commented on #54
All my dreams have come true!  Thank you @cgreich  and @dimshitc !

[2016-12-22 16:54] #54 closed

[2016-12-22 16:55] ericaVoss commented on #43
@cgreich & @dimshitc  this is a super old issue.  Should we just close it?  Is it still something even on the table?

[2016-12-22 18:00] cgreich commented on #43
What was it?

[2016-12-22 18:01] cgreich commented on #54
Easy to make you happy, Erica. :)

[2016-12-23 16:16] dimshitc commented on #93
Yes, we know, thanks,
but should be fixed in the first release of 2017

2016-12-22 18:48 GMT+02:00 ericaVoss <notifications@github.com>:

[2017-01-03 15:28] kwang2016 commented on #92
This was per Christian when we had a discussion on the precision and scale of the columns mentioned above. Those values with high significant numbers caused problem for us when we define the those columns as numeric data type in Redshift, say, numeric(10, 6). The original value got cut off if it has more digits than the defined scale.

[2017-01-04 10:49] Sigfried opened #97 "recreate link in readme is broken"
The link in https://github.com/OHDSI/Vocabulary-v5.0/blob/master/README.md to http://www.ohdsi.org/web/wiki/doku.php?id=documentation:vocabulary:vocabulary_creation_etl_process goes to a non-existent wiki page.

[2017-01-09 15:41] hamedabedtash opened #98 "CONCEPT table: Some Read concepts have null CONCEPT_NAME"
The latest version of CONCEPT table downloaded from Athena has some Read records with CONCEPT_NAME = NULL. This is a required filed (NOT NULL) that triggers error when uploading the table to the database.

Attached, is the list of concepts with null concept names.

[Read concepts with CONCEPT_NAME=null.xlsx](https://github.com/OHDSI/Vocabulary-v5.0/files/693862/Read.concepts.with.CONCEPT_NAME.null

[2017-01-09 15:51] hamedabedtash opened #99 "CONCEPT_SYNONYM: records with null CONCEPT_SYNONYM_NAME"
There are also 440 records in CONCEPT_SYNONYM table with CONCEPT_SYNONYM_NAME = NULL which is a required field.

Here are the list of rows:

[CONCEPT_SYNONYM table, concepts with null CONCEPT_SYNONYM_NAME.xlsx](https://github.com/OHDSI/Vocabulary-v5.0/files/693887/CONCEPT_SYNONYM.table.concepts.with.null.CONCEPT_SYNONYM_NAME.xlsx)

[2017-01-09 21:55] hamedabedtash opened #100 "Missing "Maps to" relationships to map NDC to RxNorm concepts"
I am using the code below to map NDC codes to standard concepts (RxNorm), but there are some NDCs that do not map to the respective RxNorm concept. This has happended (mostly) for those NDC concept with current valid dates (VALID_END_DATE=20991231) but their 'Maps to' relationships is denoted as updated ("U") or deleted ("D"), however no "updated" relationships exist in CONCEPT_RELATIONSHIP table.

[2017-01-13 23:25] alondhe opened #101 "Map of ICD10 for primary malignant neoplasm (unknown)"
Hi @cgreich,

The ICD10CM code C80.1 is for "Malignant (primary) neoplasm, unspecified" and has concept_id of 45561836. It currently maps to standard concept_id 439392 for "Primary malignant neoplasm." The unspecified nature of the cancer is lost in translation. Perhaps it should be mapped to standard concept_id 436919 for "Primary malignant neoplasm of unspecified site"?

Thanks,
Ajit

[2017-01-14 13:29] cgreich commented on #101
No. Unspecified doesn't mean unspecified site. It means nothing is specified, it's histology, origin or spread. Just like in "Primary malignant neoplasm".
Why are you asking?

[2017-01-16 09:40] schuemie opened #102 "LEVOTHYROXINE ingredient standard concept missing / wrong name?"
For example, concept 40169766 ('Levothyroxine Sodium 0.1 MG Oral Tablet') via drug_strength links to ingredient concept 1501700 ('Thyroxine', RnNorm ID = 10582). This ingredient is not linked to ATC concept 21602754 ('levothyroxine sodium'). In the original RxNorm  (RnNorm ID = 10582) the preferred name is levothyroxine.

So two problems:
1. The name of concept 1501700 should be Levothyroxine, not

[2017-01-16 19:51] urvishah3 opened #103 "Information on Statins drug strength not available for ATC"
While doing analysis for the following who atc 5 for statins, we realized these drugs do not have any information in the drug_strength table. Will there be an update to this?

                Who ATC 5         concept_name
1              C10AA03              Pravastatin
2              C10AA08              pitavastatin
3              C10AA05              atorvastatin
4              C10AA01

[2017-01-17 15:36] dimshitc commented on #103
ATC-concepts never have drug_strength,
but related RxNorm Drug concepts have information in the drug_strength
table.
Here is an a example:

select c.concept_name, c.vocabulary_id, z.concept_name, z.concept_code,
ds.* from concept c
join concept_relationship r on r.concept_id_1 = c.concept_id
join concept z on r.concept_id_2 = z.concept_id
join drug_strength ds on drug_concept_id = c.concept_id
whe

[2017-01-17 15:46] dimshitc commented on #102
These changes appeared in the last release of RxNorm,
so internally we already have these changes and next release will not
contain this problem.

2017-01-16 11:40 GMT+02:00 Martijn Schuemie <notifications@github.com>:

[2017-01-18 08:16] schuemie commented on #102
Thanks! I will keep an eye out for this in the next vocab release.

[2017-01-20 15:04] hamedabedtash commented on #100
Hi @dimshitc,
Have you had a chance to look at this issue? Really appreciated!

Hamed

[2017-01-20 16:26] dimshitc commented on #100
Hi, @hamedabedtash
Thanks for your attention to this issue,
We already fixed that internally, so the next release will not contain it.

[2017-01-20 17:56] hamedabedtash commented on #100
@dimshitc, Great! Thanks for the update. Any idea when the next release will be?

Thanks,
Hamed

[2017-01-21 12:52] aostropolets commented on #95
@ericaVoss I know, it's been a while :)
Yes,we should.

[2017-01-21 12:52] #95 closed

[2017-01-30 20:27] hamedabedtash opened #104 "Incorrect record in CONCEPT_ANCESTOR table"
Hi @dimshitc ,

I found two incorrect records in CONCEPT_ANCESTOR table that link 'Other blood glucose lowering drugs, excl. insulins' ATC drug class to 'Aluminum Hydroxide' and 'Magnesium Hydroxide':

[code]

Thanks,
Hamed

[2017-02-03 00:32] pbr6cornell opened #105 "Prioritized list of unmapped ICD9CM codes to map"
Team:

On the version of the vocabulary I'm using, there are 96 ICD9CM codes that don't map into a standard (SNOMED).  Across the datasets I have access to, there are only 8 codes that make up 93% of the unmapped records.

![image](https://cloud.githubusercontent.com/assets/731930/22574613/eada70fc-e97d-11e6-80c0-a0834c8e7f8a.png)

[2017-02-09 22:48] ericaVoss commented on #100
Ran across this myself today looking for gemcitabine in US claims and found nothing.

The query belows shows NDCs that go no where in standard terminologies. 144,124 in V20161218.  Didn't check a newer Vocabulary version so this may be fixed already.

[code]

[2017-02-13 17:49] PRijnbeek opened #107 "\" in concept names"
In many concept names in the RXNorm Extension vocab there is a "...\\".." pattern. This creates problems when loading the vocab with JCDMBuilder and probably also when loading with SQL.

For example:

43684848	"100 MG Bitter orange oil 0.1 MG/MG / Humulus lupulus whole extract 0.2 MG/MG / Melissa officinalis flowering top extract 0.15 MG/MG / Peppermint preparation 0.15 MG/MG / ... Oral Powder [Be

[2017-02-13 17:58] cgreich commented on #107
Peter.

Not sure what you mean. When you say \" is that an escaped quote? I.e., a quote inside a quoted string? I don't see that in your example. The first quote is at the beginning, the second at the end of the string. And if you cut them off, you should be exactly at 255. We go to extraordinary efforts to make sure that shoving these endless lists of ingredients into the concept_name will not cu

[2017-02-13 18:03] PRijnbeek commented on #107
yes, it is a problem of redering at this website \\ is also an escape here I have added a extra one now you see it in the issue

[2017-02-13 18:04] cgreich commented on #107
So, let's not use these characters at all, because I am confused.

Are you complaining about the presence of quotes, or slashes, or triple dots in concept_name?

[2017-02-13 18:05] dimshitc commented on #107
100 MG Bitter orange oil 0.1 MG/MG / Humulus lupulus whole extract 0.2 MG/MG / Melissa officinalis flowering top extract 0.15 MG/MG / Peppermint preparation 0.15 MG/MG / ... Oral Powder [Beruhigungstee I] by Pfingstweide-Apotheke Juergen Duerrwang e. K."

@cgreich, if you look on this concept, name looks like that
so in the original dataset we don't use backslashes

[2017-02-13 18:06] cgreich commented on #107
I think what Peter is saying is that he doesn't like the quote in the string. Because it screws up the delimiters. Correct?

[2017-02-13 18:09] PRijnbeek commented on #107
:0

The problem is that there is a backslash before the quote after Duerrwang e. K.

[2017-02-13 18:26] PRijnbeek commented on #107
![img_3353](https://cloud.githubusercontent.com/assets/7252105/22896576/0329065e-f221-11e6-9cfe-df163e03ae7e.JPG)

So the concept_name starts with a quote than has backslash quote at the end of the concept name and there is again a quote at the end of the line. Maybe you cut the concept_name to 255 just before a single quote?

Do i make sense now?

[2017-02-13 18:30] cgreich commented on #107
Oh. You do. Two problems here:
1. Your loader cannot escape the combination of backslash and quote properly. It should be translated into a quote.
2. There shouldn't be quotes like that.

The first problem is yours. The second ours. :)

[2017-02-13 18:36] PRijnbeek commented on #107
Well.. I think the loader (=JCDMBuilder) is probably escaping it correctly because there is a quote at the start of the conceptname and all the way at the end of the line after invalid_reason. These should not be there.

I also posted an issue on JCDMBuilder to double check this.

[2017-02-13 18:52] cgreich commented on #107
After invalid_reason? I doubt it.
Look: The string in the CSV file is "Long German Drug\\"".
Your loader should read it into the field as Long German Drug"

[2017-02-13 18:52] cgreich commented on #107
Obviously, the quote at the end is semantically wrong, but not syntactically.

[2017-02-13 18:58] PRijnbeek commented on #107
[quote-issue.txt](https://github.com/OHDSI/Vocabulary-v5.0/files/772092/quote-issue.txt)

see this file which is taken directly from the concept.csv file I got from ATHENA.

There is a quote all the way at the end of the line!

[2017-02-14 08:50] schuemie commented on #107
Actually, it is my bad. The quote at the end of the line is inserted by Usagi. Usagi first sorts the file by concept ID before using it, and during the sort it both reads and writes every row. Usagi has a problem with the sole trailing quote at the end of the concept name.

For now, the quickest workaround is extracting the concept.csv file from the Athena zip file again, and overwriting the sorte

[2017-02-14 09:24] PRijnbeek commented on #107
Aha ☺

So after unzipping the Athena zip file and using the folder for USAGI the files are changed by USAGI which results in the problem for JCDMBuilder.

Would still recommend to remove the trailing quotes in the vocab.

Thanks

From: Martijn Schuemie <notifications@github.com>
Reply-To: "OHDSI/Vocabulary-v5.0" <reply@reply.github.com>
Date: Tuesday 14 February 2017 at 09:50
To: "OHDSI/Vocabulary

[2017-02-14 09:25] #107 closed

[2017-02-14 13:54] ericaVoss commented on #105
I believe this is a duplicate on issue #88.  Agree this is an important issue.

[2017-02-14 15:33] cgreich commented on #107
Phew.

Trailing quotes in the names, you mean, Peter? Yes, it is already in the backlog.

[2017-03-08 20:20] dsbader opened #108 "Compatibility for deprecated concepts in CONCEPT_ANCESTOR? (question)"
I see that the convenience table CONCEPT_ANCESTOR is limited to standard and valid concepts, however, I'm interested in providing some backwards-compatibility for deprecated concepts. I.e., Roll-up a deprecated concept to its former ancestor concepts, even though the relationship may now be invalidated.

Is there a SQL script or any documentation that I could use to try to replicate the logic used

[2017-03-14 03:32] cgreich commented on #108
@dsbader:
Yes. https://github.com/OHDSI/Vocabulary-v5.0/blob/master/Final_Assembly/concept_ancestor.sql.

[2017-03-14 03:34] dsbader commented on #108
Thanks Christian
On Mon, Mar 13, 2017 at 11:32 PM Christian Reich <notifications@github.com>
wrote:

[2017-03-14 03:34] cgreich commented on #104
@hamedabedtash:

We know. There is a bug in ATC. We will fix it soon, as soon as we wrestled down the current RxNorm Extension issue.

[2017-03-14 03:38] gowthamrao opened #109 "Discrepancy in HIPAA place of service"
Originally described [here](http://forums.ohdsi.org/t/discrepancy-hipaa-place-of-service-codes/2153)

There seems to be some discrepancy that needs correction. Could we please correct them.

Here is the full list of HIPAA place of service codes https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set.html

[ATLAS Search - HIPAA place of service codes.xlsx](https://githu

[2017-03-14 03:59] cgreich commented on #109
@gowthamrao:

Not sure why those unassigned were assigned. The source we had had them assigned. But why would we take them out? We need Inpatient Long-term Care and Adult Living Care Facility.

I'll add 02 and 19.

But generally: These places of service are an artefact of the CMS system, where they worry about the funding mechanism, but not the way healthcare is delivered. What is a "Federally Qua

[2017-03-14 11:04] gowthamrao commented on #109
We just need to take the source code value out. I.e. keep 8979, 8892, 8882, 8677 concept id. Just take out the mapping to 27, 28, 35 and 95 HIPAA place of service. Change the vocabulary to OMOP vocabulary.

The ETL expert uses the mapping to joins between the string source code to integer concept id. If we don't clean it, this is burden if technical debt.

Agreed, we need something better. The HIP

[2017-03-14 11:07] gowthamrao commented on #109
In the change, can we also make source code to characters? I.e. '02' instead of 2? The letting zero is part of the source code value.

[2017-03-14 11:56] cgreich commented on #109
I can't take codes out. Every concept has to have a code. I cannot trace where they came from, and whether that was local code in some state. I can make them OMOP though.

It is "02". If you import it to Excel it takes the leading zeros off. I have learned the hard way to never use Excel for any of that, because it constantly is trying to be smart.

[2017-03-15 08:22] ericaVoss opened #110 "Vocab_ID = Domain, Note?"
Should there be a "Note" in the VOCABULARY_ID = 'Domain'

[2017-03-15 08:39] ericaVoss opened #111 "Domain_ID = Metadata, Vocabulary_ID = Relationship"
We would like to request a new relationship CONCEPT_ID called "Linked To"

[2017-03-15 08:40] ericaVoss opened #112 "Duplicate in DOMAIN_ID = Metadata and VOCABULARY_ID = Relationship"
There seems to be duplicates:

46233687	Patient moved to
46233680	Patient moved to
46233686	Patient moved to

[2017-03-15 08:48] ericaVoss opened #113 "Duplicated OMOP Generated Codes"
These look like pure duplicates:

45756774	Female Pelvic Medicine and Reconstructive Surgery
45756773	Female Pelvic Medicine and Reconstructive Surgery

[2017-03-15 10:52] cgreich commented on #113
True. Killing the first.

[2017-03-15 11:01] cgreich commented on #112
Yikes. True. Killing 86 and 87.

[2017-03-15 11:03] cgreich commented on #111
What does that mean, linked to? Linked how?

[2017-03-15 11:04] cgreich commented on #110
Yes. Added.

[2017-03-15 12:01] ericaVoss commented on #110
Could we get the CONCEPT_ID . . . updating and ETL right now.

[2017-03-15 12:08] cgreich commented on #110
5085

[2017-03-15 12:11] ericaVoss commented on #111
At ERASMUS we have this concept of linked data.  Essentially they review notes for conditions and drugs.  The conditions/drugs then get added to CONDITION_OCCURRENCE/DRUG_EXPOSURE/OBSERVATION and they want to be able to link those entries to the actual NOTE.  We'll used the FACT_RELATIONSHIP to tie the records and wanted an appropriate RELATIONSHIP_CONCEPT_ID to describe the relationship.  Otherwi

[2017-03-15 12:34] cgreich commented on #110
How did you do that??? :)

[2017-03-15 12:37] ericaVoss commented on #110
What the thumbs up?  Look to the right of each post, there is a smiley face, you just click on it.  :)

[2017-03-17 02:56] hamedabedtash commented on #104
Thanks @cgreich for the hard work! We are aware of the challenges with ATC, too.

[2017-03-21 13:47] ericaVoss opened #114 "ATC and RxNorm 42707371-Clonidine Hydrochloride 0.15 MG Oral Tablet"
The RxNorm `42707371-Clonidine Hydrochloride 0.15 MG Oral Tablet` should map to ATC `C02AC01` however it looks like the relationship has been deprecated.

[code]

However the WHO still suggests this should still be an active map.
https://www.whocc.no/atc_ddd_index/?code=C02AC01&showdescription=yes

I found some other codes that seem to be exhibiting the same behavior however I did not investigate

[2017-03-23 23:59] cgreich commented on #114
We need to fix the ATC mappings. Will get back.

[2017-03-24 00:02] cgreich commented on #111
Should we introduce something like "Derived from" and "Used to derive"?

[2017-03-24 00:03] #108 closed

[2017-03-27 08:33] marcel1334 commented on #111
"Derived from" will be a good and useful extra term for the vocab. But unfortunately not usable for our situation. In our IPCI database we simple have a link between conditions and other kinds of data. The context of the link is unknown but and we want to keep this link. Sometimes it will be an incoming letter from a specialist resulting in a condition record that is derived from this letter. In t

[2017-03-28 13:48] cgreich commented on #111
Probably is better to discuss this in the Forum. Want to do that?

[2017-04-11 14:15] ericaVoss opened #116 "Ortho-Tri-Cyclen Lo"
Was doing a review of Ortho Tri Cyclen Lo NDCs and generics.  I found 2 that are listed in Red Book and have usage in our claims data but neither have an 11-digit nor 9-digit NDC within the Vocab.

`00062125101-ORTHO TRI CYCLEN LO-JANSSEN`
`00378727753-NORGESTIMATE AND ETHINYL ESTRADIOL-MYLAN`

`00062125101` does have sister NDCs in the Vocab which are `00062125115`, `00062125120`, `00062125100`,

[2017-04-29 09:47] pbr6cornell opened #119 "Bug in CONCEPT_ANCESTOR construction for combination products in RxNorm mapping up to ATC classes"
We have an issue with CONCEPT_ANCESTOR constructor for how combination products are pulling in ingredients that roll up to drug class.

Ex:   pioglitazone (http://www.ohdsi.org/web/atlas/#/concept/1525215) is an ingredient that has 'inferred class of '  'Thiazolidinediones' (http://www.ohdsi.org/web/atlas/#/concept/21600779).   If I look at all ingredients with 'inferred class of' to TZD, the list

[2017-04-29 11:55] cgreich commented on #119
This is already being fixed right now. We are testing.

[2017-05-08 03:45] pbr6cornell opened #120 "SPL vocabulary needs to be refreshed"
We need to use LAERTES to create negative controls for our all of population-level effect estimation studies.  In order to refresh LAERTES, we need the vocabularies that contain the component data to be up-to-date in the vocabulary.  One piece of LAERTES comes from the structured product labels, but we need the ability to map from SPL_ID to RxNorm CONCEPT_ID.   The current ATHENA vocabulary has no

[2017-05-08 10:02] cgreich commented on #120
Will do.

[2017-05-08 10:02] #120 closed

[2017-05-09 08:54] schuemie opened #121 "CONCEPT_ANCESTOR table inconsistencies"
Not all drugs roll up directly to their ATC ancestors, but they do in a two-step approach. For example, 'Diclofenac 35 MG Oral Capsule [Zorvolex]' is not a descendant of NSAIDS:
[code]
But diclofenac is a descendant of NSAIDS:
[code]
and 'Diclofenac 35 MG Oral Capsule [Zorvolex]' is a descendant of diclofenac:
[code]

There are quite a few drugs like this:
[code]

[2017-05-16 20:36] ericaVoss opened #122 "Crohn's vs Diverticulosis"
Just logging the thread:
http://forums.ohdsi.org/t/crohns-vs-diverticulosis/2794

[2017-05-20 15:18] gowthamrao opened #123 "AHRQ HCUP conversions"
AHRQ HCUP maintains a classification vocabulary at https://www.hcup-us.ahrq.gov/tools_software.jsp . It would be great to have this classification vocabulary as part of OMOP CDM. It will serve the use-cases of 'standard table 1' being discussed here http://forums.ohdsi.org/t/standard-table-1/2797/7 and many others.

AHRQ HCUP has about 15-classification vocabulary systems, that classify concept-id

[2017-05-21 00:04] cgreich commented on #123
@gowthamrao:

The goo.gl link does not give me permission. Can you open?

[2017-05-21 00:20] gowthamrao commented on #123
@cgreich it opens for me. If the short-url does not work, here is the long one

https://docs.google.com/document/d/1rQYR44x-ziK0PpnqeiCmoMl3Bx-t5TgWGsV_Cpj8liw/edit?usp=sharing

[2017-05-21 00:57] cgreich commented on #123
@gowthamrao:

Now it works. Couple of points:

1. This appears something for the WG, or at least the Forum. Not a Github issue. Or is there a reason you are putting it here?
2. We have considered the CCS before. In fact, it even has a vocabulary_id. But we didn't end up implementing for the following reason: Our classification systems work only for Standard, not for Source Concepts. Reason is simp

[2017-05-21 01:11] gowthamrao commented on #123
Good points​. And thank you for the background. AHRQ HCUP is more than just ccs categories for ICD diagnosis codes.

The list includes classification for OMOP standard concept codes like procedure codes, CPT codes, revenue code etc. Maybe those are straight forward to include.

[2017-05-21 01:25] cgreich commented on #123
Totally agree. I like them. We'll put them in. Not tomorrow, though. Or are you in a hurry with some of them?

[2017-05-21 10:05] pbr6cornell commented on #123
christian, gowtham has implemented script to implement ccs, we just need go
ingest it and then create relations from ccs to snomed via icd, so i
advised him to post this here as github issue.

On May 20, 2017 8:57 PM, "Christian Reich" <notifications@github.com> wrote:

[2017-05-21 12:24] cgreich commented on #123
I see.
But we tried it. Comes out ugly. At least the ICD9CM-based ones. We can take another look at ICD10CM. But also: There will be holes. Because the ICDs aren't as comprehensive. CCS covers them all, but not SNOMED Conditions. I am skeptical it would work.

[2017-05-21 14:03] gowthamrao commented on #123
Regarding hurriedness - It would be great to get community assigned concept id's and vocabulary added. Some concept relationship are straight forward and we can add them right away. Others maybe complex and we can solve them over time.

[2017-05-24 14:04] gowthamrao opened #124 "Missing ICD-10-CM diagnosis codes"
Hello - these ICD-10-CM codes does not seem to have a concept-id assigned to them. Maybe they were missed? Some of them are pretty important ones like 'Pure Hypercholesterolemia'. I tried to order them based on priority and am presenting about 250 codes for considerations.

ps: there is no '.' in the attached ICD10 codes, but the original ICD10 codes will have a '.'

[ICD-10-CM code missing.xlsx](

[2017-05-24 14:18] gowthamrao opened #125 "ICD10-CM not mapped to SNOMED"
An impressive 91,594 ICD-10-CM codes are mapped to SNOMED out of 106,666 ICD-10-CM codes in OMOP vocabulary (in current version). Of the unmapped 15,000 - I thought of recommending that we map the following 1,000 (sorted by priority).

Most of these would probably be observations.

[icd concept.xlsx](https://github.com/OHDSI/Vocabulary-v5.0/files/1025844/icd.concept.xlsx)

or maybe we just can't m

[2017-05-24 16:47] gowthamrao commented on #124
Yes - thank you

[2017-05-24 16:51] dimshitc commented on #125
Well, I just took your 1000 concept list. and only 24 of them I found as not-mapped,
look:
select count(distinct c.concept_id) from  concept c
 join rao_list o --your 1000 concepts
 on o.ICD_CM_CODE  =replace (c.concept_code, '.')
 join  concept_relationship r on c.concept_id = r.concept_id_1 and r.relationship_id in ('Maps to', 'Maps to value') and r.invalid_reason is null
join  concept d on d.co

[2017-05-29 19:18] ericaVoss opened #126 "RxNorm Extension and Missing Ingredients"
I'm seeing RxNorm Extensions missing some ingredient associations.

[code]

[code]

Here are a few missing their `	1549786-	Ethinyl Estradiol` map.

[2017-05-31 13:34] ericaVoss opened #127 "CPT4 21 a Modifier?"
Is this CPT4 supposed to be a CONCEPT_CLASS_ID = 'CPT4 Modifier'?

[code]

CONCEPT_CLASS_ID = 'CPT4' currently.

[2017-05-31 13:50] clairblacketer opened #128 "New Type Concepts"
There are type concepts that would be useful in US claims when the position of a drug or procedure is unknown:

1. Diagnosis from claim
2. Procedure from claim

[2017-05-31 13:56] cgreich commented on #127
Why not?

[2017-05-31 14:01] ericaVoss commented on #127
Ugg - I'm in 20161218 maybe my copy is outdated?

[2017-05-31 16:21] cgreich commented on #127
Oh, I see. Let me see.

[2017-06-02 09:10] cgreich commented on #128
@clairblacketer:

Agreed. We have a proposal to disentangle these anyway in the WG. We should discuss it there.

[2017-06-15 17:30] OlenaKalashnikova commented on #80
@cgreich
As I understand if in a patient data we have R82.4, it means that doctor already took a look on the urinalysis results, compared it to the clinical signs and then put this R82.4 (Acetonuria) diagnosis. So it's a condition.

On the other hand if we have only urinalysis data, we'll get something like a LOINC code with results, and in this case it should go to measurement.

This way such ICD

[2017-06-15 18:04] cgreich commented on #80
@OlenaKalashnikova: That's correct. The ICD10CM Acetonuria is a diagnosis, not a measurement in the urine.

[2017-06-15 20:42] ericaVoss opened #129 "Anemia is a Measurement?"
I noticed that Anemia is not a MEASUREMENT in 20170503, is this correct?

[2017-06-15 22:10] cgreich commented on #129
There is no such concept_id.

But in general, Anemia, Proteinuria and all those measurements can also be used as a diagnosis. We are trying to make sure they all exist twice going forward.

[2017-06-16 08:00] dimshitc commented on #129
@cgreich , 20170503 means release date, not ID:)
"Proteinuria and all those measurements can **also** be used as a diagnosis", according to https://github.com/OHDSI/Vocabulary-v5.0/issues/80 last two comments it should be **only** diagnoses, and as @olenakalashnikova said LOINC concepts will be measurements.
BTW, closest SNOMED parent of "271737000 anemia" is "38292009 red blood cell disorder", so

[2017-06-16 08:22] dimshitc commented on #127
@ericaVoss , no, the current vocabulary version also has this,
I'm just curious, how'd you find this issue? - just routinely checked up the vocabulary or was there some use case, i.e. found it in a patient data?

@cgreich , so we need to make some kind of manual update because this '21' is deprecated in 2004 year and generic update will not pick this up.

[2017-06-16 08:36] pbr6cornell commented on #129
the issue is this snomed concept was in condition domain and is now in
measurement domain.  if this was a deliberate change, we need to understand
why it moved.  my general inclination is this should remain a condition.

On Jun 15, 2017 6:10 PM, "Christian Reich" <notifications@github.com> wrote:

[2017-06-16 08:42] dimshitc commented on #126
Yep, "43277461	Desogestrel 0.15 MG / Ethinyl Estradiol 0.03 MG [Madeline]" was linked to "1549948 Ethinyl Estradiol 0.000833 MG/HR", and then this concept was deprecated by RxNorm.
Anyway, in the next release it will be alright, our development tables already have links to both ingredients.

[2017-06-16 08:47] dimshitc commented on #122
it's fixed in the upcoming release.
thanks

[2017-06-16 12:16] ericaVoss commented on #129
Sorry for the poorly logged issue - the VOCAB ID = 03-MAY-2017 and the CONCEPT_ID = 439777.

Yes, and as Patrick said it used to be a CONDITION and now it is a MEASUREMENT.  We wanted to understand why this might have changed to understand if we should be expecting other similar changes.

[2017-06-16 15:06] OlenaKalashnikova commented on #129
I really want to have one rule for all the concepts of this type. So then do not get confused. We do not have concepts like "Measurement" in SNOMED. I'd like it to be CONDITION.

[2017-06-16 17:00] dimshitc commented on #129
You know, the problem here, that SNOMED changed it's hierarchy and now **Anemia** is a "child" of "Measurement finding (finding)", so it's correct according to out domain definition algorithms.
Once we make some unambiguous decision on it, we'll inform you

[2017-06-16 18:46] #103 closed

[2017-06-17 03:27] ericaVoss opened #130 "Changing Domains"
Looks like about 1,198 standard concepts changed domains between Vocab 20161231 to Vocab 20170503.  Most look good, however a few look incorrect:

[code]

This could be related to #96.  Maybe in OHDSI we have decided smoking is a condition?

I didn't capture everything, most of them looked related to smoking or treatment compliance.

Just a simple query to review
[code]

[2017-06-17 03:37] ericaVoss commented on #127
I double checked too, this issue exists in 20170503.

@dimshitc - Most of the errors I find are when we are building CDMs and something looks weird.  In this case I think I was testing mapping procedures to standards in the Vocabulary and noticed the 2-digit code when we were specifically excluding modifiers from the map.

I also test the Vocabularies every time we adopt a new one (like I'm doing

[2017-06-17 03:38] ericaVoss commented on #126
Okay, sounds good!  I'm just making a note that this still is a problem in 20170503 but will check back in a future version.

[2017-06-17 03:54] ericaVoss commented on #125
I tried to replicate this issue in Vocab 20170503 however I'm only finding 1,341 distinct CONCEPT_CODES of 92,957 in ICD10CM that are unmapped.  Not too bad.

I do agree the majority of them are deprecated ICD10CMs however that shouldn't drive the reason why they don't have a map.

I agree with your approach of seeing the usage in some data, but I don't have the new Vocab next to some patient data

[2017-06-17 04:01] ericaVoss commented on #124
Just making a note that this is still not fixed in 20170503 (as you already stated above) and so I can store this test query.

[code]

[2017-06-17 04:07] ericaVoss commented on #113
I see that 45756774 is now INVALID_REASON = 'U' in Vocab 20170503.  This issue should now be closed.

[code]

[2017-06-17 04:07] #113 closed

[2017-06-17 04:09] ericaVoss commented on #114
In Vocab 20170503 there is just no relationship now which leads me to believe this should remain open.

[2017-06-17 04:10] ericaVoss commented on #112
Looks good now in 20170503.

[code]

[2017-06-17 04:10] #112 closed

[2017-06-17 04:11] ericaVoss commented on #110
I see this concept exists in 20170503.  Thank you @cgreich !

[2017-06-17 04:11] #110 closed

[2017-06-17 04:16] ericaVoss commented on #93
This still looks to be an issue in Vocab 20170503.

[2017-06-17 04:17] ericaVoss commented on #91
Still an issue 20170503.

[2017-06-17 13:52] ericaVoss commented on #125
Only 80 of the source codes without maps show up in my largest claim's DB:

[code]

[2017-06-17 14:00] pbr6cornell commented on #125
These should be fixed, but I'm encouraged that 1) the prevalence of these
codes is low,  2) the number of unmapped codes is low, and 3) the most
prevalent among these codes are not likely impactful for most clinical
research.

On Sat, Jun 17, 2017 at 9:52 AM, ericaVoss <notifications@github.com> wrote:

[2017-06-17 14:37] gowthamrao commented on #125
I lost this thread! sorry

@dimshitc  I put the 1,000 prioritzed codes as a concept-set on Atlas here http://www.ohdsi.org/web/atlas/#/conceptset/904152/details

Randomly chose about 20 - and found them to not have a mapping. i.e. none of them had a related or hierarchical/descendant concept-id's mapped

@ericaVoss  absolutely agree with your suggestion to prioritize based on usage. The 1,000 I pr

[2017-06-18 03:44] ericaVoss commented on #88
This is basically the same thing as #105 and reviewing this using Vocab 20170503.

Here are Source Codes missing Standards and have counts within a large claims database:
[Source_Codes_Missing_Standard_Maps.xlsx](https://github.com/OHDSI/Vocabulary-v5.0/files/1082885/Source_Codes_Missing_Standard_Maps.xlsx)

[code]

[2017-06-18 04:21] pbr6cornell commented on #88
There's still several ICD9CM source codes on here that are unmapped but are
generally important for our clinical use cases, so we should prioritize
getting mappings.  Examples:

SOURCE_CODE CONCEPT_NAME VOCABULARY_ID PERSON_COUNT
V15.82 Personal history of tobacco use ICD9CM 1368536
655.83 Other known or suspected fetal abnormality, not elsewhere
classified, affecting management of mother, antepar

[2017-06-23 09:53] dimshitc commented on #130
Yeah,
SNOMED changed it's hierarchy
so now we have
1.
blood disorders now have ancestor: 441742003 Evaluation finding (finding)
so to avoid this we need to add condition "64572001 disease" to make them diseases
;
2.
 (363787002, 'Observation'); -- Observable entity
now has more children then it should be
and they made it really awfull, look:
http://ontoserver.csiro.au/shrimp/?concept=364075005&sys

[2017-06-26 10:32] PRijnbeek commented on #130
We also see many domain changes from Procedures to Observations for example:

4302396 Telephone Consultation
4295053 Diabetic Care etc
4259432 Home Visit
... many more

I guess the reason is a change in SNOMED? What I do not understand is why the Concept Class is still Procedure and Domain Observation?

[2017-06-26 11:01] cgreich commented on #130
Actually, these are not procedures, but Services. Those should be Observations. But we will review the hierarchical logic, @PRijnbeek

[2017-06-30 15:29] ericaVoss commented on #130
@clairblacketer and I have just been thinking about this a bit more.  The most notable change is that Anemia and their children are moving from CONDITION_OCCURRENCE to MEASUREMENT.  This seems to have the biggest impact on our data.  I've attached a XLS that shows you which concepts have the most rows in a large claims database.

[PREVALANT CONCEPT DOMAIN CHANGES.xlsx](https://github.com/OHDSI/Voc

[2017-06-30 15:53] ericaVoss commented on #129
Related to issue #130

[2017-07-22 02:24] wibeasley opened #131 "Broken link for vocab documentation"
Hi.  The link in the readme is broken.
[code]

![screenshot 2017-07-21 at 9 22 24 pm](https://user-images.githubusercontent.com/1372890/28487647-be876750-6e5a-11e7-8c7d-f9c5f955a465.png)

[2017-07-25 18:09] clairblacketer opened #132 "Missing NDCs"
There are some NDCs for drugs that were approved in the US in 2016 that are not in the 20170503 vocabulary. These are :
[code]

There are RxNorm concepts for these drugs:

concept_id|	concept_name|	domain_id|	vocabulary_id	|concept_class_id|	standard_concept|	concept_code|	valid_start_date|	valid_end_date	|invalid_reason
:---|:---|:----|:----|:---|:---|:---|:---|:---|:---
36249440|	venetoclax Oral

[2017-08-07 10:44] PRijnbeek opened #133 "Overweight and Underweight a measurement?"
Vocabulary Version 2017-08-04

Can someone explain me why overweight and underweight are in the measurement domain only?

To me this is an observation since it has no value. If this is not the difference between measurements and observation I am missing something.

Related issues: #130, #129

[2017-08-15 19:21] ericaVoss opened #134 "Duplicate "Diffuse large B-cell lymphoma"?"
Does it make sense to have 2 standard "Diffuse large B-cell lymphoma" in the CONDITION domain?

SELECT *
FROM CONCEPT
WHERE CONCEPT_ID IN (
44808122,4300704
)

[2017-08-17 12:51] dimshitc commented on #134
Well, we keep UK and international versions of SNOMED. 404148006 code
belongs to international version, and 847741000000106 code - to UK. So this
is OK to have such a duplicates

2017-08-15 22:21 GMT+03:00 ericaVoss <notifications@github.com>:

[2017-08-17 12:52] #134 closed

[2017-08-18 04:03] cgreich commented on #134
They will de-dup it over time, @ericaVoss. For us, there is no way to detect the dups and pick the right one. In this case it would be trivial, but SNOMED has more than this one.

[2017-09-01 16:35] pbr6cornell opened #135 "Missing HCPCS Q5102"
I was looking for Q5102, which is a code used for billing a biosimilar drug: https://www.cms.gov/Medicare/Medicare-Fee-for-Service-Part-B-Drugs/McrPartBDrugAvgSalesPrice/Part-B-Biosimilar-Biological-Product-Payment.html

The code became effective April2016.

Can this be included in the next vocabulary, assuming our HCPCS feed does contain the code?  And if it doesn't, can we determine why it hasn'

[2017-09-12 21:27] gowthamrao commented on #109
Can we make 27, 28, 35, 95 as invalid? They dont exist in CMS Hipaa place of service https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set.html

[2017-09-13 00:16] cgreich commented on #109
@gowthamrao:

Why does that bother you? If they don't show up in the data, it doesn't matter. If they do, let people use them.

We'll add 18.

[2017-09-30 15:35] ericaVoss opened #136 "Drugs Orphaned from Ingredient"
Related to issue #63.  Tested on Vocab 20170503.

We have found Drugs that are not associated to their ingredient.  This will cause problems in DRUG_ERA building or locating items of a specific ingredient.

[code]

One specific examples we care about, this concept gets used in the data but doesn't get associated to the ingredient.
[code]

Credit to @fdefalco  & @AnthonyMolinaro for finding the iss

[2017-10-01 13:09] aostropolets commented on #136
I checked your query on the latest vocabulary version, didn't return anything.
Also 45777080 has adalimumab in concept_ancestor.
Seems like you simply need to download the August release.

[2017-10-01 13:15] aostropolets commented on #131
Right, you should use readme in a vocabulary's folder, for instance
https://github.com/OHDSI/Vocabulary-v5.0/blob/master/UMLS/readme.md for UMLS.
When it comes to drug vocabularies please look at http://www.ohdsi.org/web/wiki/doku.php?id=documentation:international_drugs

[2017-10-01 13:25] aostropolets commented on #132
We haven't updated NDC for quite a long time indeed. Need to take care of it.

[2017-10-01 13:31] aostropolets commented on #133
Both of them have observation domain now when belong to SNOMED.

[2017-10-02 01:09] ericaVoss commented on #136
@aostropolets thanks!  I will try that!

[2017-10-02 15:22] AnthonyMolinaro commented on #136
@aostropolets Hi Anna, thanks for the update.  Since we're not on the new vocab yet, can you tell us more about this issue?  We'd like to understand how this might occur (we suspect the process that creates concept_ancestor from concept_relationship might be the cause).  Also, was this something that was specifically fixed in the August release or do you just not happen to see the problem in the A

[2017-10-02 17:24] aostropolets commented on #136
@AnthonyMolinaro
We were missing automatically generated links between more granualar and more general concepts in the RxNorm due to a bug in the script. And hence the Ancestor Constructor wasn't able to create those relationships between them.

[2017-10-05 00:15] ericaVoss commented on #136
@aostropolets - Looks much better on Vocabulary 20170920!

I still get 433 rows that return with the above query.  I think a lot of them maybe shouldn't go anywhere (like tricky vaccines), but might be worth a review.  Here are some examples:

[code]

[2017-10-06 13:15] aostropolets commented on #91
@ericaVoss @alondhe
In current release SNOMED 4289151 is updated and maps to 37396891 and so does ICD9CM's V58.11

[2017-10-06 13:20] aostropolets commented on #76
@schuemie @ericaVoss
maps to  43530634 History of tobacco use

[2017-10-06 13:22] aostropolets commented on #77
@schuemie @ericaVoss
maps to 194692 Cirrhosis - non-alcoholic
...trying to close all those issues :)

[2017-10-06 13:23] aostropolets commented on #97
@Sigfried
fixed

[2017-10-06 16:34] aostropolets commented on #136
@ericaVoss
First of all, non-standard concepts don't make it into the concept_ancestor. We've recently made RxNorm Extension out of DPD so it became non-standard. You also have updated/deprecated concepts like 43587477	Lisinopril 5.44 MG [Lisinopril-Ratiopharm]	  that we don't proceed.
Missing drugs: most of them shouldn't actually exist like all those Amino Acids.
CPT4 and HCPCS don't have ingred

[2017-10-06 20:25] ericaVoss commented on #136
@aostropolets question - what are CVX orphans?

[2017-10-06 20:57] aostropolets commented on #136
@ericaVoss
CVX drugs that do not have ingredient in their hierarchy :) Seems to be a vocabulary processing bug.

[2017-10-09 13:27] AnthonyMolinaro commented on #136
@aostropolets
Hi Anna, I'm new to the vocab, can you explain what a cvx drug is?  Specifically, how to identify it with a query (when I check domain_name, concept_class_name, and concept_class_id I don't find the string "cvx").  Thanks!

[2017-10-09 15:24] AnthonyMolinaro commented on #136
@aostropolets
Ok, so I found CVX here: https://github.com/OHDSI/Vocabulary-v5.0/blob/master/Final_Assembly/PCONCEPTANCESTOR.prc

Line 261 has a case statement that includes,  dc.vocabulary_id='CVX',  so it seems CVX is a vocab identifier.   However, both of these queries:
select count(*) from vocabulary_20170503.dbo.vocabulary where lower(vocabulary_id) like '%cvx%'
select count(*) from vocabulary

[2017-10-09 17:46] aostropolets commented on #136
@AnthonyMolinaro
CVX is a standard drug vocabulary that contains vaccines.
You don't see it in 20170503 vocab as we just added it in the end of July.
Concept_ancestor: not sure what's the question. ancestor is built based on concept_relationship so you get all those relationships between concepts as hierarchical tree. If you are interested here the link:
https://github.com/OHDSI/Vocabulary-v5.0/bl

[2017-10-15 18:17] ericaVoss opened #137 "GRR Gone?"
Was the GRR Vocabulary dropped?  I had it in 20170503 but it is gone in 20170920.

[2017-10-15 20:16] ericaVoss commented on #135
Checked for 20170920 and this has not made it in

[code]

[2017-10-15 20:19] ericaVoss commented on #133
I say this issue is closed as it is fixed in 20170920.

[code]

[code]

[2017-10-15 20:21] ericaVoss commented on #132
Just making a note that these haven't made it into 20170920

[code]

[2017-10-15 20:27] aostropolets commented on #135
Yep, preparing it to be released.

[2017-10-15 20:28] ericaVoss commented on #129
Looks like it has gone back.

[code]

[code]

It is good that we understand why something like this happens so thank you for the thread above.  I'm going to closed however since it is back in the domain we want it to be in.

[2017-10-15 20:28] #129 closed

[2017-10-15 20:30] ericaVoss commented on #128
Just noting that I don't think we have what we are looking for in 20170920 yet.

[code]

[2017-10-15 20:36] ericaVoss commented on #127
Actually looks like there is a whole bunch of them in 20170920, however they are all listed as invalid.

[code]

I'm not familiar with the CPT4 modifier Vocabulary, do codes deprecate over time?  Should we treat them like NDCs or DRGs?  Should all the codes above be associated to CONCEPT_CLASS_ID = 'CPT4 Modifier'

[2017-10-15 20:38] ericaVoss commented on #126
For these drugs, this is fixed in 20170920.

[2017-10-15 20:38] #126 closed

[2017-10-15 20:50] ericaVoss commented on #125
There seems to be more of these in 20170920 vs 20170503.

I tested the prevalence of the codes in our largest claims DB.  I only found 107 of the about 3K missing.
[code]

That top one `R9089 (R90.89) Diagnosis Description: Oth abnormal findings on diagnostic imaging of cnsl (Other abnormal findings on diagnostic imaging of central nervous system)`.  Looks like we don't have a good SNOMED for this

[2017-10-15 20:57] ericaVoss commented on #124
In 20170920 this issue is solved.  All 246 are in the Vocab now.

Could we please close the issue @gowthamrao ?

[2017-10-15 23:25] ericaVoss commented on #122
This seems to be fixed in 20170920

[2017-10-15 23:25] #122 closed

[2017-10-15 23:27] ericaVoss commented on #116
Still seems to be a problem in 20170920

[2017-10-15 23:28] ericaVoss commented on #114
Just noting this still exists in 20170920

[2017-10-15 23:36] ericaVoss commented on #105
@pbr6cornell  can you close this issue as it is duplicate.  I will test this on 20170920 as soon as I get the Vocab next to the source data.

[2017-10-15 23:38] ericaVoss commented on #97
@Sigfried this issue is closed, would you mind closing it?

[2017-10-15 23:40] ericaVoss commented on #96
They look in better domains now.  I'm closing.

[2017-10-15 23:40] #96 closed

[2017-10-15 23:41] ericaVoss commented on #93
Just making a note that this is still an issue in 20170920.

[2017-10-15 23:43] ericaVoss commented on #91
Looks good!  Confirm it is in 20170920.

@alondhe  would you mind closing the issue?

[2017-10-15 23:46] ericaVoss commented on #90
I think this is fixed now?  @dimshitc or @cgreich you are the MDs you tell me.  ^_^

35207831	Progressive vascular leukoencephalopathy

MAPS TO

4234089	Subcortical leukoencephalopathy

[2017-10-15 23:48] ericaVoss commented on #87
@pbr6cornell or @cgreich could you please close the issue?  I cannot.

[2017-10-15 23:50] ericaVoss commented on #80
Just noting this is still the same in 20170920

[2017-10-15 23:53] ericaVoss commented on #77
Fixed in 20170920 but I cannot close it.  @schuemie can you close it please.

[2017-10-15 23:56] ericaVoss commented on #22
I think I still see this in 20170920.  I'm pulling back 191 rows with my query.

Example:
[code]

[2017-10-16 00:27] #87 closed

[2017-10-16 00:27] #105 closed

[2017-10-16 02:09] cgreich commented on #87
Patrick beat me to it.

[2017-10-16 06:09] aostropolets commented on #90
@ericaVoss correct :)
@alondhe would you mind to close it? :)

[2017-10-19 22:48] dimshitc commented on #137
well, it's there now.
select count(*) from concept where vocabulary_id = 'GRR' and invalid_reason is null
;
I can't even imagine how did that happened that you couldn't find in a previous version

[2017-10-20 16:10] ericaVoss commented on #137
@cgreich & @dimshitc would it make sense that I should have access to GRR?  I got it pulled once.  Could you check my access to ericaStanoch email.

[2017-10-26 17:32] vojtechhuser opened #138 "LOINC: document how classes are organized"
I would like to implement analytical roll-up to LOINC classes.
I can see the new concepts in Athena.
E.g., here
http://www.ohdsi.org/web/atlas/#/concept/45876161
(and at the bottom)

Where can I find documentation on how is LOINC ingested into Athena?

exhibit 1
![image](https://user-images.githubusercontent.com/7526119/32067625-df24d32e-ba51-11e7-800d-9d9cbd8baf60.png)

[2017-11-13 13:46] gowthamrao opened #139 "NDC mapping to RxNorm"
Are there cases where one NDC code is mapped to more than one RxNorm?

[2017-11-13 15:17] dimshitc commented on #139
No, there aren't

[2017-11-13 16:12] cgreich commented on #139
We kicked them out. There are about half a dozen, and the THEMIS team is collecting them.

[2017-11-24 15:52] aostropolets commented on #137
Please try to request it on Athena

[2017-11-24 15:59] cgreich commented on #137
@ericaVoss:

The new Athena will know. If not, just request, and we pass you through. No backend sneaking in anymore.

[2017-12-04 17:37] ericaVoss commented on #137
@cgreich  and @dimshitc - I just went to ATHENA and I am not even allowed to select GRR.

![image](https://user-images.githubusercontent.com/6305439/33567012-d212eb0a-d8ef-11e7-8304-05a5526b6400.png)

[2017-12-04 23:13] mpozhidaeva commented on #137
@ericaVoss - please try to request а license through the link "license required" on the right of the vocabulary name

[2017-12-08 17:31] abedtashh opened #140 "HCPCS C9399, procedure or drug domain?"
HCPCS C9399 code (Unclassified drugs or biologicals) is currently assigned DOMAIN_ID='Procedure'. There are other similar HCPCS codes that belong to 'Drug' domain, like 'J3490', 'J3590', 'J8999', 'J9999'. To be consistent, wouldn't it be more proper to move C9399 to 'Drug' domain?

[2017-12-08 17:45] cgreich commented on #140
@abedtashh:

Correct. Will fix.

[2017-12-12 06:54] pbr6cornell opened #141 "HCPCS A9606 (CONCEPT_ID=45890601) should be mapped to RxNorm ingredient Radium Chloride RA-223 (CONCEPT_ID=43526934)"
HCPCS A9606, "Radium ra-223 dichloride, therapeutic, per microcurie" (CONCEPT_ID=45890601) should be mapped to RxNorm ingredient "Radium Chloride RA-223" (CONCEPT_ID=43526934)

Also, as part of that mapping, the HCPCS code should be given domain DRUG.

[2017-12-12 08:33] cgreich commented on #141
Welllllll. Radiochemicals are not supported to be drugs. Let me see.

[2017-12-12 10:19] aostropolets commented on #141
@pbr6cornell
thanks for noticing!
The general convention: we classify radiopharmaceuticals as devices because they are usually used for diagnostic purposes and not for treatment. Obviously, radium should be reassigned to Drug domain and mapped. Will do and will check other radiopharmaceuticals  as well.

[2017-12-14 13:59] dimshitc commented on #132
We are working on NDC update now,
interesting that we found concepts mentioned here:
http://forums.ohdsi.org/t/ndc-code-not-found-in-concept-table/3475
and they will be included in Monday, 18/12/17 release,
but concepts mentioned in this tread are still unavailable

[2017-12-14 14:08] #132 closed

[2017-12-14 14:10] dimshitc commented on #116
we updated the vocabulary using the latest source tables. and we still don't have these concepts listed

[2017-12-14 15:12] cgreich commented on #116
@dimshitc:

We will need a big round-up of all NDCs that people have that are not covered by our sources. Good thing for a Remote Network Study. Can you create a query and we post to the community?

[2017-12-14 15:32] ericaVoss commented on #116
@dimshitc THIS IS A COOL REMOTE NETWORK STUDY.  Can I participate with you?!

[2017-12-15 12:00] dimshitc commented on #116
@ericaVoss , yes, sure, it would be great!

[2017-12-15 22:21] ericaVoss opened #142 "Weird CPT4 Codes"
In Vocab 20171201

This CPT4s looks weird to me.  They are too long or contain letters.
[code]

Examples:
[code]

[2017-12-16 13:05] ericaVoss opened #143 "AMIS Vocab Gone?"
In 20171201 I noticed AMIS vocabulary is gone.  I don't think we use this for anything but wondering if that is correct or a mistake.

[2017-12-16 13:09] ericaVoss commented on #141
Obviously this has not been fixed in the last 4 days but I am testing 20171201 and want to make note that it isn't fixed in this Vocab.  Also to include the test query here for later.

[code]

[2017-12-16 13:11] ericaVoss commented on #140
Testing 20171201 obviously this hasn't been fixed yet but just making notes that I tested it in 20171201.

[code]

[2017-12-16 13:12] ericaVoss commented on #138
@vojtechhuser  - I think this is more of a forum question than an issue.  Mine pushing it over there?  Else I can do it for you.

[2017-12-16 13:16] ericaVoss commented on #137
@mpozhidaeva first of all +1 on your SlowPoke icon.

I requested it as you said and then I think I broke ATHENA.  I got the following message and now can't get back into ATHENA.  :(

[code]

[2017-12-16 13:21] ericaVoss commented on #135
This code is currently in Vocab 20171201.  @pbr6cornell  or @aostropolets  could you please close this issue?

[2017-12-16 13:21] mpozhidaeva commented on #137
@ericaVoss - hello, thanks)
Your actions are right - but the next hour we will update vocabularies and Athena will be not available.
I'm really sorry - will inform you after the completion of work

[2017-12-16 13:22] ericaVoss commented on #133
@PRijnbeek or @aostropolets could you please close this issue as it is fixed?  Still fixed in 20171201.

[2017-12-16 13:24] ericaVoss commented on #137
Okay, no problem!  I'm just doing some testing - I don't actually need the new Vocab at the moment.

[2017-12-16 13:24] ericaVoss commented on #131
@wibeasley or @aostropolets  could we please close this issue?

[2017-12-16 13:29] ericaVoss commented on #128
@clairblacketer or @cgreich I'm assuming this will go in with the list of concepts Clair is keeping?  I don't see them in 20171201.

[2017-12-16 13:30] ericaVoss commented on #127
I'm guessing we could close this issue as they are all listed as invalid?  (tested in 20171201)

[2017-12-16 13:41] ericaVoss commented on #124
I believe this is still solved still in 20171201.  @gowthamrao or @dimshitc  can you please close this issue?

[2017-12-16 13:49] ericaVoss commented on #116
@dimshitc it looks like we have 1 of the 2 I requested in 20171201.  I know this is an ongoing activity.  Just checking while testing.

[code]

concept_id | concept_name | domain_id | vocabulary_id | concept_class_id | standard_concept | concept_code | valid_start_date | valid_end_date | invalid_reason
--- | --- | --- | --- | --- | --- | --- | --- | --- | ---
44445864 | {7 (Ethinyl Estradiol 0.025

[2017-12-16 13:50] ericaVoss commented on #114
Just noting this still exists in 20171201.

[2017-12-16 13:53] ericaVoss commented on #109
Looks like 18 still doesn't exist in 20171201 and I'm not sure if we were going to invalidate the other codes but they are still valid.

[code]

[2017-12-16 13:54] ericaVoss commented on #101
@alondhe or @cgreich is this an issue or a forum discussion?  Could we close if not an issue?

[2017-12-16 14:05] aostropolets commented on #143
@ericaVoss
It is sitting in our database as it was :)
Seems to be the same problem as  #137

[2017-12-16 14:19] ericaVoss commented on #100
In Vocabulary 20171201 there are now 156,402 of these.

I bounced them off some claims data to see how often they are used.

[code]

[code]

[2017-12-16 14:41] mpozhidaeva commented on #137
@ericaVoss - Athena is ready for use now. Your request of GRR was sent successfully and after accepting (you will receive an email notification) you can download GRR.

[2017-12-16 14:46] #131 closed

[2017-12-16 15:48] cgreich commented on #101
Ask @alondhe.

[2017-12-16 15:50] cgreich commented on #114
@dimshitc has a small ATC working group.

[2017-12-16 23:24] ericaVoss commented on #99
All of these are deprecated now in 20171201 should we just close this ticket?

[code]

[2017-12-16 23:26] ericaVoss commented on #98
These were all deprecated at the time.  Should we just close this ticket?

We can find all of them like this:
[code]

Tested in 20171201 and there are 12,841 concepts where the name is empty but they are all invalid.

[2017-12-16 23:27] ericaVoss commented on #97
@Sigfried  can you close this ticket?

[2017-12-16 23:40] ericaVoss commented on #94
Testing in 20171201 and there are still about 300.  Here are the 10 most common by person count in a large US claims DB:

DRUG_CONCEPT_ID | CONCEPT_NAME | PERSON_COUNT
--- | --- | ---
1759842 | Clavulanate   | 17440959
19127890 | Inert Ingredients | 8293057
1545958 | atorvastatin | 5511165
905233 | Mometasone | 5130125
715939 | Escitalopram | 3736831
19045045 | Ergocalciferol | 2842103
1137529 | s

[2017-12-16 23:43] ericaVoss commented on #93
Making a note still in 20171201

[2017-12-16 23:45] ericaVoss commented on #91
Still looks good in 20171201 @alondhe  can you close this?

[2017-12-16 23:46] ericaVoss commented on #90
@alondhe this is still fixed in 20171201, please close it.

[2017-12-16 23:50] ericaVoss commented on #116
Also, @dimshitc - in our network study we can rope in issue #81

[2017-12-16 23:52] ericaVoss commented on #80
Just noting this seems to be the same in 20171201

[2017-12-16 23:53] ericaVoss commented on #77
Still fixed in 20171201, @schuemie  could you please close this issue.

[2017-12-16 23:54] ericaVoss commented on #76
Confirm that we should close this ticket.  20171201.

[2017-12-16 23:55] ericaVoss commented on #75
Can we close this issue?

[2017-12-16 23:59] ericaVoss commented on #64
This one is old, but highlighting for @clairblacketer

[2017-12-17 00:01] ericaVoss commented on #48
How is this one going?  /*pokes the bear*/

[2017-12-17 00:02] ericaVoss commented on #43
@cgreich  you opened it!  Close it, it is almost a year since the last time I complained.  ^_^

[2017-12-17 00:10] ericaVoss commented on #22
My favorite issue.  :)  This is still happening in 20171201.

[code]

DRUG_CONCEPT_ID | DRUG_SOURCE_VALUE | PERSON_COUNT
--- | --- | ---
903963 | J3301 |   5447808
46287340 | J0690 | 2794829
906939 | J2765 | 1184301
1309010 | J3420 | 1010104
1506270 | J1020 | 609560
40087247 | J3370 | 321929
19093848 | J3475 | 205359
46287363 | J0694 | 171777
40071173 | J2360 | 152626
1797513 | J0744 | 141625
4627

[2017-12-17 00:11] ericaVoss commented on #12
Is this still relevant?

[2017-12-17 00:11] ericaVoss commented on #36
@cgreich do you remember what this was about?

[2017-12-17 00:13] ericaVoss commented on #6
If I update the query to this I think we can close the issue (tested in 20171201)

[code]

[2017-12-17 00:15] ericaVoss commented on #111
I'm closing this as I'm sure we have already created a solution.

[2017-12-17 00:15] #111 closed

[2017-12-17 13:15] #135 closed

[2017-12-17 13:16] #133 closed

[2017-12-17 13:17] #90 closed

[2017-12-17 13:50] cgreich commented on #36
This was about adding APR DRGs. Not sure where they are used, we'd have to do some polling.

@dimshitc: Do you think it's a good idea to publish somewhere a high-level to-do list? The APR-DRGs can be downloaded embedded with some software here: http://www.qualityindicators.ahrq.gov/Software/winQI.aspx

[2017-12-17 13:51] cgreich commented on #12
@ericaVoss: Isn't that something you and Rich are playing with in Laertes?

[2017-12-17 13:52] cgreich commented on #43
@ericaVoss told me to close it.

[2017-12-17 13:52] #43 closed

[2017-12-17 13:54] cgreich commented on #48
@dimshitc:

Publish the list, please. (Well, make one and publish).

The UDIs are now available for download: https://accessgudid.nlm.nih.gov/download

[2017-12-17 13:56] cgreich commented on #64
@ericaVoss: It's actually for THEMIS [Focus Group 4](http://www.ohdsi.org/web/wiki/doku.php?id=projects:workgroups:themis:focusgroup4).

[2017-12-17 13:59] cgreich commented on #75
@ericaVoss: No, we need to fix it. Let me send an email to @deppensa, he/she might not pay attention.

@dimshitc: This is the problem of old HCPCS and CPT4s, which are no longer in UMLS. You may want to send an email to Tammy (she also does UMLS). Why there are ICD10 (probably ICD10CM) I don't know. We should have them all. Can you look?

[2017-12-17 14:19] #76 closed

[2017-12-17 14:20] #77 closed

[2017-12-17 14:21] cgreich commented on #80
@dimshitc: You fixed the domain rules, didn't you? Did you also fix the SNOMED peaks?

[2017-12-17 14:25] cgreich commented on #93
@ericaVoss: It ain't. It's mapped to 46270037 "Hepatic coma due to acute hepatitis C". Or what's wrong?

[2017-12-17 14:26] cgreich commented on #94
@dimshitc:

Send the list to Tammy, please.

[2017-12-17 14:26] #98 closed

[2017-12-17 14:26] #99 closed

[2017-12-17 14:40] ericaVoss commented on #93
Using the query above that is not what I see in 20171201.  Does the more recent copy of the Vocab fix this?

![image](https://user-images.githubusercontent.com/6305439/34080567-471d023c-e30e-11e7-9cf8-e7b8d1c4e946.png)

[2017-12-17 14:49] cgreich commented on #93
Fixed in the current. Returns

45605221	Acute hepatitis C with hepatic coma	B17.11	46270037	Hepatic coma due to acute hepatitis C

[2017-12-17 16:47] MelaniePhilofsky commented on #64
@ericaVoss & @schuemie
I've volunteered to make some recommendations on this issue in the Themis group. What specialties are missing and which ones are duplicate? Which coding system is the most comprehensive? NUCC, AMBS, CMS, others?

[2017-12-17 19:49] aostropolets commented on #22
Working on it. Hope to release the vocabulary next week.

[2017-12-18 01:07] deppensa commented on #75
The VA OMOP group has moved to installing OMOP updates (v5+) and cleaning missing LOINC and drug codes as higher priority.  I don't know when we will get back to working on the list of old activity code mappings.

[2017-12-18 15:13] aostropolets commented on #142
Seem strange indeed. Will take a look.

[2017-12-18 15:15] #97 closed

[2017-12-18 16:47] vojtechhuser commented on #138
@ericaVoss - let't do it this way - you do the initial post  (since you offered)  and I will chime in with support for it.

[2017-12-18 17:11] ericaVoss commented on #138
Here you go:
http://forums.ohdsi.org/t/loinc-document-how-classes-are-organized/3773

[2017-12-18 17:15] clairblacketer commented on #142
@ericaVoss @aostropolets I think the codes with letters are correct but the long ones look like place of service codes

[2017-12-18 20:32] abedtashh opened #144 "Scientific notation in Numeric data fields"
**_Please convert scientific notations to decimal format in DRUG_EXPOSURE table_**

We are seeing a new change in numeric data fields of DRUG_STRENGTH table (OMOP vocab releases after September 2017) that numbers are shown in scientific notation instead of decimal notation. For example:
`41047447	40799107			1.5E7	8718		8587		20170824	20991231`
`42718551	40798622			5.0E-4	8576		8576	1	20170824	2099

[2017-12-19 11:17] mpozhidaeva commented on #144
@abedtashh, hello - ok, will fix soon and inform your.

BR

[2017-12-21 16:16] mpozhidaeva commented on #144
@abedtashh, I'm sorry for delay - now it seems fixed.

BR

[2017-12-25 13:58] aostropolets commented on #141
Fixed. Mapped to 35603737 RADIUM CHLORIDE RA-223 Injection

[2017-12-25 13:58] aostropolets commented on #140
Fixed

[2017-12-25 14:13] aostropolets commented on #125
@ericaVoss  you may check now, most of the codes are mapped.
@gowthamrao  I've noticed that you use codes with small 'x' in your concept set. These are invalid, so you need to use the same ones but with the capital 'X'.
For instance,
W22.01xA  Walked into wall, initial encounter is deprecated,  whereas W22.01XA (concept_id 45556610)
is mapped to 432788 Accidental bumping into stationary object.

[2017-12-25 14:14] #124 closed

[2017-12-25 14:27] aostropolets commented on #22
@ericaVoss
We are left with 20 concepts that are too general to be mapped:

concept_name | concept_code
-- | --
Injection, insulin, per 5 units | J1815
Immunosuppressive drug, not otherwise classified | J7599
Contraceptive supply, hormone containing patch, each | J7304
Contraceptive supply, hormone containing vaginal ring, each | J7303
Intrauterine copper contraceptive | J7300
Hemophilia clotting

[2017-12-29 15:42] gowthamrao opened #147 "cost concepts"
Please add cost concepts from [spreadsheets](https://docs.google.com/spreadsheets/d/1EMSNUkeW3ixLh8uHe_E8I3ambczmITsDBxVbZS1RBIM/edit?usp=sharing)
proposed and accepted here  https://github.com/OHDSI/CommonDataModel/issues/81

There is no mapping between concepts
There are no external codes  - these are omop-codes/omop-concepts

@dimshitc @cgreich

Thank you!

[2018-01-05 23:11] abedtashh opened #148 "Mismatched ICD-9/10-CM to standard concept mappings"
I analyzed the mapping of a code list of malignant neoplasms of bronchus and lung neoplasm diagnoses in ICD-9-CM and ICD-10-CM to OMOP standard concepts, and found some of the codes are mapped to non-specific standard concepts, and in some cases mapped to a very specific concepts while the source code is unspecified. The original analysis was done on vocabulary version 2017-10-17, and double-check

[2018-01-08 16:11] abedtashh commented on #144
@mpozhidaeva It if fixed now. Thank you!

[2018-01-08 16:11] #144 closed

[2018-01-08 16:14] abedtashh commented on #140
C9399 code has changed to 'Drug' domain, so closing the issue. Thanks!

[2018-01-08 16:14] #140 closed

[2018-01-11 17:57] dimshitc commented on #148
Hi @abedtashh

Thanks for tracking this,
We know about the idea of mapping to a several concepts if we have some "OR" source concept.
Look, if we map  **Malignant neoplasm of bronchus and lung, unspecified** to a "**Malignant neoplasm of bronchus**" and "**Malignant neoplasm of lung**", which standard concept should we put into CDM?

If we put both concepts into CDM it will mean that patient had *

[2018-01-17 04:05] gowthamrao opened #149 "Pharmacy visits"
Two new concepts are requested based on the discussion here
http://forums.ohdsi.org/t/pharmacy-claims-drug-exposure-how-to-identify-the-dispensing-billing-pharmacy/3795/14

[2018-01-17 15:39] gowthamrao commented on #149
Request

concept id | Concept_Code | Concept Name | Domain | Vocabulary | Concept_Class | Standard
-- | -- | -- | -- | -- | -- | --
  | OMOP generated | Visit derived from encounter on pharmacy claim | Type Concept | Visit Type | Visit Type | S
  | OMOP generated | Pharmacy visit | Visit | Visit | Visit | S

@cgreich @gklebanov

[2018-01-17 17:15] cgreich commented on #149
For Type Concept, why not 44818517 "Visit derived from encounter on claim"

[2018-01-17 17:22] gowthamrao commented on #149
makes sense @cgreich . so we don't need 'Pharmacy visit' Type Concept? We only need to request one concept_id

concept id | Concept_Code | Concept Name | Domain | Vocabulary | Concept_Class | Standard
-- | -- | -- | -- | -- | -- | --
  | OMOP generated | Pharmacy visit | Visit | Visit | Visit | S

Makes it even easier and cleaner. Only one concept_id needed.!

[2018-01-18 18:38] vojtechhuser opened #150 "plasme typo in lab concept name"
see details here
https://github.com/OHDSI/OMOP-Standardized-Vocabularies/issues/11

(posted in the wrong repo)

[2018-01-23 15:42] alondhe opened #152 "Pemetrexed NDCs not mapping"
Hello,

I am trying to run a study involving pemetrexed using standard concept 1304919. However, I am not finding any occurrences in our US claims CDM databases. I do see occurrences of 2 NDC codes for pemetrexed in the native (source) data. I believe there's a missing map between pemetrexed NDC codes and the standard concept.

For reference, check out source concept ids 44855121,45127389,44957167

[2018-01-23 16:52] abedtashh commented on #148
Thanks @dimshitc. I totally agree with you no perfect approach exists to map ICD codes to SNOMED concepts, in particular if the goal is one-to-one matching.

You're right. It may not be a good practice to map "OR" concepts to multiple SNOMED concepts because we do not know exactly which organ was involved. So, we need to find a better match for ICD-10-CM codes of C34.90-C34.92.

But, in case of IC

[2018-01-23 17:18] dimshitc commented on #148
ah. typical trap of ICD-9-CM:) saying "AND" they mean "OR", so the doctors encode any localization cancer in this case, look:
http://www.icd9data.com/2014/Volume1/140-239/160-165/162/162.9.htm

The decision allows us to represent OR relationship is SNOMED Extension.
We have a discussion on the forum:
http://forums.ohdsi.org/t/condition-mapping-improvement-using-snomed-extension-proposal/3880/15

[2018-01-24 14:14] schuemie commented on #22
Not sure if this is solved in the next version, but seeing the problem in Sep 2017 version for zoledronic acid:

HCPCS | Name
-- | --
Q4095 | Injection, zoledronic acid   (reclast), 1 mg
J3488 | Injection, zoledronic acid   (reclast), 1 mg
J3487 | Injection, zoledronic acid   (zometa), 1 mg
J3489 | Injection, zoledronic acid, 1 mg
Q2051 | Injection, zoledronic acid, not   otherwise specified, 1mg

[2018-01-24 15:59] aostropolets commented on #22
It is. In fact, we also released mappings from CPT4 drugs to RxNorm at the beginning of this year. Personally I find it easy to look at the concepts in Athena as it has the up-to-date version.

[2018-01-24 17:01] cgreich commented on #22
Do you want to close it, @ericaVoss?

[2018-01-24 17:05] ericaVoss commented on #22
We still are on 20171201, will close when I can test it in an updated version.

[2018-01-31 22:35] abedtashh opened #153 ""Porfimer Sodium" case: Are all 'Precise Ingredient' concepts non-standard?"
@dimshitc
RxNorm has "Porfimer Sodium" (CID: 19090420) only as a 'Precise Ingredient', and there is no 'Ingredient' concept_class_id. The current logic is "At ingredient level, only class_id=Ingredient concepts are standard" (correct me if I'm wrong). But, "Porfimer Sodium" is one of 814+ cases that only appear as 'Precise Ingredient' in RxNorm, and no other 'Ingredient' level record is available.

[2018-02-01 18:26] ericaVoss opened #154 "Oxaliplatin JCODE --> CONCEPT_ID"
This JCODE looks orphaned (at least in Vocab 20171201).
`'J9263'-Injection, oxaliplatin, 0.5 mg`

I could go here:
`41021712-oxaliplatin 0.5 MG/ML Injectable Solution`

Here is the query I used:
[code]

[2018-02-01 18:45] dimshitc commented on #153
"Porfimer Sodium"
is linked to
Form of (RxNorm) | Dihematoporphyrin Ether | 19089602
http://athena.ohdsi.org/search-terms/terms/19090420
;
All Precise ingredients are linked to Ingredients by relationship_id ='Form of'

[2018-02-01 20:31] aostropolets commented on #154
Right now it is mapped to oxaliplatin Injection 35603923 mainly because it has injection as dose form and not injectable solution. Does it matter to you? We can change it to oxaliplatin 0.5 MG/ML Injectable Solution

[2018-02-01 20:34] ericaVoss commented on #154
Nope, doesn't matter to me where exactly it lands - it just was landing no where so it is an orphan source code for me in Vocab 20171201.

[2018-02-02 15:24] cgreich commented on #154
Should be Injection. Because it's the total amount.

[2018-02-03 03:11] ericaVoss opened #155 "Gemscript to Standard"
This example holds for the following Gemscript codes:
`09307021`
`72449994`
`9307021`

Example:
`72449994-Sodium chloride 7% nebuliser liquid 5ml ampoules`

maps to 2 concepts ID

1. 40220360-Sodium Chloride 72 MG/ML
2. 45775950-Sodium Chloride 74.5 MG/ML

This doesn't look right.

[code]

[2018-02-03 14:41] gowthamrao opened #156 "Visit type - professional, pharmacy, facility"
We have the following Visit type concept id

concept_id | concept_name | concept_class_id | standard | domain_id | vocabulary_id
-- | -- | -- | -- | -- | --
44818517 | Visit derived from encounter on claim | Visit Type | S | Type Concept | Visit Type
44818518 | Visit derived from EHR record | Visit Type | S | Type Concept | Visit Type
44818519 | Clinical Study visit | Visit Type | S | Type Concept

[2018-02-03 17:03] cgreich commented on #156
@gowthamrao: I see no reason why not, if it helps you. Make sure you talk to the right Themis group so they won't come up with something else.

[2018-02-04 11:28] dimshitc commented on #156
@gowthamrao  please ping me directly, if you decide to add these to the vocabulary

[2018-02-04 11:49] dimshitc commented on #155
Thanks for noticing,
we have dm+d and Gemscript clean-up planned, (something like in the next two monthes)
We'll let you know when it be done

[2018-02-05 17:56] PRijnbeek opened #371 "Character Encoding Types needed for Note Table"
Current DDL (v5.3):

encoding_concept_id | Yes | integer | A foreign key to the predefined Concept in the Standardized Vocabularies reflecting the note character encoding type
-- | -- | -- | --

@cgreich, @clairblacketer do we actually  have this in the vocab? What should we use for UTF-8?

[2018-02-08 02:55] ericaVoss opened #157 "Human Immunoglobulin(s)"
Does it make sense to have a singular and plural version of these concepts:

CONCEPT_ID|CONCEPT_CODE|CONCEPT_NAME
--|--|--
44012674 | OMOP1131583 | Human Immunoglobulins
36878747 | OMOP992262 | human immunoglobulin

[2018-02-08 11:21] aostropolets commented on #157
Sure it doesn't :)
Once we've gathered a sufficient pool of those, we'll fix them at once, so please keep sending all that you find :)

[2018-02-09 21:00] gowthamrao commented on #156
We are requesting the following new concept_id's
See discussion here http://forums.ohdsi.org/t/duplicate-diagnosis-themis-wg3/3966/21
This is a hierarchy/concept ancestor relationship.

concept_id | concept_name | concept_class_id | standard | domain_id | vocabulary_id | descendant of
-- | -- | -- | -- | -- | -- | --
44818517 | Visit   derived from encounter on claim | Visit   Type | S | Type   Co

[2018-02-10 08:16] #6 closed

[2018-02-10 08:19] aostropolets commented on #45
@schuemie @vojtechhuser
Yep, RxNorm Extension has it, concept_id = 40798673

[2018-02-13 01:42] gowthamrao opened #158 "Change domain from 'Place of service' to 'Visit'"
http://forums.ohdsi.org/t/visit-vs-place-of-service/4006/

- Vocabulary Place of Service belongs to the domain Place of Service and is used to populate place_of_service_concept_id in the care_site table.
- Vocabulary Visit belongs to the domain Visit and is used to populate Visit_concept_id.
- Vocabulary Place of Service is mapped to Visit in both concept_relationship and concept_ancestor table (I

[2018-02-13 17:27] ericaVoss opened #159 "UCUM Concept code does not match concept name"
Concept id 45890995; Concept name = Million unit per liter; Concept code = 10*6.[U]/mL
The concept code indicates Million units per milliliter, not liter.

Logging for @don-torok, he found it

[2018-02-13 18:12] dimshitc commented on #149
done.
concept_id = 581458

[2018-02-13 18:12] #149 closed

[2018-02-14 18:22] MelaniePhilofsky opened #160 "Provenance of conditions"
Based on the discussion here: http://forums.ohdsi.org/t/duplicate-diagnosis-themis-wg3/3966/21

I propose 2 more condition_type_concept_ids be created.

EHR billing diagnosis
EHR encounter diagnosis

Code = OMOP generated
Class = Condition Type
Domain = Type Concept
Vocabulary = Condition Type
Standard concept = S

Use case: The current standard concepts from the Condition Type class include: EHR

[2018-02-14 19:33] cgreich commented on #160
Why do you care again?

[2018-02-14 22:56] MelaniePhilofsky commented on #160
Sometimes our local data requestors want encounter dx and and sometimes they want billing dx. The same Visit for one diagnosis can produce two different codes (one billing and one encounter). Providers generally want their cohorts defined by the dx the provider gave, not what was billed to the insurance company. Utilization of services looks more to the billing dx. We need both and we need to dist

[2018-02-15 12:54] cgreich commented on #160
Sounds good. @dimshitc, can you?

[2018-02-15 13:15] dimshitc commented on #160
Sure, I can. Put it in a backlog

[2018-02-15 13:25] dimshitc commented on #159
fixed, so in the next release it will be ok

[2018-02-15 13:25] #159 closed

[2018-02-15 13:36] dimshitc commented on #158
I got the idea, in a few words:
Why do we need to have both "Visit" and "Place of cervice" if "Place of cervice" is enough as it has relationship to Visit?

@cgreich , should we make these changes?
- I would add the relationships to the hierarchy (there are 12 Place of Service aren't linked to a Visit)
and change from Place of Service domain into Visit domain

[2018-02-15 14:46] gowthamrao commented on #158
Yes, change domain from place of service to Visit. We don't need the domain place of service

[2018-02-15 15:11] dimshitc commented on #158
Actually, I have doubts:
CARE_SITE
place_of_service_concept_id describes type of the clinic, i.e. Rural Clinic, Mental asylum, etc.

VISIT_OCCURRENCE
Visit_concept_id describes type of visit: in or out-patient, ER

So you suggest to populate place_of_service_concept_id and Visit_concept_id with the same concept, say place_of_service_concept_id = "Inpatient Psychiatric Facility"
Visit_concept_id =

[2018-02-15 15:58] cgreich commented on #158
I'll answer in the Forum. Let's not have two places.

[2018-02-18 20:25] PRijnbeek opened #370 "How to do ATC to RxNorm Ingredient mapping?"
I am trying to understand how to get a complete list of ATC to ingredient.

Why do some ATC codes do not have the ATC to RxNorm relationship?

For example:

R06AD08  oxomemazine

While there is an ingredient Oxomemazine in RxNorm Extensions?

Are some relationships still missing?

[2018-02-20 19:33] gowthamrao opened #161 "Not place of service vocabulary"
http://www.ohdsi.org/web/atlas/#/conceptset/1730004/details

These OMOP generated concept_id's have the vocabulary_id 'Place of Service', but they are OMOP generated and don't belong to the CMS place of service vocabulary
https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set.html

concept id| code | Name
-- | -- | --
581381 | OMOP generated | Emergency Room Critical

[2018-02-20 19:38] gowthamrao commented on #109
@dimshitc

18 is still not added :)

[2018-02-20 19:54] dimshitc commented on #109
@gowthamrao , thanks for reminder. We'll add

[2018-02-20 19:57] dimshitc commented on #161
Yeah, these concepts don't belong to the CMS place of service vocabulary. But for some project in the past we needed them.
Does it make some problems now?

[2018-02-20 20:03] gowthamrao commented on #161
Does not make problems. Just found it during QC

[2018-02-27 19:20] MelaniePhilofsky opened #162 "Pain concepts"
Please add concepts for standardized pain scores as discussed [http://forums.ohdsi.org/t/n-pass-nips-cpot-wilda-pain-scales/4039](url)

I've attached a csv with the concept names and their relationships to one another. I've also added suggested standard concept ids for the relationships from the concept relationship table.
[Pain concept sets 4 OHDSI .xlsx](https://github.com/OHDSI/Vocabulary-v5.0/

[2018-02-28 08:54] dimshitc commented on #162
few questions for you before we add it to the vocabulary:
1. please, give the link to the source, so we indicate the reference
2. do the source give some codes for each question?

[2018-02-28 19:26] don-torok opened #163 "CMS Place of Service code 1-9 should have leading zero"
CMS Place of Service codes 1-9 have a leading zero in CMS Documentation.  Vocabulary is inconsistent, there is '02' for Telehealth, but the other single digit codes do not have a leading zero.

[2018-02-28 23:42] MelaniePhilofsky commented on #162
I could not find a source coding system for these pain scales. I checked SNOMED, LOINC, and Google. All I have found are scholarly articles contributing to the validity of the scales.

[2018-03-01 00:29] gowthamrao commented on #163
Agree. I think it's being fixed

[2018-03-01 11:42] dimshitc commented on #163
Yes, all such a concepts have leading zero now,
We'll release this version of the vocabulary tomorrow

[2018-03-01 11:44] dimshitc commented on #162
I mean some source
like "National Pain association" - I just made it up:)
where did you take those concepts?

[2018-03-01 14:57] MelaniePhilofsky commented on #162
I took the pain scales from my source data and then did a look up in Atlas, LOINC, and SNOMED. When they weren't present in those coding systems, I went to Google and found scholarly articles and educational material on how to use the pain scales. Here's [one](https://www.uwhealth.org/healthfacts/parenting/7711.pdf) about the NIPS pain scale. The pain associations/groups/organizations don't have m

[2018-03-01 15:11] cgreich commented on #162
@MelaniePhilofsky:

The scales must be somewhere, Melanie. Want to send an email to the authors of these papers? How would we otherwise get them in?

[2018-03-01 17:46] MelaniePhilofsky commented on #162
@cgreich ,

"How would we otherwise get them in?"

 Same way we are putting "Intensive Care" into the Place of Service domain :)  Add them in as an OMOP generated vocabulary, designate the concept names I suggested (located on the csv which matches the literature), designate a concept_id, give them relationships, and fill in the attributes for each. These panels are not contained in any standardiz

[2018-03-01 17:55] cgreich commented on #162
@MelaniePhilofsky:

True. We could. But it looks like these N-PASS, CPOT, NWBN, NIPS and CNPI are panels that exist, and Melanie didn't just pull them out of her sleeve. If so, let's get the official proper source.

[2018-03-02 19:44] MelaniePhilofsky opened #164 "US SNOMED codes not in vocabulary"
Attached is a list of SNOMED codes from our EHR that do not have matches in the vocabulary.
[US_SNOMED_codes_4_OMOP.xlsx](https://github.com/OHDSI/Vocabulary-v5.0/files/1776374/US_SNOMED_codes_4_OMOP.xlsx)

[2018-03-05 15:22] cukarthik opened #165 "Missing ICD10PCS Codes"
When is the next update of ICD10 procedure codes? Our data has many missing code. Here's an example of a few that seem to be new:

3E0P3VZ
099680Z
09BQ8ZX
09BQ8ZZ
09BW8ZZ
0BD88ZX
0BDC8ZX
0BDF8ZX
0BR847Z

[2018-03-05 18:06] dimshitc commented on #165
Thanks for noticing,
we're working on update,
Next release is expected on the next week, it'll include new ICD10PCS concepts

[2018-03-05 20:00] cukarthik commented on #165
Great. The sooner the better for us. Since we are in need of those codes to reload our OMOP instance. Thanks!

[2018-03-15 06:13] schuemie opened #166 "ICD-9 440.24 doesn't map to gangrene"
[ICD-9 440.24 (Atherosclerosis of native arteries of the extremities with gangrene)](https://athena.odysseusinc.com/search-terms/terms/44831256) does not map to [gangrenous disorders](https://athena.odysseusinc.com/search-terms/terms/439928), but it should.

[2018-03-15 12:08] cukarthik opened #167 "'TRUETEST GLUCOSE TEST STRIPS' doesn't map to right standard concepts."
When I run the  below code:

[code]

I see that TRUETEST GLUCOSE TEST STRIPS  maps to CHROMIUM PICOLINATE 0.4 MG Oral Tablet and a few other that do not seem correct.

[2018-03-16 02:48] cukarthik commented on #165
Just following up to see if a new version of the vocabulary was released addressing this issue :)

[2018-03-16 12:17] dimshitc commented on #164
done

[2018-03-16 12:17] #164 closed

[2018-03-16 12:25] dimshitc commented on #163
done

[2018-03-16 12:25] #163 closed

[2018-03-16 12:26] dimshitc commented on #165
done

[2018-03-16 12:26] #165 closed

[2018-03-16 13:06] dimshitc commented on #167
Oh, seems that source gives us this relationship. So we need to make the comprehensive algorithm of finding such an issues. Will keep you in touch

[2018-03-16 13:19] #161 closed

[2018-03-16 13:20] dimshitc commented on #158
done

[2018-03-16 13:20] #158 closed

[2018-03-16 13:43] dimshitc commented on #160
done

[2018-03-16 13:43] #160 closed

[2018-03-16 13:47] #152 closed

[2018-03-16 13:53] dimshitc commented on #147
done

[2018-03-16 13:53] #147 closed

[2018-03-16 13:58] dimshitc commented on #142
@clairblacketer, you are right
The source gives us them, so we need to keep them making them non-standard and make the mappings to the Place of Service vocabulary

[2018-03-16 14:06] dimshitc commented on #130
Well, in a current version of the vocabulary all the concepts you mentioned belong to the Observation domain.
Now we added manual review of domain changes after every SNOMED update as routine to avoid unexpected domain changes

[2018-03-16 14:10] schuemie commented on #166
This one is similar:
[ICD-9 440.4 (Chronic total occlusion of artery of the extremities)](https://athena.odysseusinc.com/search-terms/terms/44825448) maps to "Arteriosclerosis of artery of extremity" instead of "Chronic occlusion of artery of extremity" (44782819).

Interestingly, the equivalent [ICD10 concept](https://athena.odysseusinc.com/search-terms/terms/45596247) is mapped correctly.

[2018-03-16 14:12] dimshitc commented on #125
the vocabulary was updated on 2017-12-11 and it has all the codes, so I'm closing this issue.
Note, that those codes with small 'x' like W22.01xA are deprecated, so you need to use standard way of code representation - all capital

[2018-03-16 14:12] #125 closed

[2018-03-16 14:38] dimshitc commented on #166
ok. thanks, we'll schedule the ICD9CM review

[2018-03-20 18:27] gowthamrao opened #168 "Error"
Error

[2018-03-20 18:31] #168 closed

[2018-03-20 23:55] abedtashh opened #169 "Trastuzumab Emtansine incorrectly mapped to Trastuzumab"
## Probem:
"Trastuzumab" and "Trastuzumab Emtansine" are two different ingredients, but Trastuzumab Emtansine in GRR, BDPM, and dm+d vocabularies are mapped to RxNorm concept of Trastuzumab (Concept ID: 224905):

RELATES TO|CONCEPT ID|VOCABULARY
-- | -- | --
Trastuzumab Emtansine | 41605044 | GRR
Trastuzumab emtansine | 43243659 | BDPM
Trastuzumab emtansine | 21309257 | dm+d
Trastuzumab emtansine

[2018-03-21 15:15] cgreich commented on #169
True. Will fix.

[2018-04-02 13:39] clairblacketer opened #170 "Add Multum Lexicon to the Vocabulary"
I created a post about this [here](http://forums.ohdsi.org/t/nhanes-multum-lexicon/4222) but in a nutshell I would like to add the Multum Lexicon drug classification system to the vocabulary, the details of which are located [here](https://wwwn.cdc.gov/Nchs/Nhanes/1999-2000/RXQ_DRUG.htm#Appendix_3:_Multum_Lexicon_Therapeutic_Classification_Scheme_).

[2018-04-03 13:49] ericaVoss opened #171 "Weird CONCEPT_NAMES"
Do others have the following text for these CONCEPT_IDs:
`4164770,254443`

![image](https://user-images.githubusercontent.com/6305439/38253280-4709e674-3724-11e8-9630-66c2e4f5e996.png)

Text looks like it got garbled, but not sure if it is just a bad load on our part.

Thanks to Rupa for finding this!

[2018-04-03 15:01] dimshitc commented on #171
on my instance it's fine:
Sjögren's syndrome,
Guillain-Barré syndrome

[2018-04-03 17:34] ericaVoss commented on #171
Got it, looks like we had a loading issue.  Thank you!

[2018-04-03 17:34] #171 closed

[2018-04-12 11:36] cgreich commented on #81
@ericaVoss, friends:

Before you paste even longer SQL code I will not find will power to reverse engineer let me ask the following question:

This whole debate resulted from us having suspicion of reuse of NDC codes, correct? Because if that weren't the case we could just ignore the start and end_dates. If no, explain. If yes, I believe in THEMIS we decided to start a list of reused NDCs and publ

[2018-04-12 12:33] cgreich commented on #81
@ericaVoss:

Because we might want to study how long the pipeline keeps drugs going. And what the variation is, depending on what drug. And whether label changes make a dent into that.

[2018-04-12 12:34] cgreich commented on #81
@aostropolets: Can you reach out to Olivier and his list? We should put that somewhere into the vocab documentation, and a Forum post pointing to it.

[2018-04-12 12:40] ericaVoss commented on #81
@cgreich but I don't think the dates in the Vocabulary for NDCs are good anyway.  They seem to be way tighter than they should be.

[2018-04-12 12:48] cgreich commented on #81
@ericaVoss: Why are you saying that?

- If they started earlier - probably a reuse
- If they finish showing up in the data later: No surprise. Most drugs have an expiration of 5 years (and that is only because the FDA says so, in reality they can last longer). Which means as long as there are keggs in the pharmacies  they will hand out the old NDCs.

[2018-04-12 13:06] ericaVoss commented on #81
@cgreich I was seeing a bunch that were outside of the dates, here are some examples from Vocabulary 20171201

NDC | DATA_START_DATE | VOCAB VALID_START_DATE
------------ | ------------- | -------------
52544017572 | 2007-01-01 |  2012-12-01
49884059201 |  2001-01-01 | 2009-10-01
00039006011 | 2006-01-01 | 2007-06-01

What my code does it build eras of exposure of the drug, as long as there is >10

[2018-04-12 13:41] cgreich commented on #81
@ericaVoss:

Which is brilliant. We should do a network study. The result should go to the NLM and Olivier. Like in "What the heck is going on with these? They are not part of your reuse list."

[2018-04-12 13:55] ericaVoss commented on #81
@cgreich - I know I'm dragging my feet there.  Mui, Vojetech, and @dimshitc have been on me!

https://github.com/OHDSI/StudyProtocolSandbox/tree/master/NDCReview

[2018-04-12 14:11] cgreich commented on #81
@ericaVoss:

Perfect. Don't have to wait. We can get started and inundate Olivier. Who is on it? @dimshitc probably.

[2018-04-17 13:02] mgurley commented on #170
I have old Chemotherapy data in Intellidose for which this would be enormously valuable.  Yes, please.

[2018-05-01 13:59] vojtechhuser commented on #88
What is the status of this problem? Resolved or still present?

[2018-05-01 14:59] aostropolets opened #172 "Change domain_id of vocab DRG to 'Cost'"
1.Change domain_id of vocab DRG to 'Cost'
2.Add APR-DRG to vocabs (http://forums.ohdsi.org/users/jenniferduryea may have the info)

According to
http://forums.ohdsi.org/t/most-appropriate-omop-table-to-house-drg-information/1591/8
https://github.com/OHDSI/Themis/issues/18

[2018-05-01 15:07] vojtechhuser opened #173 "Celsius in UCUM is wrong"
This concept has wrong concept code

http://www.ohdsi.org/web/atlas/#/concept/8653

![image](https://user-images.githubusercontent.com/7526119/39478219-c72b18ca-4d2f-11e8-8b4d-93eb57758a7f.png)

change [degC] into cel in Concept code.

![image](https://user-images.githubusercontent.com/7526119/39478243-d91aa8a2-4d2f-11e8-9846-c8f8bab5e2f5.png)

[2018-05-01 15:43] cgreich commented on #173
See http://forums.ohdsi.org/t/ucum-code-for-celsius-doesnt-match-ucum-specs/4363/5.

[2018-05-01 15:51] cgreich commented on #88
All done.

[2018-05-01 15:51] #88 closed

[2018-05-08 13:56] abedtashh opened #174 "Histrelin: Missing NDC relationships to RxNorm"
The relationships from the below NDCs to RxNorm are missing:

Histrelin | 62157007801 | AX PHARMACEUTICAL - histrelin acetate powder
Histrelin | 75839014201 | HISTRELIN ACETATE - histrelin acetate powder

[2018-05-10 21:33] abedtashh commented on #174
@aostropolets Yes, I do that I'll send them to you. I also noticed we do not track recycled NDCs in the vocabulary. Is that true? I have a list for the recycled too.

[2018-05-10 22:56] aostropolets commented on #174
Correct, as a vocabulary can only have the unique codes. Therefore, we can’t, for example, store one recycled code as dead and the same new code with a different meaning as alive one.
I remember a discussion about that; people eventually came to an agreement that it wasn’t a big issue

[2018-05-11 19:30] clairblacketer opened #368 "[HCPC] Orphaned Zoledronic Acid"
@schuemie found this in Vocab 20171201
tagging @ericaVoss

The following HCPCs don't map to a standard CONCEPT_ID.
`'Q2051','J3489','J3487','J3488','Q4095'`

[code]

[2018-05-11 19:41] clairblacketer opened #367 "Create concepts for all tables and fields"
This is in relation to CommonDataModel issue [#164](https://github.com/OHDSI/CommonDataModel/issues/164) and [#172](https://github.com/OHDSI/CommonDataModel/issues/172). We would like to create concept_ids for all tables and fields in the CDM

[2018-05-11 22:38] cgreich commented on #174
@aostropolets: We said  that we will create a list like that outside as a THEMIS thing. Remember? Tammy or Olivier have a list like this to get started with.

[2018-05-11 23:29] aostropolets commented on #174
It doesn’t mean we can’t keep gathering more. Just means that further data will go to a second iteration, right? Or we had something else in mind?

[2018-05-12 16:32] cgreich commented on #174
The idea is because it is so rare it makes no sense to change the way the vocabulary system works (no duplicate concept_code). And for those who care about those NDCs they can put in a separate ETL script based on this list. Let's create that list.

[2018-05-18 19:27] burrowse opened #365 "Previous ICD Mappings to SNOMED Missing"
In the PEDSnet network, we have noticed that several ICD mappings to SNOMED are missing from our most recent download of the vocabulary and the mappings were not deprecated. As an example please see the following where `concept_code in ('F32.9','J10.1','F32.9','J10.1','R04.0','J09.X2')`.

Was there a decision to remove non-standard mappings going forward? Can we expect that relationships be deprec

[2018-06-05 14:11] #174 closed

[2018-06-05 14:12] #173 closed

[2018-06-05 14:14] aostropolets commented on #167
fixed. @cukarthik you also need to add cr.invalid_reason is null not to get old deprecated 'Maps to'

[2018-06-05 14:14] #167 closed

[2018-06-05 14:15] #156 closed

[2018-06-05 14:20] aostropolets commented on #137
@ericaVoss  can we close it? :)

[2018-06-05 14:27] aostropolets commented on #42
@vojtechhuser

[2018-06-05 14:30] aostropolets commented on #42
@vojtechhuser
They both (and the rest of standard concepts) can have 'Standard to Non-standard map (OMOP)' relationship as it basically Maps to relationship. If a concept is standard, it has it pointing out to itself.

[2018-06-05 14:30] #42 closed

[2018-06-05 14:31] #45 closed

[2018-06-05 14:33] aostropolets commented on #93
@ericaVoss  could you please close?

[2018-06-05 14:37] aostropolets commented on #102
@schuemie  please ckeck

[2018-06-06 00:14] cgreich commented on #42
Friends: Let's kill it. Hermes is long been incorporated into Atlas.

[2018-06-07 17:52] #141 closed

[2018-06-07 17:55] aostropolets commented on #100
to start with something:
@hamedabedtash  your drugs are mapped

[2018-06-10 14:19] don-torok opened #175 "Concept Relationship Updated concept map to another Updated concept"
UCUM concept 8792 invalid reason 'U' Concept replace by 8848 which also had invalid reason 'U'

Concept 8848 has no Concept replaced by relationship.

Vocabulary version March 2018

[2018-06-10 14:41] cgreich commented on #175
Strange. That concept is S, and has been so since inception in 2009. Update.

[2018-06-13 16:57] ericaVoss commented on #36
related to https://github.com/OHDSI/Themis/issues/19

[2018-06-20 20:22] ericaVoss opened #176 "Duplicate ICDO3 Code - 9342/3"
In Vocabualry 20180609 there is source code duplicated:

`
9342/3-Odontogenic carcinosarcoma
`

The two CONCEPT_IDs are:
`36402927, 44498515`

![bitmoji](https://render.bitstrips.com/v2/cpanel/7e3bc453-64fb-4a34-bcaa-481724e5d3d9-f9de47cd-e918-4b50-831d-d887a6386e5f-v1.png?transparent=1&palette=1&width=246)

[2018-06-20 21:39] ericaVoss opened #177 "CONCEPT_CLASS_ID = 'Undefined' increased for SNOMED"
[code]

Noticed an increase from 56 --> 396 SNOMED concepts that now have a CONCEPT_CLASS_ID = 'Undefined'.  I'm bringing it up for you to just double check that the increase was warranted.

[2018-06-20 21:49] ericaVoss opened #178 "SNOMED Device Ingredients?"
I noticed a few things that look like Drugs moved into the DEVICE domain (Vocabulary 20180609).  Now they were in the OBSERVATION domain before (Vocabulary 20171201).  Also found some OBSERVATIONs that looks like drugs.  Do these look right?  Maybe they are non-human drugs?

[code]

[code]

[2018-06-20 21:59] ericaVoss commented on #157
Just making a note that this specific example still exists in 20180609, I know you may not have worked on it yet.

[code]

[2018-06-20 22:01] ericaVoss commented on #127
@aostropolets should we just close this issue?  All these concepts have been deprecated.

[2018-06-20 22:05] ericaVoss commented on #137
I still can't download GRR, this is what it looks like now.  Mostly concerned to help with ATHENA testing, not so much that I need the Vocab.

![image](https://user-images.githubusercontent.com/6305439/41687060-688aa2ac-74b4-11e8-94d1-3f5d7b6f0c81.png)

[2018-06-20 22:11] aostropolets commented on #127
Sure, I will

[2018-06-20 22:11] #127 closed

[2018-06-20 22:12] aostropolets commented on #137
Did you request the license? And did @cgreich approve?

[2018-06-20 22:18] aostropolets commented on #178
They should all belong to devices and we’re slowly moving towards this. And while all NDCs used to be drugs, we look for device indicators and change those step-by-step. Will change more in the next NDC release

[2018-06-21 10:57] dimshitc commented on #177
Hi @
Thanks for reporting.
Does it affects some of your projects? I mean should it be fixed urgently?
The thing is that we are in the middle of adding UK Drug Extension to SNOMED, so refresh of SNOMED might take some time

[2018-06-21 14:25] ericaVoss commented on #177
I just noticed it and thought to tell you, doesn't impact me.  I'm just doing my normal testing.  So no urgency on my side.

[2018-06-21 14:42] cgreich commented on #177
@ericaVoss: thanks for doing this.

[2018-06-22 15:11] ericaVoss commented on #19
[code]

Could we close this issue?  Or are we taking action here.

I'm actually wondering if it is even appropriate to streamline these.

[2018-06-22 15:18] ericaVoss commented on #23
Looks like they are all in there by deprecated now.

[code]

It also still looks like they don't map to standard concepts, however this ticket is so old, maybe they aren't supposed to anymore?

[2018-06-22 15:19] ericaVoss commented on #66
Is this topic closed?

[2018-06-22 15:23] ericaVoss commented on #74
Testing in 20180609

Looks like SNOMED still thinks they both exist

[code]

[code]

Worth pinging SNOMED again and/or closing this issue?

[2018-06-22 15:31] ericaVoss commented on #92
Testing 20180609

Looks solved now for these?

[code]

I actually don't know how to write a query to get the length of significant digits, but I did visually spot some bad ones according to what Ke said above.

[code]

[2018-06-22 15:33] ericaVoss commented on #104
Testing 20180609

Looks like it is gone now
[code]

@hamedabedtash  can we close this issue?

[2018-06-22 15:35] ericaVoss commented on #119
Has this been fixed?

[2018-06-22 15:38] ericaVoss commented on #121
Testing in 20180609

Looks like this problem still exits and now has increased with RxNorm Extension.  That last query now pull 6843 rows.

[2018-06-22 16:25] ericaVoss commented on #123
Has progress been made on this item?

[2018-06-22 16:29] ericaVoss commented on #136
Testing 20180609

@aostropolets, I think this problem is solved now?

[2018-06-22 16:31] ericaVoss commented on #78
Testing in 20180609

I think this is resolved now, do you agree @pbr6cornell ?

[2018-06-22 16:40] ericaVoss commented on #128
Testing 20180609

I see this `44818705-Inferred from procedure claim` as a type concept but specifically listed as a `Device type`.  Would it make sense to have one that is generic or from procedure type?

Nothing like `Diagnosis from claim` though.

@clairblacketer I know you are handling a list, are these on there?

[2018-06-22 16:44] ericaVoss commented on #137
related to #143

Yeah, in the image you can see it say "license requested", @cgreich is probably just ignoring my request!

[2018-06-22 16:45] ericaVoss commented on #143
Closing this as it is the same thing as #137

[2018-06-22 16:45] #143 closed

[2018-06-22 16:52] ericaVoss commented on #101
@alondhe - could we close this?

[2018-06-22 16:53] ericaVoss commented on #114
Sorry for the harassment, but still exists in 20180609

[2018-06-22 16:54] ericaVoss commented on #91
still looks good, @alondhe please close

[2018-06-22 16:59] ericaVoss commented on #48
@dimshitc and @cgreich and @aostropolets

![bitmoji](https://render.bitstrips.com/v2/cpanel/7d0a8374-efa6-4960-a56e-1a0f68c1bad8-f9de47cd-e918-4b50-831d-d887a6386e5f-v1.png?transparent=1&palette=1&width=246)

[2018-06-22 17:02] ericaVoss commented on #80
@schuemie this looks like it is fixed now.  Could you close if you agree?

[code]

Maps to:
441968	Acetonuria
4042243	Urine ketone test

[2018-06-22 17:07] ericaVoss commented on #94
Testing in 20180609

@cgreich Tammy who?

Still have about 312 drugs that don't map to MeSH.  For example
`44507848-Ibrutinib` (RxNorm) could map to `45615184-ibrutinib` (MeSH)

[2018-06-22 17:11] ericaVoss commented on #64
Forum post here:
http://forums.ohdsi.org/t/provider-specialty-code-set-clean-up/3888

[2018-06-22 17:15] ericaVoss commented on #75
Any progress?  /*poke*/

[2018-06-22 17:18] ericaVoss commented on #138
@vojtechhuser mind if we close this issue and allow the forum post to move forward?

[2018-06-22 17:19] abedtashh commented on #104
@ericaVoss Yes, we can. Thanks!

[2018-06-22 17:21] ericaVoss commented on #104
@abedtashh you hold the power to do it.  :)

[2018-06-22 17:23] #104 closed

[2018-06-22 17:25] ericaVoss commented on #150
Testing in 20180609

Still a problem with CONCEPT_NAME

[code]

`Free/Total PSA serum/plasme`

True name found here:
[Prostate Specific Ag Free/​Prostate specific Ag.total in Serum or Plasma](https://r.details.loinc.org/LOINC/12841-3.html?sections=Comprehensive)

[2018-06-22 17:38] ericaVoss commented on #22
@cgreich - I still think I'm seeing the issue in 20180609.  I pulled back 219 rows.

Example:
[code]
What is weird is `2718218-Injection abciximab, 10 mg` had a mapping in 20171201 but now doesn't.

[2018-06-22 17:40] ericaVoss commented on #153
Should this issue be closed?

[2018-06-22 17:42] ericaVoss commented on #154
Testing 20180609 - still looks like it is orphaned

[2018-06-22 17:44] ericaVoss commented on #109
@dimshitc  and @aostropolets still missing in 20180609

[2018-06-22 17:46] ericaVoss commented on #142
Testing in 20180609

Just a reminder @dimshitc - make these non-standard and make mappings to the POS Vocabulary

[2018-06-22 17:53] aostropolets commented on #154
@ericaVoss  are we talking about http://athena.ohdsi.org/search-terms/terms/2718894 ?

[2018-06-22 17:56] aostropolets commented on #22
@ericaVoss  Hmmm. We have mappings to RxE for those three.

[2018-06-22 18:05] ericaVoss commented on #154
I see the RELATIONSHIP_ID = 'HCPCS - SNOMED proc' but that wouldn't be picked up when mapping from a SOURCE_CODE to a TARGET_CONCEPT_ID.  So in an ETL this code would get mapped to 0.

[code]

[2018-06-22 18:07] aostropolets commented on #154
![image](https://user-images.githubusercontent.com/17028852/41792071-4266a35c-7660-11e8-9ce8-e875ab363222.png)

[2018-06-22 18:10] ericaVoss commented on #154
What version are you in?

[2018-06-22 18:15] ericaVoss commented on #22
Yeah, my query above is terrible.  I find no Jcodes lacking a map (if I wrote this one right).

[code]

I find 0 Jcodes without a map.

[2018-06-22 18:15] #22 closed

[2018-06-22 18:18] aostropolets commented on #154
2018-06-09 is the most recent one and I'm in it (as it's the only version Vocab team can be actually in :))

[2018-06-22 18:22] ericaVoss commented on #154
I had the wrong Vocabulary selected.

![bitmoji](https://render.bitstrips.com/v2/cpanel/e2064913-7f96-4ac6-8767-47ae4ef35f24-f9de47cd-e918-4b50-831d-d887a6386e5f-v1.png?transparent=1&palette=1&width=246)

[2018-06-22 18:22] #154 closed

[2018-06-22 18:31] aostropolets commented on #154
Maaan, what a gorgeous pic! Looks like a custom one :)

[2018-06-22 18:41] ericaVoss commented on #169
Testing in 20180609

I don't have GRR since @cgreich won't let me have it . . . but . . .

[code]

Still being mapped to 1387104-trastuzumab

[2018-06-22 18:44] ericaVoss commented on #170
@cgreich , @dimshitc, or @aostropolets

Is this something we are considering?

[2018-06-22 18:48] ericaVoss commented on #172
Still looks like OBSERVATION domain in 20180609

[code]

An per above, THEMIS has called action on the APR-DRG but under [OHDSI/THEMIS#19](https://github.com/OHDSI/Themis/issues/19).

[2018-06-22 18:49] ericaVoss commented on #93
Yes, Hepatitis C = Hepatitis C in 20180609

[2018-06-22 18:49] #93 closed

[2018-06-22 18:54] ericaVoss commented on #102
### QUESTION 1
[code]

This concept looks to now be named levothyroxine, so this looks complete to me. :+1:

### QUESTION 2
@schuemie I'm not sure if I'm writing the query right for this:

[code]

[2018-06-22 19:01] ericaVoss commented on #100
Looks like we have a lot more NDCs, there are 173315 that don't have a map.

But I do see some drugs in there, just randomly going through:
CONCEPT_CODE
004043099	benzocaine 230mg/mL DENTAL GEL [benzo-jel pina colada]
00548635500	Morphine Sulfate 50 MG/ML Injectable Solution
00555113010	Morphine Sulfate 1 MG/ML Injectable Solution
62180509401	Epirubicin Hydrochloride 2 MG/ML Injectable Solution
03

[2018-06-22 19:04] cgreich commented on #19
Close the issue. I am tired of fixing races. They are nonsense. I am sure somebody sees a great difference in "Black", "African" and "African American".

[2018-06-22 19:08] aostropolets commented on #170
Yes, we're... Need to find a room for this one

[2018-06-22 19:13] ericaVoss commented on #19
Agree, @pbr6cornell  close the issue please.

[2018-06-22 19:29] abedtashh commented on #100
@ericaVoss  I agree. The topic is very broad that covers any missing NDC-to-standard mapping, so let's keep it open.

[2018-06-22 19:34] cgreich commented on #170
The problem is it won't work for RxNorm Extension, and we will not burden ourselves of making it so. Why do we need another drug classification?

[2018-06-22 21:03] cgreich commented on #169
Aren't you guys buying DA GErmany? That's what it is in tehre. You can have it.

[2018-06-22 21:05] ericaVoss commented on #169
YES, we have DA Germany!!  But you refuse to approve my permissions to it.

See #137

![bitmoji](https://render.bitstrips.com/v2/cpanel/822076c9-6743-49b9-8de3-3fbce68f5f20-f9de47cd-e918-4b50-831d-d887a6386e5f-v1.png?transparent=1&palette=1&width=246)

[2018-06-22 21:35] abedtashh commented on #169
I just checked Athena. Not fixed yet!

There is a shortcut to see which concepts need to be changed: All "Trastuzumab emtansine" concepts that are incorrectly mapped to "Trastuzumab" RxNorm concept (here: http://athena.ohdsi.org/search-terms/terms/1387104) need to be mapped to "ado-trastuzumab emtansine" RxNorm concept (http://athena.ohdsi.org/search-terms/terms/43525787).

[2018-06-22 22:03] aostropolets commented on #169
Hamed, it’s not that easy as you think. We need to update and refresh all the vocabularies that are involved. It apparently takes time and resources. We will do it as soon as possible. Will keep you posted.

[2018-06-24 14:54] ericaVoss opened #179 "ICD10CM Codes that Used to Map Somewhere Now Do Not"
When comparing 20171201 versus 20180609, and noticed this . . .

### EXAMPLE 1
ICD10CM M89.01 - Algoneurodystrophy, shoulder

Used to map to 4175447-Complex regional pain syndrome, type I

But now that concept is deprecated, however there does seem to be a new one, 42536233-Complex regional pain syndrome type 1 or maybe this one is better 46273207-Complex regional pain syndrome of upper limb

###

[2018-06-25 12:16] #138 closed

[2018-06-25 15:09] cgreich commented on #137
@ericaVoss: You got it.

[2018-06-25 15:11] ericaVoss opened #180 "Hierarchy for TYPEs"
@gowthamrao and I would like to see a simple classification system created for the TYPE fields.  Basically if I want to know all the "patient reported" types or "claims" types I should be able to use the Vocab the find those.

Maybe the CONCEPT_CLASS_ID might be good enough for this?

CONCEPT_ID | CONCEPT_NAME | DOMAIN_ID | VOCABULARY_ID | CONCEPT_CLASS_ID
--- | --- | --- | --- | ---
45756856 | Ou

[2018-06-25 15:16] cgreich commented on #142
Will fix that together with the [overhaul of the PoS](http://forums.ohdsi.org/t/care-sites-and-specialty-specialty-code-clean-up/4538/6).

[2018-06-25 15:19] cgreich commented on #109
Will fix together with the [Place of Service clean-up](http://forums.ohdsi.org/t/care-sites-and-specialty-specialty-code-clean-up/4538/6).

[2018-06-25 15:21] #153 closed

[2018-06-25 15:28] cgreich commented on #180
In fact, that's how we should fix this problem: Precoordinate concepts if we need to say more than one thing ("Outpatient detail", and "2nd position"), even though in this case I think we don't need the Outpatient detail thing. But let's discuss.

[2018-06-25 15:31] cgreich commented on #94
@ericaVoss: Powell, Head of RxNorm at the NLM.

[2018-06-25 15:44] chrisknoll commented on #180
@cgreich , there's a request to add a a feature to CIRCE related to excluding condition_type_concepts, and one idea was proposed to leverage concept set expressions (which assumes that there would be concepts in concept_ancestor for the concepts of interest).

Question:  do you plan on having condition_type, drug_type, etc concepts in concept_ancestor so that we will have a hierarchy of {domain}_t

[2018-06-25 16:00] gowthamrao commented on #180
@cgreich @chrisknoll {domain}_type_concepts have hierarchy

![image](https://user-images.githubusercontent.com/13936600/41861448-4fdb6bba-786f-11e8-8324-ca6fec249179.png)

http://athena.ohdsi.org/search-terms/terms/32023?fullscreen=false&levels=10&standardsOnly=false&zoomLevel=4

[2018-06-25 16:17] #91 closed

[2018-06-25 16:17] #101 closed

[2018-06-25 16:34] chrisknoll commented on #180
I'm not seeing any of that in my version of the cdm vocabulary ```v5.0 01-DEC-17```.

@cgreich : is the figure presented by @gowthamrao based on concept_ancestor, or is there something else that is driving this view?

[2018-06-25 18:02] chrisknoll commented on #180
Update, we got the ```v5.0 09-JUN-18``` version installed, and it does appear we have type concepts in concept ancestor:

[code]

Yields:

[code]

Interesting to see so many condition types, here's the hierarchy query:

[code]

But all these rows say there is only 1 child (indicating that there isn't actually a hierarchy to any of these condition types). So, it's a little mysterious about how we u

[2018-06-25 18:19] dimshitc commented on #142
well, those places of services are already non-standard:
SELECT *
FROM CONCEPT
WHERE CONCEPT_ID IN (
42627879,42627880,42627881,42627882,42627883,42627884,42627913,42627922,42627923,42627924,42627925,42627926,42627927,42627966,42627967,42627968,42627969,42627970,42627971,42627972,42627973,42627974,42627975,42628011,42628012,42628013,42628014,42628015,42628016,42628034,42628047,42628048,42628049,42

[2018-06-25 18:21] dimshitc commented on #94
Oh, seems I missed this one.
I'll send her an e-mail.

[2018-06-25 18:55] dimshitc commented on #94
select * from  concept  a where a.concept_id not in (
select a.concept_id  from   devv5.concept  a
join   concept_relationship r on a.concept_id = r.concept_Id_1 and r.invalid_reason is null
join   concept b on b.concept_id  = r.concept_id_2
where a.vocabulary_id = 'RxNorm' and a.concept_class_id = 'Ingredient' and b.vocabulary_id ='MeSH'
)
and a.vocabulary_id = 'RxNorm' and a.concept_class_id = '

[2018-06-27 00:40] cgreich commented on #119
Nope. Still working on the ATC problem. there is a Working Group now, led by Hamed.

[2018-06-27 00:53] cgreich commented on #121
So, two things:

1) With ATC, the hierarchy is not complete, meaning, the son of your son may not be your grandson. The reasons is this: ATC defines ingredients in combination with indications, forms or strength. For example, an opthalmological doxycyclin cream has doxycyclin as the descendant, and doxycyclin has some systemic solution for injection as a descendant. And yet ophthalmological doxycy